.grid .pic {
	width: 160px;
	height: 160px;
	border: solid 1px #ccc;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.grid .pic a {
	display: table-cell;
	width: 160px;
	height: 160px;
	vertical-align: middle; *
	display: block; *
	font: 140px/ 1 Arial;
}

.grid .pic a img {
	vertical-align: middle;
	max-width: 160px;
	max-height: 160px;
}

.grid ul:after {
	content: "\20";
	display: block;
	height: 0;
	clear: both;
}

.grid ul {
	margin: 10px 0;
	zoom: 1;
}

.grid li {
	float: left;
	width: 175px;
	_width: 170px;
	margin: 0 0 20px 6px;
}

.grid .item {
	width: 160px;
	margin: auto;
	text-align: center;
	position: relative;
}

.grid .desc {
	height: 42px;
	padding-top: 5px;
	line-height: 1.2;
	overflow: hidden; *
	word-break: break-all; *
	word-wrap: break-word;
}

.grid .price {
	padding-top: 5px;
	overflow: hidden;
	white-space: nowrap;
}

.grid .price span {
	padding-right: 4px;
	color: #999;
}

.grid .price strong {
	font-weight: 700;
	color: #f60;
}

.grid .sales-amount {
	color: #666;
	height: 18px;
	padding-top: 5px;
}

.grid .sales-amount em {
	color: #CEAA00;
	font-weight: 700;
	padding: 0 .5em;
}

.grid .price .market {
	display: none;
}

.grid .more-items {
	height: 20px;
	margin: 5px;
}

.more-items a {
	float: right;
	width: 80px;
	height: 20px;
	margin-left: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	border: 1px solid #e65c00;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #f60;
	background-image: -moz-linear-gradient(top, #ffb75a, #f60);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffb75a),
		color-stop(1, #f60) );
	filter: progid :                                
		          DXImageTransform.Microsoft.gradient (            
		  
		       
		                   startColorStr =                     
		                     '#ffb75a', EndColorStr =    
		                             
		        '#ff6600' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffb75a',EndColorStr='#ff6600')"
		;
}

.grid .mode .mode-row {
	background-position: 0 -24px;
}

.grid .mode .mode-grid {
	background-position: -48px -24px;
}

.grid-100 li {
	margin: 0px 4px 5px 5px;
	_margin: 0px 5px 5px 3px;
	width: 100px;
	overflow: hidden;
}

.grid-100 .item,.tb-shop .grid-100 .item {
	width: 100px;
}

.grid-100 .pic,.tb-shop .grid-100 .pic {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	_width: 98px;
}

.grid-100 .pic a,.tb-shop .grid-100 .pic a {
	width: 100px;
	height: 100px; *
	font-size: 87px;
	_width: 98px;
}

.tb-shop .grid-100 .item .pic a:hover {
	width: 98px;
	height: 98px;
}

.grid-100 .pic a img,.tb-shop .grid-100 .pic a img {
	max-width: 100px;
	max-height: 100px;
}

.grid-110 li {
	margin: 0px 4px 5px 5px;
	_margin: 0px 5px 5px 3px;
	width: 110px;
	overflow: hidden;
}

.grid-110 .item,.tb-shop .grid-110 .item {
	width: 110px;
}

.grid-110 .pic,.tb-shop .grid-110 .pic {
	width: 110px;
	height: 110px;
	margin: 0 auto;
	_width: 108px;
}

.grid-110 .pic a,.tb-shop .grid-110 .pic a {
	width: 110px;
	height: 110px; *
	font-size: 96px;
	_width: 108px;
}

.tb-shop .grid-110 .item .pic a:hover {
	width: 108px;
	height: 108px;
}

.grid-110 .pic a img,.tb-shop .grid-110 .pic a img {
	max-width: 110px;
	max-height: 110px;
}

.smaller li {
	width: 80px;
	margin: 0 8px 8px;
	_margin: 0 6px 8px;
	_overflow: hidden;
}

.grid-m .main-wrap .smaller li,.grid-m0 .main-wrap .smaller li {
	width: 102px;
}

.grid-m0s5 .main-wrap .smaller li,.grid-s5m0 .main-wrap .smaller li {
	width: 92px;
}

.smaller .item,.tb-shop .smaller .item {
	width: 80px;
}

.smaller .pic,.tb-shop .smaller .pic {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	_width: 78px;
}

.smaller .pic a,.tb-shop .smaller .pic a {
	width: 80px;
	height: 80px; *
	font-size: 70px;
	_width: 78px;
}

.tb-shop .smaller .item .pic a:hover {
	width: 78px;
	height: 78px;
}

.smaller .pic a img,.tb-shop .smaller .pic a img {
	max-width: 80px;
	max-height: 80px;
}

.grid-m .smaller li {
	margin: 0 18px 20px;
	_margin: 0 16px 20px;
}

.small li {
	width: 120px;
	margin: 0 8px 20px;
	_overflow: hidden;
}

.grid-m .main-wrap .small li,.grid-m0 .main-wrap .small li {
	width: 142px;
}

.grid-m0s5 .main-wrap .small li,.grid-s5m0 .main-wrap .small li {
	width: 132px;
}

.small .item,.tb-shop .small .item {
	width: 120px;
}

.small .pic,.tb-shop .small .pic {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	_width: 118px;
}

.small .pic a,.tb-shop .small .pic a {
	width: 120px;
	height: 120px; *
	font-size: 108px;
	_width: 118px;
}

.tb-shop .small .item .pic a:hover {
	width: 118px;
	height: 118px;
}

.small .pic a img,.tb-shop .small .pic a img {
	max-width: 120px;
	max-height: 120px;
}

.small .price span {
	display: none;
}

.grid-m .small li {
	margin: 0 18px 20px;
	_margin: 0 16px 20px;
}

.big li {
	width: 222px;
	margin: 0 12px 20px;
	_margin: 0 8px 20px;
}

.big .item {
	width: 222px;
}

.big .pic {
	width: 220px;
	height: 220px;
}

.big .pic a {
	width: 220px;
	height: 220px; *
	font-size: 200px;
}

.big .pic a img {
	max-width: 220px;
	max-height: 220px;
}

.grid-m .big li {
	margin: 0 6px 20px;
}

.row li {
	height: 48px;
	margin-bottom: 7px;
	padding: 32px 0 7px 90px;
	border-bottom: dashed 1px #ccc;
}

.row .pic {
	position: relative;
	float: left;
	width: 80px;
	height: 80px;
	margin: -32px 0 0 -90px;
	text-align: center;
	border: 1px solid #E4E4E4;
	_display: inline;
}

.row .pic a {
	width: 80px;
	height: 80px;
	display: table-cell;
	vertical-align: middle; *
	display: block; *
	font: 72px/ 1 Arial;
}

.row .pic a img {
	max-width: 80px;
	max-height: 80px;
	vertical-align: middle;
}

.row .desc {
	float: left;
	width: 400px;
	text-align: left;
}

.row .price {
	float: left;
	width: 178px;
}

.row .price strong {
	margin-left: .5em;
	background: url("http://a.tbcdn.cn/sys/common/img/rmb.png") no-repeat
		scroll 0 0 transparent;
	color: #F50;
	font-size: 14px;
	padding-left: 16px;
}

.row .remain-date {
	float: left;
	width: 68px;
}

.row .price .market,.row .sales-amount,.row .rating {
	display: none;
}

.col-sub .shop-display .big .shop-list { *
	width: 185px; *
	overflow: hidden;
}