/**搜索框(没有皮肤)**/
.item-search .bd {
	padding-top: 10px;
}

.item-search-form {
	margin: 0px auto;
	padding-top: 26px;
	padding-bottom: 10px;
	width: 504px;
	position: relative;
}

.item-search-form fieldset {
	border: 0px;
}

.item-search-form legend {
	display: none;
}

.search-tab {
	left: 0px;
	position: absolute;
	top: 0px;
	height: 24px;
	line-height: 24px;
	margin-left: 0px;
}

.search-tab li {
	width: 54px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	float: left;
	cursor: hand;
}

.search-tab li a {
	text-decoration: none;
	color: #000;
}

.search-tab li a:hover {
	color: #f50;
	text-decoration: none;
}

.search-tab li.selected {
	background: url(/assets/min/stylesheets/images/bg_so_type.gif) no-repeat
		;
	color: #000;
	font-weight: bold;
}

.search-tab li.selected a:link {
	color: #000000 !important;
	font-weight: bold;
}

.item-search-form button {
	background: url(/assets/min/images/T1.udLXn4aXXXXXXXX.png) repeat-x;
}

.search-auto {
	margin: 0px;
	padding: 0px;
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	padding-right: 10px;
	background: url('/assets/min/stylesheets/images/bg_search.png')
		no-repeat;
	float:left;
	overflow: hidden; *
	zoom: 1;
}

.search-auto::after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}

.item-search-form input.focus {
	color: black;
}

.item-search-form .search-input {
	float:left;
	vertical-align: middle;
	height: 26px;
	line-height: 26px;
	border: 0px;
	padding-left: 20px;
	padding-right: 5px;
	width: 340px;
	background: url("/assets/min/stylesheets/images/bg_search_input.gif")
		no-repeat scroll 0 50% transparent;
	color: #999;
	margin: 0px;
	margin-top: 6px;
}

.item-search-form #search-button {
	float:right;
	width: 77px;
	height: 28px;
	line-height: 38px;
	background: url("/assets/min/stylesheets/images/bg_search_button.gif")
		no-repeat;
	border: 0px;
	cursor: pointer;
	margin-top: 0px;
}

.item-search ul.words {
	height: 25px;
	list-style: none;
	overflow: hidden;
	padding: 0px 4px;
}

.item-search ul.words li {
	display: inline;
	float: left;
	line-height: 25px;
}

.item-search ul.words li a {
	color: #0065FF;
	padding: 0px 4px;
	text-decoration: none;
	white-space: nowrap;
}

.item-search ul.words li a:hover {
	color: #F60;
	text-decoration: underline;
}

/**Suggest**/
.acInput {
	width: 200px;
}

.acResults {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
	z-Index: 100000000;
}

.acResults ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.acResults li {
	margin: 0px;
	padding: 1px 0 2px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.acLoading {
	background: url('/assets/min/stylesheets/images/indicator.gif') right
		center no-repeat;
}

.ks-suggest-key {
	float: left;
	text-align: left;
	padding-left: 5px;
}

.ks-suggest-result {
	float: right;
	text-align: right;
	padding-right: 5px;
	color: green;
}

.acSelect {
	background-color: Highlight;
	color: HighlightText;
}

.acSelect  span {
	color: white;
	cursor: default;
}