.tb-shop .box .shop-custom .bd {
	padding: 5px 0 0;
	line-height: 1.2;
}

.expanded .shop-custom {
	width: 100% !important;
}

.custom-area table {
	margin: 0 auto;
	border-collapse: separate;
}

.custom-area p {
	line-height: 1.4;
}

.custom-area strong {
	font-weight: 700;
}

.custom-area em {
	font-style: italic;
}

.custom-area img,object {
	vertical-align: middle;
	vertical-align: baseline\9;
}

/*广告牌*/
.shop-flashshow .bd {
	overflow: hidden;
	padding: 0 !important;
	border-width: 0;
}