.shop-search input {
	padding: 2px 0 1px 3px;
	border: 1px solid #a7a6aa;
}

.shop-search .bd {
	padding: 0 !important;
}

.shop-search ul {
	padding: 10px 10px 0;
	line-height: 21px;
	zoom: 1;
}

.shop-search ul:after,.shop-search li:after {
	content: "\20";
	display: block;
	height: 0;
	clear: both;
}

.shop-search li {
	height: 25px;
	padding-left: 50px;
	zoom: 1;
}

.shop-search li label {
	float: left;
	margin-left: -50px;
	text-align: right;
	width: 50px;
}

.shop-search .keyword input {
	width: 109px;
}

.shop-search .price input {
	width: 40px;
}

.shop-search .hotkeywords {
	height: auto;
}

.col-sub .shop-search li,.col-extra .shop-search li {
	margin-bottom: 7px;
}

.main-wrap .shop-search li {
	float: left;
	padding-bottom: 5px;
}

.main-wrap .shop-search .submit {
	padding-left: 10px;
}

.shop-search-x .bd {
	padding: 0;
	border-width: 0;
}

.shop-search-x .search-x {
	zoom: 1;
	height: 25px;
	padding: 5px 5px 5px 10px;
	line-height: 25px;
	background-color: #ededed;
}

.shop-search-x .search-x:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}

.shop-search-x .form {
	float: left;
	position: relative;
	z-index: 1;
}

.shop-search-x .form label {
	position: absolute;
	z-index: 1;
	left: 25px;
	color: #888;
}

.shop-search-x .focus label {
	visibility: hidden;
}

.shop-search-x .text {
	float: left;
	height: 18px;
	width: 280px;
	padding: 2px 0 3px 18px; *
	padding-top: 4px;
	border: 1px solid #C8C1BB;
	margin-right: .5em;
	background-color: #fff;
	background-position: -110px -38px;
}

.shop-search-x .button {
	margin-top: 2px;
}

.shop-search-x .keys {
	float: right;
	width: 500px;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}