.shop-dianpu-cat .bd {
	padding: 0px;
}

.shop-dianpu-cat ul {
	overflow: hidden
}

.shop-dianpu-cat ul li {
	border-bottom: 1px dashed #d1d1d1;
	padding: 9px 0 9px 13px;
	line-height: 22px;
	overflow: hidden;
	background:
		url(http://img01.taobaocdn.com/tps/i1/T1lRF5Xh0tXXXXXXXX-24-1086.png)
		no-repeat 8px 8px
}

.shop-dianpu-cat ul li:hover {
	background-color: #fff2e8
}

.shop-dianpu-cat a {
	color: #606060;
	margin-right: 8px;
	display: inline-block
}

.shop-dianpu-cat ul li h3 {
	padding-left: 25px
}

.shop-dianpu-cat ul li h3 a {
	color: #515151;
	font-size: 14px
}

.shop-dianpu-cat ul li.last {
	border-bottom: none
}

.shop-dianpu-cat li.dianpu-nanzhuang {
	background-position: 8px -71px;
}

.shop-dianpu-cat li.dianpu-neiyi {
	background-position: 8px -149px;
}

.shop-dianpu-cat li.dianpu-nvxie {
	background-position: 8px -227px;
}

.shop-dianpu-cat li.dianpu-nanxie {
	background-position: 8px -316px;
}

.shop-dianpu-cat li.dianpu-yundong {
	background-position: 8px -400px;
}

.shop-dianpu-cat li.dianpu-xiangbao {
	background-position: 8px -483px;
}

.shop-dianpu-cat li.dianpu-meirong {
	background-position: 8px -578px;
}

.shop-dianpu-cat li.dianpu-peijian {
	background-position: 8px -676px;
}

.shop-dianpu-cat li.dianpu-muying {
	background-position: 8px -780px;
}

.shop-dianpu-cat li.dianpu-shuma {
	background-position: 8px -875px;
}

.shop-dianpu-cat li.dianpu-shipin {
	background-position: 8px -960px;
}

.shop-dianpu-cat li.dianpu-jujia {
	background-position: 8px -1047px;
}