#J_Category {
	height: 290px;
}

.shop-mall-category .bd {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

.mall-category i {
	background:
		url(http://img04.taobaocdn.com/tps/i4/T1mC4TXfpqXXXXXXXX-56-210.png)
		no-repeat;
}

.mall-category {
	position: relative;
	z-index: 15;
	border: 2px solid #333;
}

.mall-category .title {
	height: 20px;
}

.mall-category .title a {
	display: block;
	padding-left: 15px;
	height: 20px;
	line-height: 22px;
	font-size: 12px;
	font-weight: 700;
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

.mall-category .title a:visited {
	text-decoration: none;
}

.mall-category .title a:hover {
	text-decoration: underline;
}

.mall-category .entity {
	overflow: hidden;
}

.mall-category .items {
	margin: -2px 5px 0;
	padding-top: 1px;
	background-color: #fff;
	overflow: hidden;
}

.mall-category .item {
	background-color: #fff;
}

.mall-category .g4 {
	border-bottom: 1px solid #f3f3f3;
	padding-bottom: 2px;
}

.mall-category .item a {
	padding-left: 10px;
	display: block;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
	text-decoration: none;
	border-top: 1px solid #f2f2f2;
}

.mall-category .item .c4,.mall-category .item .c7,.mall-category .item .c11
	{
	padding-bottom: 1px;
}

.mall-category .item a:hover,.mall-category .selected a {
	font-weight: 700;
	padding-left: 10px;
	color: #fff;
	background-color: #8C0B01;
}

.mall-category .all {
	height: 30px;
	padding-left: 20px;
	line-height: 25px;
	padding-bottom: 5px;
	margin: -2px -3px 0 -3px;
	background-position: 0 -538px;
}

.mall-category .all a {
	color: #666;
}

.mall-category .item a:hover i, ,.mall-category .selected a i {
	display: none;
}

.mall-category .item i {
	float: right;
	width: 5px;
	height: 7px;
	margin-top: 8px;
	margin-right: 10px;
	background-position: 0 -117px;
}

.pop-subcategory {
	position: absolute;
	z-index: 100;
	top: 30px;
	left: 145px;
	background-color: #c2adab;
}

.pop-subcategory .shadow {
	position: relative;
	top: -2px;
	left: -2px;
	width: 294px;
	overflow: hidden;
	border: 3px solid #8c0b01;
	background: #fdf5f5
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJQTFRF6N3d8Ofn8Obm5tvb9u3t+vLywN3KHAAAABRJREFUeNpiYGBkYWVgZkImAAIMAAHpADV5b4+2AAAAAElFTkSuQmCC)
		294px 0 repeat-y;
}

.J_MallPopSubCategory .shadow {
	width: 444px;
	background: #fdf5f5
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJQTFRF6N3d8Ofn8Obm5tvb9u3t+vLywN3KHAAAABRJREFUeNpiYGBkYWVgZkImAAIMAAHpADV5b4+2AAAAAElFTkSuQmCC)
		444px 0 repeat-y;
}

.pop-subcategory .entity-main,.pop-subcategory .lst-subcategory,.pop-subcategory .lst-top
	{
	min-height: 330px;
}

.pop-subcategory dt i {
	width: 6px;
	height: 9px;
	margin: 0 3px 3px;
	background-position: -347px -204px;
}

.pop-subcategory b {
	position: absolute;
	z-index: 1;
	width: 3px;
	height: 3px;
	overflow: hidden;
}

.pop-subcategory b.tl {
	top: -3px;
	left: -3px;
	background-position: -354px -220px;
}

.pop-subcategory b.tr {
	top: -3px;
	right: -5px;
	background-position: -347px -222px;
}

.pop-subcategory b.bl {
	bottom: -5px;
	left: -3px;
	background-position: -193px -187px;
}

.pop-subcategory b.br {
	bottom: -5px;
	right: -5px;
	background-position: -198px -187px;
}

.pop-subcategory .lst-subcategory {
	padding-left: 10px;
	width: 284px;
	background-color: #fff;
}

.J_MallPopSubCategory .lst-subcategory {
	width: 434px;
}

.pop-subcategory .lst-subcategory h3 {
	padding: 0;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 700;
}

.pop-subcategory .lst-subcategory dl {
	position: relative;
	line-height: 31px;
}

.pop-subcategory .lst-subcategory dt,.pop-subcategory .lst-subcategory dt a
	{
	height: 31px;
	font-weight: 700;
	color: #8c0b01;
	clear: both;
}

.J_MallPopSubCategory .lst-subcategory dt {
	font-weight: normal;
	width: 210px;
	float: left;
	clear: none;
}

.J_MallPopSubCategory .lst-subcategory dt a {
	width: 200px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	font-weight: normal;
}

.J_MallPopSubCategory .lst-subcategory dt a strong {
	color: red;
}

.pop-subcategory .ks-active dt {
	margin-left: -10px;
	padding-left: 10px;
	background-color: #fdf5f5;
	zoom: 1;
}

.pop-subcategory .lst-subcategory dd {
	margin-top: -31px;
	min-height: 31px;
	padding-left: 70px;
	background:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAfCAMAAAD6IOxTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF8PDw////////fptIagAAAAN0Uk5T//8A18oNQQAAABJJREFUeNpiYGJioBFiYAQIMAAW3gB6QXH2RgAAAABJRU5ErkJggg==)
		repeat;
	zoom: 1;
}

.pop-subcategory .lst-subcategory dd a {
	padding: 0 8px;
	border-left: 1px solid #f1e3e3;
	color: #8c0b01;
	float: left;
	height: 15px;
	margin: 8px 0;
	line-height: 15px;
	white-space: nowrap;
}