h2.baobao-title {
	height: 28px;
	position: relative;
	line-height: 28px;
	border-bottom: 2px solid #9966CB;
	padding-left: 5px;
}

h2.baobao-title span {
	padding-left: 5px;
	color: #9966CB;
	font-size: 12px;
}

h2.baobao-title span.notice {
	position: absolute;
	right: 5px;
	top: 0;
	font-size: 12px;
	color: #505050;
	font-weight: normal;
}

h2.baobao-title span.notice a,h2.baobao-title span.notice a:link,h2.baobao-title span.notice a:visited
	{
	margin-right: 3px;
	color: #505050;
}

h2.baobao-title span.notice a.more {
	background: none;
	padding-right: 6px;
	margin-left: 30px;
}

h2.baobao-title-green {
	background-color: #E5FFE4
}

h2.baobao-title-orange {
	background-color: #FFE2DE
}

h2.baobao-title-blue {
	background-color: #E6F3FC
}

h2.baobao-title-pink {
	background-color: #FBE6F7
}

.child-grid {
	float: left;
}

.child-grid div.c-c {
	top: 85px;
}

.child-grid li {
	float: left;
	margin: 5px 5px 0 0px;
	padding: 0;
	display: inline;
	width: 130px;
	overflow: hidden;
	position: relative;
}

.child-grid li a {
	display: block;
	border: 2px solid #fff;
	padding: 6px 10px;
}

.grid-m .child-grid li {
	width: 120px;
}

.grid-m .child-grid li a {
	padding-left: 5px;
	padding-right: 5px;
}

.child-grid li a img {
	margin: 0px auto 5px;
	display: block;
}

.child-grid li span {
	white-space: nowrap;
	text-align: center;
	line-height: 18px;
}

.child-grid li strong {
	font-weight: bolder;
	color: #d02200;
	line-height: 22px;
	display: block;
	text-align: center;
}

.child-grid li a span,.child-grid li a span em,.child-grid li a span b,.child-grid li a span del
	{
	display: block;
}

.child-grid li a span em {
	text-align: center;
}

.child-grid li a span b {
	font-size: 16px;
	color: #820B8B;
	text-align: center;
}

.child-grid li a span del {
	color: #808080;
	text-align: center;
}

.child-grid li a:link,.baobao-effect ul li a:visited {
	color: #666;
}

.child-grid li a:hover {
	color: #992F89;
	text-decoration: none;
	border: 2px solid #E8DAF3;
}

.child-grid li .baobao-effect-num {
	text-align: center;
	background-color: #F2F2F2;
}