.baobao_cat ul {
	float: left;
	width: 230px;
}

.baobao_cat ul li {
	float: left;
	border-right: 1px solid #ddd;
	margin-top: 2px;
	line-height: 12px;
	margin-top: 10px;
}

.baobao_cat ul li a {
	white-space: nowrap;
	margin: 0 3px;
	color: #666;
}

.baobao_cat li.hotword a:link,.baobao_cat li.hotword a:visited {
	color: #830A8B;
}

.baobao_cat_b ul {
	clear: both;
}

.baobao_cat_con {
	float: left;
	width: 100px;
	margin-right: 10px;
}

.baobao_cat_con h3 {
	text-align: center;
}

.baobao_cat_con ul {
	width: 100px;
}

.baobao_cat_con img {
	display: block;
	margin: 5px auto 0px;
}

.tab-list {
	margin-bottom: 10px;
}

.tab-list .tab-list-title {
	
}

.tab-list .tab-list-title ul {
	width: 100%;
}

.tab-list .tab-list-title ul li {
	float: left;
	width: 19%;
	border-right: none;
	position: relative;
	background-color: #fff;
	height: 25px;
	line-height: 25px;
}

.tab-list .tab-list-title ul li a {
	display: block;
	text-align: center;
	font-size: 12px;
	font-weight: bolder;
	margin: 0;
}

.tab-list .tab-list-title ul li a:hover {
	text-decoration: none;
	cursor: pointer;
}

.tab-list .tab-list-title ul li.current {
	height: 26px;
	line-height: 26px;
	border: 2px solid #9966CB;
	border-bottom: none;
	background-color: #FAF4FF;
}

.tab-list .tab-list-title ul li.current a {
	color: #9966CB;
	font-size: 14px;
}

.tab-list .tab-list-con {
	float: left;
	border: 2px solid #9966CB;
	margin-top: -2px;
	display: none;
	padding: 0 10px 12px 10px;
}

.tab-list .tab-list-con ul {
	width: 218px;
	margin: 0 5px;
}

.tab-list .tab-list-con ul li {
	margin-left: 5px;
}

.tab-list .tab-list-con ul li a {
	margin-right: 8px;
}

.tab-list .tab-list-con.current {
	display: block;
	background-color: #FAF4FF;
}