.tab-nav {
	position: relative;
	z-index: 2;
	width: 950px;
	height: 32px;
	margin: 0 auto;
}

.tab-nav ul.nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 700px;
	height: 34px;
	line-height: 32px;
}

.tab-nav li.item {
	text-align: center;
	float: left;
	font-size: 14px;
	position: relative;
	display: inline;
}

.tab-nav li.item .dib {
	display: inline-block;
	vertical-align: top; *
	display: inline; *
	zoom: 1;
}

.tab-nav li.item b {
	position: absolute;
	top: 4px;
	left: -1px;
	width: 0;
	height: 24px;
	overflow: hidden;
	z-index: -2;
}

.tab-nav li.item a {
	height: 32px;
	overflow: hidden;
	padding: 0 18px;
	white-space: nowrap;
	-webkit-transition: all .2s ease-in-out;
}

.tab-nav li.item:hover b.dib {
	display: none;
}

.tab-nav .cross-chl {
	position: absolute;
	top: 0;
	right: 0;
	width: 230px;
	height: 34px;
	line-height: 32px;
}

.tab-nav .cross-chl li {
	display: inline;
	float: left;
	margin-left: 10px;
}

.tab-nav .cross-chl li a {
	padding: 2px 5px 3px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.sub-menu-popup {
	width: 906px;
	height: 150px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 38px;
	z-index: 109;
	padding: 5px 20px 16px;
	overflow: hidden;
	display: none;
}

.sub-menu-popup .emphasis {
	font-weight: bold;
}

.sub-menu-popup .s-l {
	width: 560px;
	float: left;
	height: 150px;
	border-right: 1px solid #fff;
}

.sub-menu-popup .s-l dl {
	width: 110px;
	float: left;
}

.sub-menu-popup dd {
	text-align: left;
	height: auto;
	float: left;
	width: 110px;
	overflow: hidden;
}

.sub-menu-popup dd a {
	float: left;
	height: 27px;
	line-height: 27px;
	margin: 0;
	width: auto;
	padding: 0 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	width: 100%;
}

.sub-menu-popup dd a:hover {
	text-decoration: none;
}

.sub-menu-popup .s-r {
	float: right;
	border-left: 1px solid #ded2d5;
	width: 330px;
	height: 150px;
	padding-left: 12px;
	line-height: 25px;
}

.sub-menu-popup .s-r h4 {
	text-align: left;
}

.sub-menu-popup .sort-brand {
	width: 220px;
	float: left;
}

.sub-menu-popup .sort-keywords {
	width: 110px;
	float: right;
}

.submenu-active-item b.dib {
	display: none;
}

.tab-nav li.current {
	background-position: 0 0;
}

.tab-nav li.current a:hover {
	background: none;
}

.tab-nav ul.nav,.tab-nav .nav .item {
	height: 38px;
}

.tab-nav .cross-chl li a {
	background-position: -714px 0;
}

.tab-nav .cross-chl li a:hover {
	background-position: -872px 0;
	text-decoration: none;
}

/**淘妆皮肤样式开始：参考http://www.taobao.com/go/act/sale/tzpdxgsx.php?TBG=40978.71102.1&ad_id=&am_id=&cm_id=140044362118c78dba84&pm_id=**/
.sub-menu-popup-taozhuang {
	border: solid 3px #bd1c49;
}

.sub-menu-popup-taozhuang .emphasis,.sub-menu-popup-taozhuang dd a,.sub-menu-popup-taozhuang .s-r h4
	{
	color: #e84d79;
}

.sub-menu-popup-taozhuang dd a:hover {
	color: #fff;
	background: #e84d79;
}

.tab-nav-taozhuang,.tab-nav-taozhuang .cross-chl li a,.tab-nav-taozhuang li.current
	{
	background-image:
		url(http://img04.taobaocdn.com/tps/i4/T1TSR.XfRzXXXXXXXX-1100-74.png);
	background-repeat: no-repeat;
}

.tab-nav-taozhuang {
	background-color: #d85e80;
	background-position: 50% -39px;
	border-bottom: 2px solid #e5e5e5;
}

.tab-nav-taozhuang li.item b {
	border-left: 1px dotted #F4B5CD;
}

.tab-nav-taozhuang li.item a:hover {
	background: #bd1c49;
	text-decoration: none;
}

.tab-nav-taozhuang li.item a {
	color: #fcfef4;
}

.tab-nav-taozhuang .cross-chl li a {
	color: #fffbe5;
}

.tab-nav-taozhuang .submenu-active-item {
	background: #bd1c49;
}

/**女鞋皮肤样式开始：参考http://www.taobao.com/market/sale/tbnxxpfb.php?TBG=41189.81897.1&ad_id=&am_id=&cm_id=1400445160a8d6b40c9b&pm_id=%3E**/
.tab-nav-nvxie,.tab-nav-nvxie .cross-chl li a,.tab-nav-nvxie li.current
	{
	background-image:
		url(http://img03.taobaocdn.com/tps/i3/T1NXpQXjVlXXXXXXXX-980-74.png);
	background-repeat: no-repeat;
}

.tab-nav-nvxie {
	background-color: #560c16;
	background-position: 50% -39px;
	border-bottom: 2px solid #e5e5e5;
}

.tab-nav-nvxie li.item b {
	border-left: 1px dotted #95434a;
}

.tab-nav-nvxie li.item a:hover {
	background: #9c2d3b;
	text-decoration: none;
}

.tab-nav-nvxie li.item a {
	color: #fffbe5;
}

.tab-nav-nvxie .cross-chl li a {
	color: #fff;
}

.sub-menu-popup-nvxie {
	border: solid 3px #9c2d3b;
}

.sub-menu-popup-nvxie .emphasis,.sub-menu-popup-nvxie dd a,.sub-menu-popup-nvxie .s-r h4
	{
	color: #560C16;
}

.sub-menu-popup-nvxie dd a:hover {
	color: #fff;
	background: #560C16;
}

.tab-nav-nvxie .submenu-active-item {
	background: #9c2d3b;
}

/**箱包皮肤样式开始：参考http://www.taobao.com/market/sale/bbxjsp.php?TBG=41191.71837.1&ad_id=&am_id=&cm_id=1400440340097dba256c&pm_id=**/
.tab-nav-xiangbao,.tab-nav-xiangbao .cross-chl li a,.tab-nav-xiangbao li.current
	{
	background-image:
		url(http://img03.taobaocdn.com/tps/i3/T1GrVSXXFzXXXXXXXX-980-71.png)
		!important;
	background-repeat: no-repeat;
}

.tab-nav-xiangbao {
	background-color: #735437;
	background-position: 50% -39px;
	border-bottom: 2px solid #e5e5e5;
}

.tab-nav-xiangbao li.item b {
	border-left: 1px dotted #b69470;
}

.tab-nav-xiangbao li.item a:hover {
	background: #c2995f;
	text-decoration: none;
}

.tab-nav-xiangbao li.item a {
	color: #fffbe5;
}

.tab-nav-xiangbao .cross-chl li a {
	color: #fffbe5;
}

.sub-menu-popup-xiangbao {
	border: solid 3px #c2995f;
}

.sub-menu-popup-xiangbao .emphasis,.sub-menu-popup-xiangbao dd a,.sub-menu-popup-xiangbao .s-r h4
	{
	color: #735437;
}

.sub-menu-popup-xiangbao dd a:hover {
	color: #fff;
	background: #735437;
}

.tab-nav-xiangbao .submenu-active-item {
	background: #c2995f;
}

/**家电皮肤样式开始：参考http://www.taobao.com/market/sale/tbxjdj.php?TBG=41121.71439.1&ad_id=&am_id=&cm_id=1400445385113687dd17&pm_id=**/
.tab-nav-jiadian,.tab-nav-jiadian .cross-chl li a,.tab-nav-jiadian li.current
	{
	background-image:
		url(http://img01.taobaocdn.com/tps/i1/T1B0lSXopcXXXXXXXX-984-71.png)
		!important;
	background-repeat: no-repeat;
}

.tab-nav-jiadian {
	background-color: #144999;
	background-position: 50% -39px;
	border-bottom: 2px solid #e5e5e5;
}

.tab-nav-jiadian li.item b {
	border-left: 1px dotted #144999;
}

.tab-nav-jiadian li.item a:hover {
	background: #568ee3;
	text-decoration: none;
}

.tab-nav-jiadian li.item a {
	color: #fffbe5;
}

.tab-nav-jiadian .cross-chl li a {
	color: #fffbe5;
}

.sub-menu-popup-jiadian {
	border: solid 3px #568ee3;
}

.sub-menu-popup-jiadian .emphasis,.sub-menu-popup-jiadian dd a,.sub-menu-popup-jiadian .s-r h4
	{
	color: #144999;
}

.sub-menu-popup-jiadian dd a:hover {
	color: #fff;
	background: #144999;
}

.tab-nav-jiadian .submenu-active-item {
	background: #568ee3;
}

/**布能没有你皮肤样式开始：参考http://www.taobao.com/market/sale/bnmyn.php?ad_id=&am_id=1300436575adbd8c8c9f&cm_id=&pm_id=**/
.tab-nav-buyi,.tab-nav-buyi .cross-chl li a,.tab-nav-buyi li.current {
	background-image:
		url(http://img04.taobaocdn.com/tps/i4/T1QBJ4XXXcXXXXXXXX-980-74.png);
	background-repeat: no-repeat;
}

.tab-nav-buyi {
	background-color: #733e08;
	background-position: 50% -39px;
	border-bottom: 2px solid #e5e5e5;
}

.tab-nav-buyi li.item b {
	border-left: 1px dotted #b69470;
}

.tab-nav-buyi li.item a:hover {
	background: #e0a549;
	text-decoration: none;
}

.tab-nav-buyi li.item a {
	color: #fffbe5;
}

.tab-nav-buyi .cross-chl li a {
	color: #fffbe5;
}

.sub-menu-popup-buyi {
	border: solid 3px #e0a549;
}

.sub-menu-popup-buyi .emphasis,.sub-menu-popup-buyi dd a,.sub-menu-popup-buyi .s-r h4
	{
	color: #733e08;
}

.sub-menu-popup-buyi dd a:hover {
	color: #fff;
	background: #733e08;
}

.tab-nav-buyi .submenu-active-item {
	background: #e0a549;
}

/**母婴皮肤样式开始：参考http://www.taobao.com/market/muyin/jinpintg.php?TBG=40977.81894.1&ad_id=&am_id=&cm_id=14004317601807f024ff&pm_id=**/
.tab-nav-muying,.tab-nav-muying .cross-chl li a,.tab-nav-muying li.current
	{
	background-image:
		url(http://img01.taobaocdn.com/tps/i1/T1u0dSXn8gXXXXXXXX-980-71.png)
		!important;
	background-repeat: no-repeat;
}

#header #logo .sub-logo {
	background-position: -178px 4px;
}

.tab-nav-muying {
	background-color: #fa4e86;
	background-position: 50% -39px;
	border-bottom: 2px solid #E5E5E5;
}

.tab-nav-muying li.item b {
	border-left: 1px dotted #ffc1da;
}

.tab-nav-muying li.item a:hover {
	background: #ffa9b2;
	text-decoration: none;
}

.tab-nav-muying li.item a {
	color: #fff;
}

.tab-nav-muying .cross-chl li a {
	color: #fff;
}

.sub-menu-popup-muying {
	border: solid 3px #ffa9b2;
}

.sub-menu-popup-muying .emphasis,.sub-menu-popup-muying dd a,.sub-menu-popup-muying .s-r h4
	{
	color: #fa4e86;
}

.sub-menu-popup-muying dd a:hover {
	color: #fff;
	background: #fa4e86;
}

.tab-nav-muying .submenu-active-item {
	background: #ffa9b2;
}

/**运动皮肤样式开始：参考http://sport.taobao.com/?ad_id=&am_id=&cm_id=&pm_id=**/
.tab-nav-sport,.tab-nav-sport .cross-chl li a,.tab-nav-sport li.current
	{
	background-image:
		url(http://img02.taobaocdn.com/tps/i2/T1tOXTXhVIXXXXXXXX-980-74.png)
		!important;
	background-repeat: no-repeat;
}

.tab-nav-sport {
	background-color: #74b72c;
	background-position: 50% -39px;
	border-bottom: 2px solid #d2dcc6;
}

.tab-nav-sport li.item b {
	border-left: 1px dotted #bbdc97;
}

.tab-nav-sport li.item a:hover {
	background: #9dd446;
	text-decoration: none;
}

.tab-nav-sport li.item a {
	color: #fff;
}

.tab-nav-sport .cross-chl li a {
	color: #fff;
}

.tab-nav-sport .cross-chl li a:hover {
	color: #457417;
}

.sub-menu-popup-sport {
	border: solid 3px #9dd446;
}

.sub-menu-popup-sport .emphasis,.sub-menu-popup-sport dd a,.sub-menu-popup-sport .s-r h4
	{
	color: #74b72c;
}

.sub-menu-popup-sport dd a:hover {
	color: #fff;
	background: #74b72c;
}

.tab-nav-sport .submenu-active-item {
	background: #9dd446;
}

/**手表皮肤样式开始：参考http://list.taobao.com/search_auction.htm?atype=b&cat=50005700&style=grid&random=false&viewIndex=1&isnew=2&yp4p_page=0&commend=all**/
.tab-nav-watch,.tab-nav-watch .cross-chl li a,.tab-nav-watch li.current
	{
	background-image:
		url(http://img02.taobaocdn.com/tps/i2/T1agtRXk0jXXXXXXXX-980-74.png)
		!important;;
	background-repeat: no-repeat;
}

.tab-nav-watch {
	background-color: #655a40;
	background-position: 50% -39px;
	border-bottom: 2px solid #e5e5e5;
}

.tab-nav-watch li.item b {
	border-left: 1px dotted #b2a57e;
}

.tab-nav-watch li.item a:hover {
	background: #a89c79;
	text-decoration: none;
}

.tab-nav-watch li.item a {
	color: #fff;
}

.tab-nav-watch .cross-chl li a {
	color: #fffbe5;
}

.sub-menu-popup-watch {
	border: solid 3px #a89c79;
}

.sub-menu-popup-watch .emphasis,.sub-menu-popup-watch dd a,.sub-menu-popup-watch .s-r h4
	{
	color: #655a40;
}

.sub-menu-popup-watch dd a:hover {
	color: #fff;
	background: #655a40;
}

.tab-nav-watch .submenu-active-item {
	background: #a89c79;
}

/**食品皮肤样式开始：参考http://www.taobao.com/market/food/index.php?ad_id=&am_id=&cm_id=&pm_id=**/
.tab-nav-food,.tab-nav-food .cross-chl li a,.tab-nav-food li.current {
	background-image:
		url(http://img03.taobaocdn.com/tps/i3/T1qZtSXaRmXXXXXXXX-984-71.png)
		!important;
	background-repeat: no-repeat;
}

.tab-nav-food {
	background-color: #598700;
	background-position: 50% -39px;
	border-bottom: 2px solid #e5e5e5;
}

.tab-nav-food li.item b {
	border-left: 1px dotted #b0d170;
}

.tab-nav-food li.item a:hover {
	background: #a1d34d;
	text-decoration: none;
}

.tab-nav-food li.item a {
	color: #fffbe5;
}

.tab-nav-food .cross-chl li a {
	color: #fffbe5;
}

.sub-menu-popup-food {
	border: solid 3px #a1d34d;
}

.sub-menu-popup-food .emphasis,.sub-menu-popup-food dd a,.sub-menu-popup-food .s-r h4
	{
	color: #598700;
}

.sub-menu-popup-food dd a:hover {
	color: #fff;
	background: #598700;
}

.tab-nav-food .submenu-active-item {
	background: #a1d34d;
}

/**健康皮肤样式开始：参考http://jiankang.taobao.com/?ad_id=&am_id=&cm_id=&pm_id=**/
.tab-nav-health,.tab-nav-health .cross-chl li a,.tab-nav-health li.current
	{
	background-image:
		url(http://img01.taobaocdn.com/tps/i1/T135XRXmJkXXXXXXXX.png);
	background-repeat: no-repeat;
}

.tab-nav-health {
	background-color: #00b7ba;
	background-position: 50% -39px;
	border-bottom: 2px solid #e5e5e5;
}

.tab-nav-health li.item b {
	border-left: 1px dotted #a8defd;
}

.tab-nav-health li.item a:hover {
	background: #45d4d2;
	text-decoration: none;
}

.tab-nav-health li.item a {
	color: #fff;
}

.tab-nav-health .cross-chl li a {
	color: #fff;
}

.sub-menu-popup-health {
	border: solid 3px #45d4d2;
}

.sub-menu-popup-health .emphasis,.sub-menu-popup-health dd a,.sub-menu-popup-health .s-r h4
	{
	color: #00b7ba;
}

.sub-menu-popup-health dd a:hover {
	color: #fff;
	background: #00b7ba;
}

.tab-nav-health .submenu-active-item {
	background: #45d4d2;
}

/**汽车皮肤样式开始：参考http://list.taobao.com/market/auto.htm?cat=26&sort=coefp&style=grid&random=false&viewIndex=7&yp4p_page=0&commend=all&ad_id=&am_id=&cm_id=&pm_id=#ListView**/
.tab-nav-car,.tab-nav-car .cross-chl li a,.tab-nav-car li.current {
	background-image:
		url(http://img02.taobaocdn.com/tps/i2/T1AMVUXdtiXXXXXXXX-984-71.png)
		!important;
	background-repeat: no-repeat;
}

.tab-nav-car {
	background-color: #3a4366;
	background-position: 50% -39px;
	border-bottom: 2px solid #e5e5e5;
}

.tab-nav-car li.item b {
	border-left: 1px dotted #80869f;
}

.tab-nav-car li.item a:hover {
	background: #5f6b9c;
	text-decoration: none;
}

.tab-nav-car li.item a {
	color: #fffbe5;
}

.tab-nav-car .cross-chl li a {
	color: #fffbe5;
}

.sub-menu-popup-car {
	border: solid 3px #5f6b9c;
}

.sub-menu-popup-car .emphasis,.sub-menu-popup-car dd a,.sub-menu-popup-car .s-r h4
	{
	color: #3a4366;
}

.sub-menu-popup-car dd a:hover {
	color: #fff;
	background: #3a4366;
}

.tab-nav-car .submenu-active-item {
	background: #5f6b9c;
}

/**玩具皮肤样式开始：参考http://list.taobao.com/market/wanju.htm?cat=25&sort=coefp&style=grid&random=false&viewIndex=7&yp4p_page=0&commend=all&ad_id=&am_id=&cm_id=&pm_id=#ListView**/
.tab-nav-toy,.tab-nav-toy .cross-chl li a,.tab-nav-toy li.current {
	background-image:
		url(http://img04.taobaocdn.com/tps/i4/T1p4BUXgdiXXXXXXXX-984-71.png)
		!important;
	background-repeat: no-repeat;
}

.tab-nav-toy {
	background-color: #ffc84d;
	background-position: 50% -39px;
	border-bottom: 2px solid #e5e5e5;
}

.tab-nav-toy li.item b {
	border-left: 1px dotted #ffe69f;
}

.tab-nav-toy li.item a:hover {
	background: #ff822f;
	color: #fffbe5;
	text-decoration: none;
}

.tab-nav-toy li.item a {
	color: #d40;
}

.tab-nav-toy .cross-chl li a {
	color: #d40;
}

.tab-nav-toy .cross-chl li a:hover {
	color: #fffbe5;
}

.sub-menu-popup-toy {
	border: solid 3px #ff822f;
}

.sub-menu-popup-toy .emphasis,.sub-menu-popup-toy dd a,.sub-menu-popup-toy .s-r h4
	{
	color: #ffc84d;
}

.sub-menu-popup-toy dd a:hover {
	color: #fff;
	background: #ffc84d;
}

.tab-nav-toy .submenu-active-item {
	background: #ff822f;
}