.link-panel li b {
	background: url(/assets/min/stylesheets/images/csg-4d6551365ce99.gif)
		no-repeat top left;
}

.shop-keyword .link-panel {
	width: 141px;
	float: left;
	padding: 12px 0;
	padding-left: 17px;
}

.shop-keyword .link-panel h3 {
	color: #333;
	font-size: 14px;
	margin-bottom: 5px;
}

.shop-keyword .link-panel h3 a {
	color: #333
}

.shop-keyword .link-panel h3 a:hover {
	color: #f88011;
}

.shop-keyword .link-panel li {
	padding: 5px 0;
	line-height: 1; *
	line-height: 1.2;
	position: relative;
	overflow: hidden;
	zoom: 1;
	clear:both;
}

.shop-keyword .link-panel li a {
	float: left;
	line-height: 14px;
	margin-left:5px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100px;
}

.shop-keyword .link-panel li a:hover {
	color: #f88011;
}

.shop-keyword .link-panel li b {
	width: 20px;
	height: 14px;
	float:left;
	left: 0;
	overflow: hidden;
}

.link-panel li .r1 {
	background-position: 0 0;
}

.link-panel li .r2 {
	background-position: 0 -19px;
}

.link-panel li .r3 {
	background-position: 0 -38px;
}

.link-panel li .r4 {
	background-position: 0 -57px;
}

.link-panel li .r5 {
	background-position: 0 -76px;
}

.link-panel li .r6 {
	background-position: 0 -95px;
}

.link-panel li .r7 {
	background-position: 0 -114px;
}

.link-panel li .r8 {
	background-position: 0 -133px;
}

.link-panel li .r9 {
	background-position: 0 -152px;
}

.link-panel li .r10 {
	background-position: 0 -171px;
}

.grid-m0s5 .main-wrap  .shop-keyword .link-panel,.grid-s5m0 .main-wrap  .shop-keyword .link-panel,.grid-s5m0e5 .main-wrap  .shop-keyword .link-panel,.grid-m0s5e5 .main-wrap  .shop-keyword .link-panel,.grid-s5e5m0 .main-wrap  .shop-keyword .link-panel
	{
	width: 161px;
}
.grid-m0s5 .main-wrap  .shop-keyword .link-panel li a ,.grid-s5m0 .main-wrap  .shop-keyword .link-panel li a ,.grid-s5m0e5 .main-wrap  .shop-keyword .link-panel li a ,.grid-m0s5e5 .main-wrap  .shop-keyword .link-panel li a ,.grid-s5e5m0 .main-wrap  .shop-keyword .link-panel li a {
	width: 120px;
}
.col-sub .shop-keyword .bd,.col-extra .shop-keyword .bd {
	padding-top: 0px;
	padding-bottom: 0px;
}