.shop {
	border: #F90 2px solid;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 10px;
}

.dib {
	display: inline-block;
	vertical-align: top;
}

.floatleft {
	float: left !important;
}

.floatright {
	float: right !important;
}

.shop-show {
	width: 624px;
}

.shop-name {
	height: 40px;
	border-bottom: #EFEFEF 1px solid;
	overflow: hidden;
}

.shop-name h2 {
	line-height: 40px;
	margin-right: 9px;
	font-size: 14px;
	text-indent: 20px;
}

.shop-name p {
	margin-right: 10px;
	padding-top: 11px;
}

.shop-name .name-wangwang {
	line-height: 20px;
	padding-top: 8px;
}

.c80 {
	color: gray;
}

.shop-info {
	padding: 18px 0px 0px 20px;
	zoom: 1;
}

.shop-btn {
	width: 130px;
	height: 183px;
	border-left: #EFEFEF 1px solid;
}