::-webkit-scrollbar {
	width: 12px;
	height: 5px
}

::-webkit-scrollbar-track:vertical {
	background: #F2F2F2
}

::-webkit-scrollbar-thumb {
	margin: 0px;
	background: #C0C0C0
}

::-webkit-scrollbar-button {
	display: none
}