html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent
}

html,body {
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

body {
	background: #fff
}

.m3w-viewport,.m3w-hidden-bag {
	width: 100%;
	height: 100%
}

.m3w-hidden-bag {
	top: -9999px;
	left: -9999px;
	position: fixed
}

blockquote,q {
	quotes: none
}

a {
	color: #818181
}

:focus {
	outline: 0
}

ins {
	text-decoration: none
}

del {
	text-decoration: line-through
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block
}

.m3w-clearfix:before,.m3w-clearfix:after {
	display: table;
	line-height: 0;
	content: ""
}

.m3w-clearfix:after {
	clear: both
}

.m3w-hidden-input {
	position: fixed;
	left: -10px;
	top: -10px;
	width: 0;
	height: 0
}

.m3w-user-select {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text
}

.m3w-widget {
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-content-zooming: none;
	-webkit-text-size-adjust: none
}

.m3w-widget.m3w-state-invisible {
	display: none !important
}

.m3w-button {
	display: inline-block;
	margin: 1px 0;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	max-width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}

.m3w-button .m3w-button-content {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height: 100%
}

.m3w-button.m3w-state-disabled {
	cursor: default
}

.m3w-button .m3w-button-link {
	text-decoration: none
}

.m3w-button .m3w-icon {
	display: inline-block;
	vertical-align: middle
}

.m3w-button .m3w-button-text {
	display: inline;
	vertical-align: middle
}

.m3w-scrollable {
	height: 100%
}

.m3w-scrollable-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-ms-touch-action: none;
	-webkit-tap-highlight-color: transparent
}

.m3w-scrollable-content {
	position: relative;
	min-height: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0)
}

.m3w-scrollable-content:before,.m3w-scrollable-content:after {
	display: table;
	line-height: 0;
	content: ""
}

.m3w-scrollable-content:after {
	clear: both
}

.m3w-scrollable-content-horizontal {
	float: left;
	display: block
}

.m3w-scrollable-scrollbar {
	position: absolute
}

.m3w-scrollable-scroll {
	position: relative;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0)
}

.m3w-scrollable-scrollbar-vertical {
	top: 0;
	right: 0;
	width: 9px
}

.m3w-scrollable-scrollbar-horizontal {
	left: 0;
	bottom: 0;
	height: 9px
}

.m3w-scrollable-scrollbar.m3w-state-disabled {
	display: none
}

.m3w-swipeable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.m3w-scrollview-pull-down {
	width: 100%;
	height: 50px;
	padding-top: 30px;
	top: -80px;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}

.m3w-scrollview-pull-down .m3w-scrollview-pull-down-container {
	display: inline-block;
	text-align: right
}

.m3w-scrollview-pull-down.m3w-scrollview-pull-down-loading .m3w-scrollview-pull-down-image
	{
	display: none
}

.m3w-scrollview-pull-down.m3w-scrollview-pull-down-loading .m3w-scrollview-pull-down-indicator
	{
	display: inline-block;
	margin: 0 40px;
	width: 20px;
	height: 23px;
	line-height: 30px;
	padding-top: 7px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}

.m3w-scrollview-pull-down .m3w-scrollview-pull-down-indicator {
	display: none
}

.m3w-scrollview-pull-down-image {
	display: inline-block;
	vertical-align: middle;
	margin: 0 40px;
	width: 20px;
	height: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	-webkit-transform: translate3d(0, 0, 0) rotate(0);
	-moz-transform: translate3d(0, 0, 0) rotate(0);
	-ms-transform: translate3d(0, 0, 0) rotate(0);
	-o-transform: translate3d(0, 0, 0) rotate(0);
	transform: translate3d(0, 0, 0) rotate(0);
	-ms-transform: rotate(0);
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	-o-transition: -o-transform .2s linear;
	transition: transform .2s linear
}

.m3w-scrollview-pull-down-text {
	display: inline;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}

.m3w-scrollview-pull-down-ready .m3w-scrollview-pull-down-image {
	-webkit-transform: translate3d(0, 0, 0) rotate(-180deg);
	-moz-transform: translate3d(0, 0, 0) rotate(-180deg);
	-ms-transform: translate3d(0, 0, 0) rotate(-180deg);
	-o-transform: translate3d(0, 0, 0) rotate(-180deg);
	transform: translate3d(0, 0, 0) rotate(-180deg);
	-ms-transform: rotate(-180deg)
}

.m3w-scrollview-content {
	position: relative
}

.m3w-scrollview-content:before,.m3w-scrollview-content:after {
	display: table;
	line-height: 0;
	content: ""
}

.m3w-scrollview-content:after {
	clear: both
}

.m3w-scrollview-scrollbottom {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.m3w-scrollview-scrollbottom .m3w-scrollview-scrollbottom-indicator {
	height: 23px;
	line-height: 30px;
	padding-top: 7px;
	margin: 0 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}

.m3w-scrollview-scrollbottom .m3w-scrollview-scrollbottom-indicator {
	display: inline-block;
	margin-left: 0
}

.m3w-scrollview-scrollbottom.m3w-scrollview-scrollbottom-end .m3w-scrollview-scrollbottom-indicator
	{
	display: none
}

.m3w-scrollview-scrollbottom-text {
	display: inline;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}

.m3w-scrollview-scrollbottom {
	width: 100%;
	padding: 10px 0;
	overflow: hidden;
	text-align: center
}

.m3w-tabs {
	text-align: center;
	display: inline-block;
	font-size: 0 !important
}

.m3w-tabs .m3w-tab {
	display: inline-block;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.m3w-tabs .m3w-tab a {
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	opacity: .001
}

.m3w-tabs .m3w-tab .m3w-icon {
	display: block;
	margin: 0 auto;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}

.m3w-tabs .m3w-tab .m3w-tab-text {
	display: block;
	text-align: center;
	margin: 0 auto;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.m3w-map {
	position: relative
}

.m3w-map .m3w-map-container,.m3w-map .m3w-map-shield {
	color: #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.m3w-map .m3w-map-shield {
	opacity: .01;
	background: rgba(0, 0, 0, .01)
}

.m3w-tabs.m3w-navbar {
	width: 100%;
	margin: 0;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.m3w-tabs.m3w-navbar .m3w-nav-item {
	vertical-align: bottom
}

.m3w-tabs.m3w-navbar .m3w-nav-item a {
	display: block;
	height: 100%;
	text-decoration: none
}

.m3w-tabs.m3w-navbar .m3w-nav-item-content {
	position: relative
}

.m3w-textarea .m3w-editbox-input {
	resize: none;
	font-family: inherit
}

.m3w-numberbox input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none
}

.m3w-toolbar {
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 1
}

.m3w-toolbar .m3w-toolbar-item {
	display: table-cell;
	padding: 0 5px;
	vertical-align: middle
}

.m3w-toolbar .m3w-toolbar-item .m3w-tabs {
	table-layout: auto
}

.m3w-toolbar .m3w-toolbar-item img {
	display: block
}

.m3w-toolbar .m3w-toolbar-left,.m3w-toolbar .m3w-toolbar-right {
	position: absolute
}

.m3w-toolbar .m3w-toolbar-left {
	left: 0
}

.m3w-toolbar .m3w-toolbar-right {
	right: 0
}

.m3w-toolbar .m3w-toolbar-label {
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none
}

.m3w-toolbar .m3w-toolbar-center {
	margin: 0 auto;
	height: 100%;
	text-align: center
}

.m3w-toolbar .m3w-toolbar-center,.m3w-toolbar .m3w-toolbar-left,.m3w-toolbar .m3w-toolbar-right
	{
	display: table;
	top: 0;
	height: 100%
}

.m3w-list {
	min-height: 3em;
	margin: 0
}

.m3w-list .m3w-list-item {
	cursor: pointer;
	-webkit-backface-visibility: hidden
}

.m3w-list.m3w-state-disabled,.m3w-list.m3w-state-disabled .m3w-list-item,.m3w-list.m3w-state-disabled.m3w-list-item
	{
	cursor: default
}

.m3w-list .m3w-list-next-button {
	padding: 5px;
	text-align: center
}

.m3w-list .m3w-list-next-button .m3w-button {
	padding: 0 3em
}

.m3w-overlay {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.m3w-overlay.m3w-overlay-modal {
	position: fixed;
	width: 100%;
	height: 100%
}

.m3w-overlay.m3w-overlay-shader {
	background-color: rgba(128, 128, 128, .5)
}

.m3w-overlay .m3w-overlay-content {
	position: absolute;
	z-index: 1000;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.m3w-popup .m3w-overlay-content .m3w-popup-title {
	min-height: 19px;
	padding: 10px;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.m3w-popup .m3w-overlay-content .m3w-popup-content {
	padding: 10px;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.m3w-dialog-root .m3w-overlay-shader {
	background-color: #444
}

.m3w-dialog-root .m3w-overlay-content .m3w-dialog-content {
	padding: 0
}

.m3w-dialog-root .m3w-overlay-content .m3w-dialog-message {
	padding: 10px 10px 5px 10px
}

.m3w-dialog-root .m3w-overlay-content .m3w-dialog-buttons {
	width: 95%;
	margin: 0 auto;
	overflow: hidden
}

.m3w-dialog-root .m3w-overlay-content .m3w-dialog-buttons .m3w-button:nth-child(even)
	{
	float: right
}

.m3w-dialog-root .m3w-overlay-content .m3w-dialog-buttons .m3w-button:nth-child(odd)
	{
	float: left
}

.m3w-dialog-root .m3w-overlay-content .m3w-dialog-buttons .m3w-button:only-child
	{
	float: right
}

.m3w-gallery {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%
}

.m3w-gallery .m3w-gallery-wrapper {
	position: relative;
	height: 100%
}

.m3w-gallery .m3w-gallery-nav-button-prev,.m3w-gallery .m3w-gallery-nav-button-next
	{
	position: absolute;
	top: 50%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%
}

.m3w-gallery.m3w-state-disabled .m3w-gallery-nav-button-prev,.m3w-gallery.m3w-state-disabled .m3w-gallery-nav-button-next
	{
	cursor: default
}

.m3w-gallery .m3w-gallery-nav-button-prev {
	left: 0
}

.m3w-gallery .m3w-gallery-nav-button-next {
	right: 0
}

.m3w-gallery .m3w-gallery-item {
	position: absolute;
	width: 100%;
	height: 100%
}

.m3w-gallery .m3w-gallery-indicator {
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 10px;
	font-size: 0
}

.m3w-gallery .m3w-gallery-indicator-item {
	display: inline-block;
	height: 10px;
	margin: 0 2px
}

.m3w-action-sheet-popup .m3w-overlay-content {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	padding-top: 0;
	padding-bottom: 0
}

.m3w-action-sheet-popup .m3w-overlay-content .m3w-button {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0
}

.m3w-action-sheet-popup .m3w-overlay-content .m3w-action-sheet-item,.m3w-action-sheet-popup .m3w-overlay-content .m3w-action-sheet-cancel
	{
	width: 100%
}

.m3w-loadindicator {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	overflow: hidden
}

.m3w-loadindicator.m3w-loadindicator-small {
	width: 20px;
	height: 20px
}

.m3w-loadindicator.m3w-loadindicator-medium {
	width: 32px;
	height: 32px
}

.m3w-loadindicator.m3w-loadindicator-large {
	width: 64px;
	height: 64px
}

.m3w-loadpanel-content {
	padding: 10px;
	border: 1px solid #ccc;
	background: #fefefe;
	filter: alpha(opacity = 90);
	-khtml-opacity: .9;
	-moz-opacity: .9;
	opacity: .9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	text-align: center
}

.m3w-loadpanel-content .m3w-loadpanel-image {
	height: 30px
}

.m3w-loadpanel-content .m3w-loadpanel-message {
	margin: 10px;
	text-align: center
}

.m3w-overlay.m3w-loadpanel,.m3w-overlay.m3w-loadpanel .m3w-overlay-shader,.m3w-overlay.m3w-loadpanel .m3w-overlay-content
	{
	z-index: 1001
}

.m3w-autocomplete-popup .m3w-list {
	min-height: 35px
}

.m3w-dropdownmenu-popup .m3w-dropdownmenu-list {
	min-height: 40px;
	min-width: 100px
}

.m3w-dropdownmenu-popup .m3w-dropdownmenu-list .m3w-list-item:last-child
	{
	border-bottom: none
}

.disable-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}