.navbar-inner {
	background-color: #5c9400;
	background-image: -moz-linear-gradient(top, #629e00, #528500);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#629e00),
		to(#528500) );
	background-image: -webkit-linear-gradient(top, #629e00, #528500);
	background-image: -o-linear-gradient(top, #629e00, #528500);
	background-image: linear-gradient(to bottom, #629e00, #528500);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff629e00',
		endColorstr='#ff528400', GradientType=0 );
	border: 1px solid #2c4700;
}

.navbar-link {
	color: #fff;
}

.navbar-link:hover {
	color: #f2f2f2;
}

.navbar .nav>li>a {
	color: #fff;
	text-shadow: 0 1px 0 #629e00;
}

.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
	background-color: transparent;
	color: #f2f2f2;
}

.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus
	{
	color: #f2f2f2;
	background-color: #426b00;
}

.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle
	{
	background-color: #426b00;
	color: #f2f2f2;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar .nav li.dropdown.open>.dropdown-toggle .caret,.navbar .nav li.dropdown.active>.dropdown-toggle .caret,.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret
	{
	border-top-color: #f2f2f2;
	border-bottom-color: #f2f2f2;
}