body {
	background-repeat: repeat;
}

.tb-shop .box {
	margin-bottom: 6px;
}

.tb-shop .shop-header .nav {
	height: 30px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/42331045/T2b8JyXmtaXXXXXXXX_!!42331045.gif)
		repeat-x;
}

.tb-shop .shop-header .nav ul {
	line-height: 30px;
	height: 30px;
	padding: 0;
}

.tb-shop .shop-header .nav ul li {
	line-height: 30px;
	margin-right: 0;
	height: 30px;
}

.tb-shop .shop-header .nav li a {
	line-height: 30px;
	height: 30px;
	background: none;
	padding: 0;
}

.tb-shop .shop-header .nav li a:hover {
	text-decoration: none !important;
}

.tb-shop .shop-header .nav li.current a em {
	color: #ff0000;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/42331045/T2yKxyXjJaXXXXXXXX_!!42331045.png)
		no-repeat;
}

.tb-shop .shop-header .nav li a em {
	line-height: 30px;
	height: 30px;
	text-align: center;
	color: #ffffff;
	background: none no-repeat center top;
	width: 106px;
	font-weight: bold;
	padding: 0;
}

.tb-shop .shop-header .nav li a:hover em {
	color: #ff0000;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/42331045/T2yKxyXjJaXXXXXXXX_!!42331045.png)
		no-repeat;
}

.tb-shop .shop-header .shop-summary .shop-title {
	height: 80px;
	overflow: hidden;
	width: 870px;
}

.tb-shop .shop-header .shop-summary .shop-title a {
	padding-left: 300px;
	line-height: 70px;
	color: #ffffff;
	overflow: hidden;
	font-size: 48px;
	font-family: 黑体;
	text-decoration: none;
}

.tb-shop .shop-header .shop-summary .shop-title p {
	display: none;
}

.tb-shop .col-sub .box .hd {
	height: 35px;
	text-align: left;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/42331045/T2TlFyXnhaXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .col-sub .box .hd h3 span {
	padding-left: 10px;
	line-height: 53px;
	color: #ffffff;
	font-size: 14px;
	display: inline;
	font-weight: bold;
}

.tb-shop .col-sub .box .bd {
	border-right: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	border-top: 0px solid #ff0000;
	border-left: 1px solid #ff0000;
}

.tb-shop .col-main .bd {
	border-right: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	border-left: 1px solid #ff0000;
}

.tb-shop .col-main .box .hd,.tb-shop .col-main .box .hd h3,.tb-shop .col-main .box .hd h3 span
	{
	line-height: 50px;
	height: 35px;
	background: none;
}

.tb-shop .col-main .box .hd {
	height: 35px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/42331045/T26RFyXmNaXXXXXXXX_!!42331045.gif)
		no-repeat;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 10px;
	line-height: 50px;
	color: #ffffff;
	font-size: 14px;
}

.tb-shop .shop-category .hd {
	height: 35px;
	text-align: left;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/42331045/T2TlFyXnhaXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .shop-category .hd h3 span {
	padding-left: 25px;
	line-height: 50px;
	color: #ffffff;
	font-size: 14px;
	display: inline;
	font-weight: bold;
}

.tb-shop .box .shop-category .bd {
	border-right: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	border-top: 0px solid #ff0000;
	border-left: 1px solid #ff0000;
}

.tb-shop .shop-category .bd .cat h4 a {
	padding-left: 18px;
	line-height: 53px;
	height: 43px;
	text-align: center;
	color: #ffffff;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/42331045/T2JBFyXnxaXXXXXXXX_!!42331045.gif)
		no-repeat;
	font-size: 14px;
	width: 159px;
	text-decoration: none;
	display: block;
}

.tb-shop .shop-category .bd .cat h4 a:hover {
	color: #fce701;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/42331045/T2JBFyXnxaXXXXXXXX_!!42331045.gif)
		no-repeat;
	font-weight: bold;
}

.tb-shop .shop-category .bd .cat-bd a {
	padding-left: 45px;
	line-height: 23px;
	height: 23px;
	color: #ffffff;
	font: 12px;
	width: 159px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/42331045/T2ElFyXnFaXXXXXXXX_!!42331045.gif)
		no-repeat 0 0;
	display: block;
	text-decoration: none;
}

.tb-shop .shop-category .bd .cat-bd a:hover {
	color: #fce701;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/42331045/T2ElFyXnFaXXXXXXXX_!!42331045.gif)
		no-repeat 0 0;
	font-weight: bold;
}

.tb-shop .shop-search .hd {
	height: 35px;
	text-align: left;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/42331045/T2TlFyXnhaXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .shop-search .hd h3 span {
	padding-left: 25px;
	line-height: 38px;
	color: #ffffff;
	font-size: 14px;
	display: inline;
	font-weight: bold;
}

.tb-shop .shop-search .bd {
	border-right: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	border-top: 0px solid #ff0000;
	border-left: 1px solid #ff0000;
}

.tb-shop .shop-search .bd .search-form ul li {
	color: #ff0000;
}

.tb-shop .shop-search .search-form .keyword {
	height: 21px;
	color: #ff0000;
}

.tb-shop .shop-search .search-form .price {
	color: #ff0000;
}

.tb-shop .shop-search .submit button,.tb-shop .deletelist {
	height: 21px;
	color: #ffffff;
	background: #ff0000;
	margin-bottom: 3px;
	font-weight: bold;
}

.tb-shop .shop-search input.checkbox {
	color: #ff0000;
}

.tb-shop .shop-search .search-form .hotkeywords {
	color: #ffffff;
	margin-top: 2px;
}

.tb-shop .shop-rank .hd {
	height: 35px;
	text-align: left;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/42331045/T2TlFyXnhaXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .shop-rank .hd h3 span {
	padding-left: 25px;
	line-height: 38px;
	color: #ffffff;
	font-size: 14px;
	display: inline;
	font-weight: bold;
}

.tb-shop .shop-rank .bd {
	border-right: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	border-top: 0px solid #ff0000;
	border-left: 1px solid #ff0000;
}

.tb-shop .shop-rank .bd .sale {
	color: #ff0000;
}

.tb-shop .shop-rank .bd .desc a {
	color: #ff0000;
}

.tb-shop .shop-rank .bd .desc a:hover {
	color: #357900;
}

.tb-shop .shop-rank .bd .tab-nav li {
	background: #ff0000;
	border: none;
}

.tb-shop .shop-rank .bd .tab-nav .selected {
	background: #fe3e3e;
	border-bottom: #ff0000 solid 1px;
	border: #fe3e3e solid 0px;
}

.tb-shop .shop-rank .bd .tab-nav .selected span {
	color: #ffffff;
}

.tb-shop .shop-rank .bd .tab-nav li span {
	color: #ffffff;
}

.tb-shop .shop-rank .rank-panels {
	border-top-style: solid;
	border-top-color: #fe3e3e;
	text-align: center;
	border-top-width: 0px;
}

.tb-shop .shop-links .hd {
	height: 35px;
	text-align: left;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/42331045/T2TlFyXnhaXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .shop-links .hd h3 span {
	padding-left: 25px;
	line-height: 38px;
	color: #ffffff;
	font-size: 14px;
	display: inline;
	font-weight: bold;
}

.tb-shop .shop-links .bd {
	border-right: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	border-top: 0px solid #ff0000;
	border-left: 1px solid #ff0000;
}

.tb-shop .shop-links .bd li a {
	color: #ff0000;
}

.tb-shop .shop-links .bd li a:hover {
	color: #357900;
}

.tb-shop a {
	color: #ff0000;
	font-size: 12px;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #357900;
}

.tb-shop .sales-amount {
	line-height: 14px;
	height: 14px;
	color: #357900;
	margin-bottom: 13px;
}

.tb-shop .sales-amount em {
	color: #b00001;
}

.tb-shop .price span {
	color: #b00001;
}

.tb-shop .price strong {
	color: #c20000;
}

.tb-shop .pic {
	border: #ff0000;
}

.tb-shop .col-main .pic a:hover img,.tb-shop .shop-display .pic a:hover img
	{
	max-height: 94%;
	max-width: 94%;
	border: #ff0000 dashed 1px;
}