#hd {
	background-image:
		url(http://img06.taobaocdn.com/bao/uploaded/i6/T1abxYXixgXXartXjX.gif)
		;
	background-repeat: repeat-x;
}

.tb-shop .shop-banner .bd,.tb-shop .shop-header,.tb-shop .shop-header .nav
	{
	height: auto;
	background: none;
	padding: 0;
}

.tb-shop .shop-header .shop-regular-hd {
	letter-spacing: 3px;
	margin-left: 100px;
	margin-top: 8px;
}

.tb-shop .shop-header .shop-title h2 {
	padding-left: 25px;
	padding-top: 0px;
	color: #c16267;
	font-size: 28px;
	margin-bottom: 4px;
	font-family: & quot; &#24494; &#36719; &#38597; &#40657; ,&#40657;
	&#20307; & quot;;
	display: block;
	font-weight: bold;
}

.tb-shop .shop-header .shop-title h2 a {
	color: #c16267;
}

.tb-shop .shop-header .shop-title p {
	padding-left: 45px;
	letter-spacing: 2px;
	color: #cc6462;
}

.tb-shop .shop-banner .bd {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/36599414/T2ii8zXmNXXXXXXXXX_!!36599414.gif)
		0 0 no-repeat !important;
	border: 0 !important;
}

.tb-shop a {
	color: #c16267;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #ed9195;
}

.tb-shop .shop-header .nav li.current a:hover  em {
	color: #ef9a9e;
	font-size: 14px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2PjlzXedXXXXXXXXX_!!36599414.png)
		no-repeat scroll 0 0 transparent;
}

.tb-shop .shop-header .nav li.current a em {
	color: #ef9a9e;
	font-size: 14px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2PjlzXedXXXXXXXXX_!!36599414.png)
		no-repeat scroll 0 0 transparent;
}

.tb-shop .shop-header .nav li a:hover em {
	color: #ef9a9e;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2PjlzXedXXXXXXXXX_!!36599414.png)
		no-repeat scroll 0 0 transparent;
}

.tb-shop .shop-header .nav li a em {
	line-height: 28px;
	height: 28px;
	text-align: center;
	color: white;
	width: 87px;
	font-size: 14px;
	background: none;
	font-weight: bold;
	padding: 0;
}

.tb-shop .shop-header .nav ul li {
	margin-right: 0;
	line-height: 28px;
	height: 28px;
	overflow: hidden;
	background-image: none;
}

.tb-shop .shop-header .nav li a {
	background: none;
}

.tb-shop .shop-header .nav li,.tb-shop .shop-header .nav li a,.tb-shop .shop-header .nav li a em
	{
	height: 28px;
	width: 87px;
	display: block;
	float: left;
}

.tb-shop .shop-header .nav {
	padding-left: 30px;
	position: absolute;
	height: 28px;
	width: 950px;
	z-index: 1;
}

.tb-shop .shop-header .nav ul {
	line-height: 28px;
	height: 28px;
	padding: 0;
}

.tb-shop .shop-header .nav li a:hover {
	font-size: 14px;
	text-decoration: none !important;
	font-weight: bold;
}

.tb-shop .box .hd,.tb-shop .shopkeeper .box .hd {
	height: 30px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2PjlzXedXXXXXXXXX_!!36599414.png)
		0 -162px repeat-x;
	display: block;
	z-index: 99;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 40px !important;
	padding-top: 5pt;
	text-align: left;
	color: white;
	width: 750px;
	font-size: 14px;
	font-weight: bold;
}

.tb-shop .col-main .box .hd {
	height: 35px;
	color: #333333;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2PjlzXedXXXXXXXXX_!!36599414.png)
		0 -192px no-repeat;
	z-index: 99;
}

.tb-shop .h3 span {
	border: 1px;
}

.tb-shop .box .hd {
	border: 0px;
}

.tb-shop .box .hd h3 {
	padding-left: 10px;
	padding-top: 5px;
	text-align: center;
	color: white;
	width: 125px;
	font-size: 14px;
	font-weight: bold;
}

.tb-shop .shop-category .cats .cat {
	border-top: none;
}

.tb-shop .shop-category .bd ul h4 a:hover {
	text-decoration: none;
	background-position: left -85px;
}

.tb-shop .shop-category .bd ul h4 a {
	line-height: 29px;
	color: #ffffff;
	text-align: center;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2PjlzXedXXXXXXXXX_!!36599414.png)
		no-repeat scroll left -56px #ffffff;
	font-size: 12px;
	width: 159px;
	display: block;
}

.tb-shop .shop-category .bd ul ul a:hover {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	background-position: left -138px;
}

.tb-shop .shop-category .bd ul ul a {
	line-height: 24px;
	text-align: center;
	color: #fff;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2PjlzXedXXXXXXXXX_!!36599414.png)
		no-repeat scroll left -114px transparent;
	width: 159px;
	display: block;
}

.tb-shop .shop-category .bd ul ul {
	padding-left: 1px;
}

.tb-shop .box .shop-category .cat h4 img {
	width: 864px;
}

.tb-shop .box .shop-category .cat ul img {
	width: 864px;
}

.tb-shop .col-sub .box .hd,.tb-shop .col-extra .box .hd h3 {
	padding-top: 0pt;
	text-align: left;
	margin-bottom: 3px;
}

.tb-shop .col-sub .bd {
	border: 1px solid white !important;
}

.tb-shop .grid .pic {
	border: 0 !important;
}

.tb-shop .grid .more-items {
	display: none;
}

.tb-shop .col-main .pic a:hover img,.tb-shop .shop-display .pic a:hover img
	{
	max-height: 95%;
	max-width: 95%;
	border: #ed9195 solid 2px;
}

.tb-shop .grid .price span {
	color: white;
	background-color: #c16267;
	padding: 2px;
}

.tb-shop .shop-bbs .handle {
	margin-right: 45px;
	margin-top: 6px;
}

.tb-shop .shop-bbs .handle a {
	color: #fff;
}

.tb-shop .shop-bbs .handle a:hover {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.tb-shop .shop-bbs tbody tr .discuss-content {
	color: #c16267;
}

.tb-shop .shop-bbs tbody tr .user a,.tb-shop .shop-bbs tbody tr .detail a
	{
	color: #c16267;
}

.tb-shop .shop-bbs table dl {
	color: #666666;
	width: 100%;
	overflow: hidden;
	background-color: white;
	padding: 3px 3px 2px 5.5em;
	border: 0;
}

.tb-shop .shop-bbs .line td {
	border-bottom: 1px solid white;
}

.tb-shop .shop-search ul li .button {
	cursor: pointer;
	color: white;
	background-color: #c16267;
	background-image: none;
}

.tb-shop .shop-search input {
	color: #c16267;
	border: 1px #c16267 solid;
}

.tb-shop .shop-search li {
	color: #c16267;
}

.tb-shop .shop-rank .tab-nav li {
	-moz-border-radius: 0;
	color: #c16267;
	background-color: white;
	border: 0;
}

.tb-shop .shop-rank .tab-nav .selected span {
	color: white;
	background-color: #c16267;
	font-weight: bold;
}

.tb-shop .shop-rank .pic {
	border: 0;
}

.tb-shop .shop-rank .rank-panel ul li {
	border-bottom: 1px dashed #c16267;
}

.tb-shop .shop-rank .rank-panels {
	border-top: 1px #c16267 solid;
}

.tb-shop .shop-rank .price {
	color: #c16267;
	font-weight: bold;
}

.tb-shop .shop-rank .no-collect,.tb-shop .shop-rank .no-traded {
	display: none;
}

.tb-shop .shop-rank .rank-panel ul {
	margin-bottom: 0px !important;
}

.tb-shop .shop-rank .collecter,.tb-shop .shop-rank .sale {
	color: #c16267;
}