body {
	background-image:
		url(http://img06.taobaocdn.com/bao/uploaded/i6/T1vldWXXVsXXb1upjX.jpg)
		;
	background-repeat: repeat-y;
	background-position: center 0;
}

.tb-shop .shop-banner .bd,.tb-shop .shop-header,.tb-shop .shop-header .nav
	{
	height: auto;
	background: none;
	padding: 0;
}

.tb-shop .shop-header .shop-regular-hd {
	letter-spacing: 3px;
	margin-left: 100px;
	margin-top: 8px;
}

.tb-shop .shop-header .shop-title h2 {
	padding-left: 225px;
	padding-top: 10px;
	color: #fa686f;
	font-size: 32px;
	margin-bottom: 4px;
	display: block;
	font-weight: normal;
}

.tb-shop .shop-header .shop-title h2 a {
	color: #fa686f;
}

.tb-shop .shop-header .shop-title p {
	padding-left: 230px;
	letter-spacing: 2px;
	color: #fa686f;
}

.tb-shop .shop-banner .bd {
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/45748670/T2jI8xXbpbXXXXXXXX_!!45748670.gif)
		0 0 no-repeat;
}

.tb-shop a {
	color: #b10000;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #FF0000;
}

.tb-shop .shop-header .nav li.current a:hover  em {
	color: #923559;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/45748670/T2ItRxXXhaXXXXXXXX_!!45748670.png)
		no-repeat scroll center transparent;
	font-size: 14px;
}

.tb-shop .shop-header .nav li.current a em {
	color: #923559;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/45748670/T2xtRxXXFaXXXXXXXX_!!45748670.png)
		no-repeat scroll center transparent;
	font-size: 14px;
}

.tb-shop .shop-header .nav li a:hover em {
	color: #923559;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/45748670/T2ddxxXkNaXXXXXXXX_!!45748670.png)
		no-repeat scroll center top transparent;
}

.tb-shop .shop-header .nav li a em {
	line-height: 32px;
	color: #923559;
	text-align: center;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/45748670/T2ddxxXkNaXXXXXXXX_!!45748670.png)
		no-repeat scroll center top transparent;
	font-size: 12px height : 32px;
	width: 120px;
	font-weight: bold;
	padding: 0;
}

.tb-shop .shop-header .nav ul li {
	line-height: 32px;
	margin-right: 0;
	height: 32px;
	overflow: hidden;
	background-image: none;
}

.tb-shop .shop-header .nav li,.tb-shop .shop-header .nav li a,.tb-shop .shop-header .nav li a em
	{
	height: 32px;
	width: 120px;
	display: block;
	float: left;
}

.tb-shop .shop-header .nav {
	position: absolute;
	height: 32px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/45748670/T2cJRxXmNXXXXXXXXX_!!45748670.png)
		repeat-x scroll 0 0;
	width: 950px;
	z-index: 1;
}

.tb-shop .shop-header .nav ul {
	line-height: 32px;
	height: 32px;
	padding: 0;
}

.tb-shop .shop-header .nav li a:hover {
	font-size: 14px;
	font-weight: bold text-decoration : none !important;
}

.tb-shop .a1 {
	color: #923559;
	font-size: 12px;
}

.tb-shop .a1 a {
	color: #923559;
	font-size: 12px;
}

.tb-shop .a1 a:hover {
	color: #923559;
	font-size: 12px;
	text-decoration: underline;
}

.tb-shop .box .hd,.tb-shop .shopkeeper .box .hd {
	height: 46px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/45748670/T2YPlzXmlaXXXXXXXX_!!45748670.png)
		0 0 repeat-x;
	display: block;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 20px;
	padding-top: 10pt;
	color: # #923559;
	font-size: 12px;
	font-weight: bold;
}

.tb-shop .col-main .box .hd {
	height: 46px;
	color: #333333;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/45748670/T2AzNzXoNXXXXXXXXX_!!45748670.png)
		0 0 no-repeat;
	border-color: #ffffff !important;
}

.tb-shop .h3 span {
	border: 1px;
}

.tb-shop .box .hd {
	border: 0px;
}

.tb-shop .box .hd h3 {
	padding-left: 20px;
	padding-top: 10pt;
	color: #923559;
	font-size: 12px;
	font-weight: bold;
}

.tb-shop .col-main .box .more-items .button {
	background: no-repeat
		url(http://img04.taobaocdn.com/imgextra/i4/45748670/T2PGdwXaVXXXXXXXXX_!!45748670.png)
		;
}

.tb-shop .col-main .box .more-items a {
	color: #923559;
	text-decoration: none;
	margin-top: 2px;
}

.tb-shop .col-main .box .more-items a:hover {
	color: #923559;
}

.tb-shop .shop-category .cats .cat {
	border-top: none;
}

.tb-shop .shop-category .bd ul h4 a:hover {
	color: #fa686f;
	text-decoration: none;
	background-position: left 0px;
}

.tb-shop .shop-category .bd ul h4 a {
	line-height: 48px;
	text-align: center;
	color: #923559;
	width: 165px;
	font-size: 12px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/45748670/T2GtNxXXFaXXXXXXXX_!!45748670.gif)
		no-repeat scroll left top #ffffff;
	display: block;
}

.tb-shop .shop-category .bd ul ul a:hover {
	color: #fa686f;
	text-decoration: none;
}

.tb-shop .shop-category .bd ul ul a {
	line-height: 30px;
	text-align: center;
	color: #923559;
	width: 160px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/45748670/T2AdxxXhxaXXXXXXXX_!!45748670.gif)
		no-repeat scroll left top transparent;
	display: block;
}

.tb-shop .box .bd {
	border-color: #ffbdbd !important;
	border: 1px solid;
}

.tb-shop .col-sub .box .hd,.tb-shop .col-extra .box .hd {
	border-color: #ffffff !important;
}

.tb-shop .box .shop-category .cat h4 img {
	width: 162px;
}

.tb-shop .box .shop-category .cat ul img {
	width: 162px;
}

.tb-shop .big .item .pic a:hover {
	height: 216px;
	width: 216px;
	border: #fcb7b9 2px solid;
}

.tb-shop .big .item .pic a {
	height: 220px;
	width: 220px;
	overflow: hidden;
	display: block;
}

.tb-shop .big .pic {
	border: 1px solid #cccbcb !important;
}

.tb-shop .grid .item .pic a:hover {
	height: 156px;
	width: 156px;
	border: #fcb7b9 2px solid;
}

.tb-shop .grid .item .pic a {
	height: 160px;
	width: 160px;
	overflow: hidden;
	display: block;
}

.tb-shop .grid .pic {
	border: 1px solid #cccbcb !important;
}

.tb-shop .col-main .box .bd {
	border-style: solid;
	border-color: #aa3f6b;
	border-width: 1px 4px 4px 4px;
}

.tb-shop .col-main .shop-banner .bd {
	border-color: #aa3f6b;
	border-width: 0px !important;
	padding: 0;
}