body {
	background-repeat: repeat-y;
	background-image:
		url(http://img04.taobaocdn.com/bao/uploaded/i4/T18CpWXfVnXXb1upjX.jpg)
		;
	background-position: center 0;
}

/*连接颜色*/
.tb-shop a {
	color: #C37676;
	text-decoration: none;
}

/*左侧右侧背景*/
.tb-shop .col-sub .box .bd {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/384523772/T2puRzXi0XXXXXXXXX_!!384523772.jpg)
		;
}

.tb-shop .col-main .box .bd {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/384523772/T2puRzXi0XXXXXXXXX_!!384523772.jpg)
		;
}

/*左侧头部*/
.tb-shop .box .hd,.tb-shop .shopkeeper .box .hd {
	height: 53px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/384523772/T2Rd8zXXRbXXXXXXXX_!!384523772.gif)
		no-repeat;
}

.tb-shop .box .hd h3 {
	padding-left: 55px;
	padding-top: 20px;
	color: #C37676;
	font-size: 18px;
	font-weight: bold;
}

/*右侧头部*/
.tb-shop .col-main .box .hd {
	height: 53px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/384523772/T2LJ8zXX4bXXXXXXXX_!!384523772.gif)
		no-repeat;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 25px;
	padding-top: 20px;
	color: #C37676;
	font-size: 18px;
	font-weight: bold;
}

/*大分类*/
.tb-shop .cats h4 a {
	padding-left: 35px;
	color: #C37676;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/384523772/T2Bt8zXalbXXXXXXXX_!!384523772.gif)
		no-repeat;
	font-size: 15px;
	margin-left: -35px;
	display: block;
}

.tb-shop .shop-category .bd {
	padding: 4px 0 2px 9px;
}

.tb-shop .cats {
	
}

.tb-shop .shop-category .cats {
	overflow: hidden;
	width: 178px;
}

.tb-shop .cats .cat {
	border-bottom: 1px dashed #eee;
	padding: 4px 0;
}

.tb-shop .cats .cat img {
	vertical-align: middle;
}

.tb-shop .cats .cat h4 {
	line-height: 44px;
	display: block;
	font-weight: 700;
	padding: 20px 0 0 50px;
}

.tb-shop .cats .cat .cat-bd {
	overflow: hidden;
	display: block;
}

/*小分类*/
.tb-shop .cats .cat .cat-bd li {
	line-height: 33px;
	height: 30px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/384523772/T2Ht8zXaXbXXXXXXXX_!!384523772.gif)
		no-repeat 0px;
	display: block;
	padding: 3px 0 0 36px;
}

.tb-shop .cats .cat .cat-bd li a {
	color: #FC6B97;
}