.tb-shop .shop-header .nav ul {
	height: 25px;
}

.tb-shop .shop-header .nav li {
	margin-right: 2px;
	height: 25px;
}

.tb-shop .shop-header .nav li a,.tb-shop .shop-header .nav li a em {
	line-height: 28px;
	height: 25px;
	color: #000;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/443231962/T2pdRzXaxXXXXXXXXX_!!443231962.png)
		0 0 no-repeat;
	font-size: 12px;
}

.tb-shop .shop-header .nav li a {
	text-decoration: none;
	background-position: 100% -28px;
}

.tb-shop .shop-header .nav li a em {
	background-position: -166px 0px;
}

.tb-shop .shop-header .nav li a:hover,.tb-shop .shop-header .nav li.current a
	{
	background-position: 100% -84px;
}

.tb-shop .shop-header .nav li a:hover em,.tb-shop .shop-header .nav li.current a em
	{
	color: #ffffff;
	font-weight: bold;
	background-position: -166px -56px;
}

.tb-shop .shop-category .cat h4 a,.tb-shop .shop-category  .cat-bd li a
	{
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/443231962/T2pdRzXaxXXXXXXXXX_!!443231962.png)
		no-repeat;
	width: 160px;
	display: block;
}

.tb-shop .shop-category .cat h4 a {
	line-height: 50px;
	color: #f4ed9b;
	text-align: center;
	overflow: hidden;
	font-size: 16px;
	background-position: 0 -75px;
}

.tb-shop .shop-category .cat h4 a:hover {
	color: #f4ed9b;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/443231962/T29cdzXl4aXXXXXXXX_!!443231962.gif)
		no-repeat;
	width: 160px;
	font-size: 18px;
	display: block;
	text-decoration: none;
}

.tb-shop .shop-category  .cat-bd li a {
	line-height: 25px;
	text-align: center;
	color: #fcf8c8;
	overflow: hidden;
	font-size: 13px;
	background-position: 0px -50px;
}

.tb-shop .shop-category  .cat-bd li a:hover {
	color: #6a3906;
	text-decoration: none;
	font-weight: 700;
	background-position: 0px -25px;
}

.tb-shop .col-main .box .bd {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/443231962/T2BJFzXiFXXXXXXXXX_!!443231962.gif)
		;
}

.tb-shop .col-main .box {
	margin-bottom: 5px;
}

.tb-shop a {
	color: #f6d56c;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #fff798;
	text-decoration: none;
	font-weight: 600;
}

.tb-shop .col-main .hd {
	height: 42px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/443231962/T23J0zXg8XXXXXXXXX_!!443231962.gif)
		no-repeat;
	border: none;
}

.tb-shop .col-main .hd h3 {
	padding-left: 42px;
	padding-top: 8px;
	color: #fffb9f;
	font-size: 16px;
}

.tb-shop .col-sub a {
	color: #b31d23;
	text-decoration: none;
}

.tb-shop .col-sub a:hover {
	color: #ff0000;
	text-decoration: none;
}

.tb-shop .col-sub .hd {
	height: 36px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/443231962/T2quBzXjBaXXXXXXXX_!!443231962.gif)
		right top no-repeat;
	border: 1px;
}

.tb-shop .col-sub .hd h3 {
	padding-left: 55px;
}

.tb-shop .col-sub .hd h3 span {
	line-height: 40px;
	color: #fffb9f;
	font-size: 14px;
}

.tb-shop .price strong {
	color: #fcf8c8;
	font-weight: bold;
}

.tb-shop .box {
	overflow: hidden;
}

.tb-shop .grid .price span {
	color: #f39800;
}

.tb-shop .pic {
	border: 1px solid #770400;
}

.tb-shop .pic a:hover img {
	height: 97%;
	width: 97%;
	display: block;
	border: #f6d56c 2px solid;
}

.tb-shop .box .hd,.tb-shop .box .bd {
	border-color: #770400 !important;
}

.tb-shop .hesper-cats {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/443231962/T2BJFzXiFXXXXXXXXX_!!443231962.gif)
		;
	border: 0px;
}

.tb-shop .shop-hesper .hesper-cats ol {
	border-bottom-color: #770400;
}

.tb-shop .shop-hesper .hesper-cats .trigger {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/443231962/T2sexzXXtaXXXXXXXX_!!443231962.png)
		no-repeat;
	background-position: -27px -56px;
}

.tb-shop .shop-hesper .hesper-cats {
	border: 0px;
}

.tb-shop .shop-hesper .hesper-cats .trigger.collapse {
	background-position: 0px -56px;
}

.tb-shop .shop-hesper .hesper-cats ol li {
	color: #fffb9f;
}

.tb-shop .shop-hesper .search-result {
	color: #fffb9f;
}

.tb-shop .shop-hesper .hesper-cats i {
	background: none;
}

.tb-shop .pagination-mini {
	color: #e9c85f;
}

.tb-shop .pagination a {
	background-color: #b31d23;
	border: solid 1px #770400;
}

.tb-shop .pagination a:hover {
	background-color: #f3552a;
	border: solid 1px #770400;
}

.tb-shop .pagination .disable,.tb-shop .pagination .disable:hover {
	background-color: #ca6d6d;
	border: solid 1px #770400;
}

.tb-shop .pagination button {
	color: #fcf8c8;
	background-color: #b31d23;
	border: solid 1px #770400;
}

.tb-shop .shop-filter {
	border: 1px solid #770400;
}

.tb-shop .shop-filter .taxis a {
	background-color: #b31d23;
	border: solid 1px #770400;
}

.tb-shop .shop-search {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/443231962/T2BJFzXiFXXXXXXXXX_!!443231962.gif)
		;
}

.tb-shop .button {
	color: #fcf8c8;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/443231962/T2sexzXXtaXXXXXXXX_!!443231962.png)
		no-repeat;
}

.tb-shop .shop-bbs .handle {
	margin-right: 120px;
	margin-top: 12px;
}

.tb-shop .shop-bbs .handle a {
	color: #fff;
}

.tb-shop .shop-bbs td a {
	color: #e9c85f;
}

.tb-shop .shop-bbs .date {
	font-size: 10px;
}

.tb-shop .shop-bbs .discuss-content {
	padding: 0;
}

.tb-shop .shop-bbs div.discuss-content {
	padding-left: 32px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/443231962/T2c2hzXopXXXXXXXXX_!!443231962.png)
		10px 50% no-repeat;
}

.tb-shop .shop-bbs .user {
	padding-right: 10px;
	text-align: right;
	width: auto;
	white-space: nowrap;
}

.tb-shop .shop-bbs .detail {
	display: none;
}

.tb-shop .shop-bbs .line td {
	border: none;
}

.tb-shop .shop-bbs .reply dl {
	background: #fcddae;
	margin-left: 30px;
	border: 1px dashed #770400;
}

.tb-shop .shop-bbs .reply dl dt {
	margin-right: 0;
	color: #FF6600;
}

.tb-shop .shop-bbs table dl {
	background: #fcddae;
	margin-left: 30px;
	border: 1px dashed #770400;
}

.tb-shop .shop-bbs table .date {
	color: #770400;
}

.tb-shop .shop-bbs dl dt {
	color: #FF6600;
}

.tb-shop .shop-custom .index_clist a {
	color: #820400;
}

.tb-shop .shop-custom .index_flist a {
	color: #FFF;
}