#hd {
	background-repeat: repeat-x;
	background-image:
		url(http://img06.taobaocdn.com/bao/uploaded/i6/T1zXRYXmJGXXartXjX.gif)
		;
}

/* copyright sky-design */
.tb-shop a {
	color: #ba8c5f;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #a77747;
	text-decoration: underline;
}

/* col-main col-sub */
.tb-shop .col-main .box .bd {
	background-color: #fff5e1;
	border: 0;
}

.tb-shop .col-main .box .hd {
	padding-left: 10px;
	height: 56px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2MzpzXnRXXXXXXXXX_!!36599414.png)
		left -70px !important;
	border: 0;
}

.tb-shop .col-main .box .hd h3,.tb-shop .col-main .box .hd h3 span {
	padding-left: 12px;
	line-height: 63px;
	color: #bb8f62;
	font-size: 14px;
}

.tb-shop .col-sub .box .bd {
	background-color: #fff5e1;
	border: 0 !important;
}

.tb-shop .col-sub .box .hd {
	height: 42px;
	width: 190px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2MzpzXnRXXXXXXXXX_!!36599414.png)
		left -127px;
	border: 0;
}

.tb-shop .col-sub .box .hd h3,.tb-shop .col-sub .box .hd h3 span {
	padding-left: 20px;
	line-height: 60px;
	color: #bb8f62;
	font-size: 12px;
}

/* shop-search */
.tb-shop .shop-search ul li .button {
	cursor: pointer;
	color: #fff;
	background-color: #ffa800;
	background-image: none;
}

.tb-shop .shop-search input {
	color: #bb8f62;
	border: 1px #ffa800 solid;
}

.tb-shop .shop-search li {
	color: #bb8f62;
}

/* shop-rank */
.tb-shop .shop-rank .tab-nav li {
	-moz-border-radius: 0;
	color: #bb8f62;
	background-color: #fff5e1;
	border: 0;
}

.tb-shop .shop-rank .tab-nav .selected span {
	color: #9a6e41;
	font-weight: bold;
}

.tb-shop .shop-rank .pic {
	border: 0;
}

.tb-shop .shop-rank .rank-panel ul li {
	border-bottom: 1px dashed #b58453;
}

.tb-shop .shop-rank .rank-panels {
	border-top: 1px #bb8f62 solid;
}

.tb-shop .shop-rank .price {
	color: #b08755;
	font-weight: bold;
}

.tb-shop .shop-rank .no-collect,.tb-shop .shop-rank .no-traded {
	display: none;
}

.tb-shop .shop-rank .collecter,.tb-shop .shop-rank .sale {
	color: #bb8f62;
}

/* shop-link */
.tb-shop .shop-links ul li {
	border-bottom: 1px dashed #e29196;
}

/* more-items */
.tb-shop .grid .more-items {
	display: none;
}

/* shop-category */
.tb-shop .shop-category hd {
	margin-top: 5px !important;
}

.tb-shop .shop-category .cat h4 {
	padding-left: 0px;
	background: none;
	margin-left: 0px;
}

.tb-shop .shop-category .cat-hd {
	margin-left: 0px;
}

.tb-shop .shop-category .cat-bd {
	margin-left: 0px;
}

.tb-shop .col-sub .bd,.tb-shop .col-extra .bd {
	padding-left: 0px;
}

.tb-shop .shop-category .cat {
	border: 0;
}

.tb-shop .shop-category .cats {
	width: 190px;
}

.tb-shop .shop-category .bd ul h4 a {
	line-height: 46px;
	height: 46px;
	color: white;
	text-align: center;
	width: 190px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2MzpzXnRXXXXXXXXX_!!36599414.png)
		left -170px no-repeat;
	font-size: 14px;
	display: block;
	font-weight: bold;
}

.tb-shop .shop-category .bd ul h4 a:hover {
	color: #bb8f62;
	text-decoration: none;
	background-position: left -244px;
}

.tb-shop .shop-category .bd ul ul a {
	line-height: 26px;
	height: 26px;
	color: #bb8f62;
	text-align: center;
	width: 190px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2MzpzXnRXXXXXXXXX_!!36599414.png)
		left -217px;
	font-size: 12px;
	display: block;
}

.tb-shop .shop-category .bd ul ul a:hover {
	color: #b2804d;
	text-decoration: none;
	font-weight: bold;
	background-position: left -291px;
}

/* dz-background */
.tb-shop .shop-header {
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/36599414/T2EPpzXn8XXXXXXXXX_!!36599414.gif)
		repeat-x !important;
	border: 0;
}

.tb-shop .shop-logo {
	visibility: hidden;
}

.tb-shop .shop-title {
	margin-left: -30px;
	margin-top: 10px;
}

.tb-shop .shop-title p {
	color: #712d00 !important;
	margin-left: 300px;
	margin-top: 20px;
}

.tb-shop .shop-title h2 a {
	position: absolute;
	line-height: 52px;
	color: #712d00;
	margin-left: -35px;
}

.tb-shop .shop-title h2 a:hover {
	color: #712d00;
	text-decoration: none;
}

/* nav */
.tb-shop .shop-header .nav {
	height: 36px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2MzpzXnRXXXXXXXXX_!!36599414.png)
		repeat-x;
}

.tb-shop .shop-header .nav li a {
	line-height: 36px;
	height: 36px;
	background: none;
	padding: 0;
}

.tb-shop .shop-header .nav li a em {
	line-height: 36px;
	height: 36px;
	text-align: center;
	color: #fff;
	background: none no-repeat center top;
	width: 80px;
	font-weight: bold;
	padding: 0;
}

.tb-shop .shop-header .nav li a:hover {
	text-decoration: none !important;
}

.tb-shop .shop-header .nav li a:hover em {
	height: 32px;
	color: #bb8f62;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2MzpzXnRXXXXXXXXX_!!36599414.png)
		left -37px no-repeat;
	margin-top: 2px;
}

.tb-shop .shop-header .nav ul {
	line-height: 36px;
	height: 36px;
	padding: 0;
}

.tb-shop .shop-header .nav ul li {
	margin-right: 0;
	line-height: 36px;
	height: 36px;
}

.tb-shop .shop-header .nav li.current a em {
	margin-right: 15px;
	color: #bb8f62;
	background: none;
	margin-left: 5px;
}

.tb-shop .shop-header .nav li.current a:hover em {
	color: #bb8f62 !important;
}

/* cat-items */
.tb-shop .cat-items {
	color: #fff;
	margin-top: 5px;
	padding: 5px;
	border: 4px solid #ffa800;
}

.tb-shop .cat-items a {
	color: #bb8f62;
	text-decoration: none;
}

.tb-shop .cat-items a:hover {
	color: #ffa800;
}

/* pic */
.tb-shop .grid .pic {
	border: 0 !important;
}

.tb-shop .grid .price span {
	color: #fff;
	background-color: #ffa800;
	padding: 2px;
}

.tb-shop .grid .price strong {
	color: #9e7143;
}

.tb-shop .col-main .pic a:hover img,.tb-shop .shop-display .pic a:hover img
	{
	max-height: 95%;
	max-width: 95%;
	border: #ffa800 solid 2px;
}

/* shop-bbs*/
.tb-shop .shop-bbs table dl {
	width: 100%;
	overflow: hidden;
	background-color: #fffaee;
	padding: 3px 3px 2px 5.5em;
	border: 1px solid #bb8f62;
}

.tb-shop .shop-bbs .handle a {
	line-height: 55px;
	color: #bb8f62;
}

.tb-shop .shop-bbs tbody tr .discuss-content {
	color: #aa7949;
}

.tb-shop .shop-bbs dl dd {
	color: #bb8f62;
}

.tb-shop .shop-bbs table a {
	color: #bb8f62;
}

.tb-shop .shop-bbs .line td {
	border-bottom: 1px solid #f0e6dd;
}