body {
	background-repeat: repeat-y;
	background-image:
		url(http://img06.taobaocdn.com/bao/uploaded/i6/T1RUlVXglwXXaCwpjX.png)
		;
	background-position: center 0;
}

.tb-shop {
	color: #000000;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #e40000;
	text-decoration: none;
}

.tb-shop a {
	color: #666666;
	text-decoration: none;
}

.tb-shop .shop-header .nav li.current a:hover  em {
	color: #FFCC00;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/78540262/T21GFzXfxXXXXXXXXX_!!78540262.png)
		no-repeat scroll center top transparent;
	font-size: 14px;
}

.tb-shop .shop-header .nav li.current a em {
	color: #FFFFFF;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/78540262/T21GFzXfxXXXXXXXXX_!!78540262.png)
		no-repeat scroll center -33px transparent;
	font-size: 14px;
}

.tb-shop .shop-header .nav li a:hover em {
	color: #FFFFFF;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/78540262/T21GFzXfxXXXXXXXXX_!!78540262.png)
		no-repeat scroll center top transparent;
}

.tb-shop .shop-header .nav li a em {
	line-height: 38px;
	color: #FFFFFF;
	text-align: center;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/78540262/T21GFzXfxXXXXXXXXX_!!78540262.png)
		no-repeat scroll center -33px transparent;
	font-size: 12px height : 38px;
	width: 120px;
	font-weight: bold;
	padding: 0;
}

.tb-shop .shop-header .nav ul li {
	line-height: 38px;
	margin-right: 0;
	height: 38px;
	overflow: hidden;
	background-image: none;
}

.tb-shop .shop-header .nav li,.tb-shop .shop-header .nav li a,.tb-shop .shop-header .nav li a em
	{
	height: 38px;
	width: 120px;
	display: block;
	float: left;
}

.tb-shop .shop-header .nav {
	position: absolute;
	height: 38px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/78540262/T2iWBzXjXXXXXXXXXX_!!78540262.png)
		repeat-x scroll 0 0;
	width: 950px;
	z-index: 1;
}

.tb-shop .shop-header .nav ul {
	line-height: 38px;
	height: 38px;
	padding: 0;
}

.tb-shop .shop-header .nav li a:hover {
	font-size: 14px;
	font-weight: bold text-decoration : none !important;
}

.tb-shop .a1 {
	color: #FFFFFF;
	font-size: 14px;
}

.tb-shop .a1 a {
	color: #FFFFFF;
	font-size: 14px;
}

.tb-shop .a1 a:hover {
	color: #666666;
	font-size: 16px;
	text-decoration: underline;
}

.tb-shop .box .hd,.tb-shop .shopkeeper .box .hd {
	padding-left: 10px;
	height: 45px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/78540262/T2llxyXfJaXXXXXXXX_!!78540262.png)
		0 0 repeat-x;
	display: block;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 30px;
	padding-top: 7px;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

.tb-shop .col-main .box .hd {
	padding-left: 25px;
	padding-top: -1px;
	height: 45px;
	color: #333333;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/78540262/T2zBxyXfdaXXXXXXXX_!!78540262.png)
		0 0 no-repeat;
	border-color: #000000 !important;
}

.tb-shop .h3 span {
	border: 1px;
}

.tb-shop .box .hd {
	border: 0px;
}

.tb-shop .box .hd h3 {
	padding-left: 30px;
	padding-top: 3px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

.tb-shop .col-main .box .more-items a {
	color: #FF0000;
	text-decoration: none;
	margin-top: 2px;
}

.tb-shop .col-main .box .more-items a:hover {
	color: #FFFFFF;
}

.tb-shop .shop-category .cats .cat {
	border-top: none;
}

.tb-shop .shop-category .bd ul h4 a:hover {
	color: #d7a457;
	text-decoration: none;
	background-position: left;
}

.tb-shop .shop-category .bd ul h4 a {
	padding-left: 30px;
	line-height: 35px;
	height: 35px;
	color: #f3e2c4;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/78540262/T2JBxyXeVaXXXXXXXX_!!78540262.png)
		no-repeat scroll left top #ffffff;
	font-size: 14px;
	width: 160px;
	display: block;
}

.tb-shop .shop-category .bd ul ul a:hover {
	color: #666666;
	text-decoration: none;
}

.tb-shop .shop-category .bd ul ul a {
	padding-left: 30px;
	line-height: 21px;
	height: 21px;
	color: #000000;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/78540262/T2fk0yXcFaXXXXXXXX_!!78540262.png)
		no-repeat scroll left top transparent;
	width: 160px;
	display: block;
}

.tb-shop .box .bd {
	overflow: hidden;
	border-color: #FF0000 !important;
	border: 1px solid #FF0000;
}

.tb-shop .col-sub .box .hd,.tb-shop .col-extra .box .hd {
	border-color: #ffffff !important;
}

.tb-shop .box .bd,.tb-shop .shopkeeper .box .hd,.tb-shop .shopkeeper .box .bd
	{
	border-color: #cccbcb !important;
}

.tb-shop .grid .item .pic a:hover {
	height: 156px;
	width: 156px;
	border: #e40000 2px solid;
}

.tb-shop .grid .item .pic a {
	height: 160px;
	width: 160px;
	overflow: hidden;
	display: block;
}

.tb-shop .grid .pic {
	border: 1px solid #cccbcb !important;
}

.tb-shop .col-sub .box .hd,.tb-shop .col-extra .box .hd h3 {
	padding-top: 2px;
}

.tb-shop .grid .item.pic a:hover {
	text-decoration: none;
}

.tb-shop .grid .price strong {
	color: #e40000 !important;
	font-weight: 700;
}

.tb-shop .big .item .pic a:hover {
	height: 216px;
	width: 216px;
	border: #e40000 2px solid;
}

.tb-shop .big .item .pic a {
	height: 220px;
	width: 220px;
	overflow: hidden;
	display: block;
}

.tb-shop .big .pic {
	border: 1px solid #cccbcb !important;
}

.tb-shop .shop-hesper .bd {
	background-color: #FFFFFF !important;
	padding: 0;
}

.tb-shop .box .shop-category .cat h4 img {
	width: 160px;
}

.tb-shop .box .shop-category .cat ul img {
	width: 160px;
}