body {
	background-repeat: repeat;
}

#hd {
	background-repeat: repeat;
}

.tb-shop .shop-header .nav ul li {
	line-height: 36px;
	margin-right: 0px;
	height: 36px;
	overflow: hidden;
	background-image: none;
}

.tb-shop .shop-header .nav li {
	height: 36px;
	width: 103px;
	display: block;
	float: left;
}

.tb-shop .shop-header .nav li a {
	height: 36px;
	width: 103px;
	display: block;
	float: left;
}

.tb-shop .shop-header .nav li a em {
	padding-right: 0px;
	padding-left: 0px;
	line-height: 36px;
	padding-top: 0px;
	height: 36px;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/35173100/T2KvBzXfpXXXXXXXXX_!!35173100.jpg)
		no-repeat center top;
	width: 103px;
	font-weight: normal;
	padding-bottom: 0px;
}

.tb-shop .shop-header .nav {
	position: absolute;
	height: 36px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/35173100/T2KvBzXfpXXXXXXXXX_!!35173100.jpg)
		repeat-x 0px 0px;
	overflow: hidden;
	width: 950px;
	z-index: 1;
}

.tb-shop .shop-header .nav li.current a em {
	color: #FFFFF;
	font-size: 14px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/35173100/T2x2FzXeXXXXXXXXXX_!!35173100.png)
		no-repeat center 50%;
	font-weight: bold;
}

.tb-shop .shop-header .nav ul {
	padding-right: 0px;
	padding-left: 0px;
	line-height: 36px;
	padding-top: 0px;
	height: 36px;
	padding-bottom: 0px;
}

.tb-shop .shop-header .nav li a:hover em {
	color: #FFFFF;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/35173100/T2x2FzXeXXXXXXXXXX_!!35173100.png)
		no-repeat 50%;
}

.tb-shop .shop-header .nav li a:hover {
	font-size: 14px;
	text-decoration: none ! important;
}

.tb-shop .box {
	overflow: hidden;
	margin-bottom: 14px;
}

.tb-shop .box .bd {
	border: 1px solid #FFFFF;
}

.tb-shop .box .hd {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/35173100/T2Z24zXe8XXXXXXXXX_!!35173100.jpg)
		0 0 no-repeat;
	border: none;
}

.tb-shop .col-sub .hd,.tb-shop .col-extra .hd {
	height: 37px;
	background-position: 0 -37px;
}

.tb-shop .box .hd h3 {
	padding-left: 27px;
	padding-top: 8px;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 50px;
	padding-top: 1px;
}

.tb-shop .box .hd h3 span {
	line-height: 37x;
	color: #FFFFF;
}

.tb-shop .col-main .hd {
	height: 37px;
	background-position: 0 0;
}

.tb-shop .col-main .hd h3 {
	padding-left: 37px;
}

.tb-shop .col-main .hd h3 span {
	line-height: 37px;
	color: #FFFFF;
}

.tb-shop .grid-m .col-main .hd {
	background-position: 0 -124px;
}

.tb-shop .grid-s5m0e5 .col-main .hd,.tb-shop .grid-s5e5m0 .col-main .hd
	{
	background-position: 0 -161px;
}

.tb-shop .a:hover {
	border: 2px #FFFFF solid;
}

.tb-shop .shop-category .bd ul h4 a {
	line-height: 34px;
	text-indent: 12px;
	height: 34px;
	color: #fff;
	width: 150px;
	background: #eaff00
		url(http://img04.taobaocdn.com/imgextra/i4/35173100/T2L2dzXeRbXXXXXXXX_!!35173100.png)
		left top no-repeat;
	font-size: 14px;
	display: block;
}

.tb-shop .shop-category .bd ul h4 a:hover {
	color: #fefb00;
	text-decoration: none;
	background-position: left -34px;
}

.tb-shop .shop-category .bd ul ul a {
	line-height: 22px;
	text-indent: 20px;
	height: 22px;
	width: 150px;
	background: #f6f6f6
		url(http://img04.taobaocdn.com/imgextra/i4/35173100/T2L2dzXeRbXXXXXXXX_!!35173100.png)
		left -68px no-repeat;
	display: block;
}

.tb-shop .shop-category .bd ul ul a:hover {
	text-decoration: none;
	background-position: left -90px;
}

.tb-shop a {
	color: #CC0000;
}

.tb-shop a:hover {
	color: #330000;
	font-size: 13px;
	text-decoration: none;
}

.tb-shop .shop-list  li .pic a {
	background: none;
	border: none;
}

.tb-shop .shop-list  li .pic a:hover {
	background: #CC0000;
}

.tb-shop .shop-list  li .pic a img {
	height: 100%;
	width: 100%;
}

.tb-shop .shop-list  li .pic a:hover  img {
	padding-top: 　1 %;
	height: 96%;
	width: 96%;
}