.tb-shop .cats .cat h4 a {
	padding-left: 35px;
	line-height: 40px;
	height: 40px;
	color: #000;
	width: 140px;
	overflow: hidden;
	background:
		url( 

http://img02.taobaocdn.com/imgextra/i2/31301790/T2JmFzXotaXXXXXXXX_!!31301790.gif)
		no-repeat scroll 0 0 #fff;
	display: block;
}

.tb-shop .cats .cat h4 a:hover {
	background:
		url( http://img02.taobaocdn.com/imgextra/i2/31301790/T2JmFzXotaXXXXXXXX_!!31301790.gif)
		no-repeat scroll 0 0 #fff;
	display: block;
	text-decoration: none;
}

.tb-shop .shop-category .bd .cat-bd a {
	padding-left: 30px;
	line-height: 24px;
	height: 26px;
	color: #000;
	text-inline: center;
	background:
		url( http://img04.taobaocdn.com/imgextra/i4/31301790/T2rJJzXohXXXXXXXXX_!!31301790.gif)
		no-repeat 0px 0px;
	width: 140px;
	display: block;
	text-decoration: none;
}

.tb-shop .shop-category .bd .cat-bd a:hover {
	background:
		url( http://img04.taobaocdn.com/imgextra/i4/31301790/T2rJJzXohXXXXXXXXX_!!31301790.gif)
		no-repeat 0px 0px;
}

.tb-shop .col-main .box .hd {
	padding-left: 35px;
	height: 44px;
	color: #000000;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/31301790/T2jdJzXoxXXXXXXXXX_!!31301790.gif)
		no-repeat;
}

.tb-shop .box .hd {
	padding-left: 25px;
	padding-top: 15px;
	line-height: 90px;
	height: 38px;
	color: #fe257c;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/31301790/T2jdJzXoxXXXXXXXXX_!!31301790.gif)
		no-repeat;
	font-size: 14px;
}

.tb-shop .col-main .box .bd {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/31301790/T2GSpyXi4XXXXXXXXX_!!31301790.gif)
		;
}

.tb-shop .box .bd {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/31301790/T2GSpyXi4XXXXXXXXX_!!31301790.gif)
		repeat;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 35px;
	line-height: 90px;
	color: #fd0266;
	font-size: 14px;
}

.tb-shop .box .hd h3,.tb-shop .col-main .box .hd h3 {
	padding-left: 20px;
	padding-top: 0px;
	color: #fd0266;
}

.tb-shop a {
	color: #fd0266;
	text-decoration: none;
}

.tb-shop .grid .price strong {
	color: #fd0266;
	font-weight: 700;
}