body {
	background-repeat: repeat;
}

#hd {
	background-repeat: no-repeat;
	background-position: center 0;
}

.tb-shop .box .bd {
	border-top: none;
}

.tb-shop .col-sub .box div.hd h3,.tb-shop .col-main .box div.hd h3 {
	background: none;
}

.tb-shop .col-sub .box div.hd h3 span,.tb-shop .col-main .box div.hd h3 span
	{
	background: none;
}

.tb-shop .grid .pic a:hover img {
	vertical-align: middle;
	max-height: 156px;
	border: 2px solid #000000;
}

.tb-shop .col-sub div.hd {
	line-height: 28px;
	height: 31px;
	color: #FFFFFF;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/48976277/T2w_XzXgtbXXXXXXXX_!!48976277.jpg)
		no-repeat scroll 1px top #ffffff;
	font-size: 12px;
	width: 190px;
	display: block;
	text- align: center;
}

.tb-shop .col-main div.hd {
	line-height: 28px;
	height: 30px;
	color: #FFFFFF;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/48976277/T2jnXzXgRbXXXXXXXX_!!48976277.jpg)
		no-repeat scroll 1px top #ffffff;
	font-size: 12px;
	width: 750px;
	display: block;
	text- align: center;
}

.tb-shop .shop-category img {
	display: none;
}

.tb-shop .shop-category .bd ul h4 a {
	padding-left: 10px;
	line-height: 42px;
	height: 47px;
	color: #fff;
	width: 160px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/48976277/T24m8zXhhbXXXXXXXX_!!48976277.jpg)
		no-repeat scroll 1px top #ffffff;
	font-size: 12px;
	display: block;
	text- align: left;
}

.tb-shop .shop-category .bd ul h4 a:hover {
	padding-left: 10px;
	line-height: 42px;
	height: 47px;
	color: #fff;
	width: 160px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/48976277/T2Qm4zXjJbXXXXXXXX_!!48976277.jpg)
		no-repeat scroll 1px top #ffffff;
	font-size: 12px;
	display: block;
}

.tb-shop .shop-category .bd ul ul a {
	padding-left: 10px;
	line-height: 24px;
	height: 26px;
	color: #fff;
	width: 160px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/48976277/T2s98zXilbXXXXXXXX_!!48976277.jpg)
		no-repeat scroll 1px top #ffffff;
	font-size: 12px;
	display: block;
	text- align: left;
}

.tb-shop .shop-category .bd ul ul a:hover {
	padding-left: 10px;
	line-height: 24px;
	height: 26px;
	color: #fff;
	width: 160px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/48976277/T2L.pzXXpXXXXXXXXX_!!48976277.jpg)
		no-repeat scroll 1px top #ffffff;
	font-size: 12px;
	display: block;
}