.tb-shop .box {
	overflow: hidden;
	margin-bottom: 0.1px;
}

.tb-shop a {
	color: #ffffff;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #cdcdcd;
}

.tb-shop .shop-banner .bd,.tb-shop .shop-header {
	height: auto;
	background: none;
	padding: 0;
}

.tb-shop .shop-banner .bd {
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/27480106/T2W8RzXo8aXXXXXXXX_!!27480106.gif)
		0 0 no-repeat;
}

.tb-shop .shop-header .shop-title {
	letter-spacing: 100px;
	width: 90px;
	margin-left: 1px;
	margin-top: -1px;
}

.tb-shop .shop-header .shop-title h2 {
	font-weight: bold;
}

.tb-shop .shop-header .shop-title h2 a {
	color: #ffe293;
	font-size: 200px;
	font-family: Verdana, & quot;
	text-decoration: none;
}

/*&#23567;&#26631;&#39064;*/
.tb-shop .shop-header .shop-title p {
	padding-left: 5px;
	color: #009900;
}

/*ddd*/
.tb-shop .shop-header .nav {
	height: auto;
}

.tb-shop .shop-header .nav ul {
	height: 30px !important;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.tb-shop .shop-header .nav li {
	margin-right: 5px;
	height: 30px;
	display: inline-block;
}

.tb-shop .shop-header .nav li a,.tb-shop .shop-header .nav li a em {
	line-height: 30px;
	height: 30px;
	color: #fffff;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/27480106/T2lmFzXixXXXXXXXXX_!!27480106.gif)
		0 0 no-repeat;
	font-size: 13px;
	width: 120px;
	font-weight: bold;
}

.tb-shop .shop-header .nav li a {
	text-decoration: none;
	background-position: -100% 0 !important;
}

.tb-shop .shop-header .nav li a em {
	background-position: 0 0 !important;
}

.tb-shop .shop-header .nav li a:hover,.tb-shop .shop-header .nav li.current a
	{
	background-position: 0 -30px !important;
}

.tb-shop .shop-header .nav li a em:hover,.tb-shop .shop-header .nav li.current a em
	{
	color: #ffffff;
	background-position: 0 -30px !important;
}

.tb-shop .shop-header,.tb-shop .shop-header .nav {
	height: 36px;
	background: none;
	padding: 0;
}

/*d*/
.tb-shop .col-main .pic a:hover img,.tb-shop .shop-display .pic a:hover img
	{
	max-height: 94%;
	max-width: 94%;
	border: #000010 solid 5px;
}

.tb-shop .col-main .box .hd,.tb-shop .col-main .box .hd h3,.tb-shop .col-main .box .hd h3 span
	{
	line-height: 41px;
	height: 40px;
	background: none;
}

.tb-shop .col-main .box .hd {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/27480106/T2VR8zXcJbXXXXXXXX_!!27480106.gif)
		no-repeat;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 330px;
	line-height: 32px;
	color: #FFFFff;
	font-size: 14px;
}

.tb-shop .col-sub .box .hd,.tb-shop .col-sub .box .hd h3,.tb-shop .col-sub .box .hd h3 span
	{
	line-height: 41px;
	height: 40px;
	background: none;
}

.tb-shop .col-sub .box .hd {
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/27480106/T2bmBzXdRaXXXXXXXX_!!27480106.gif)
		no-repeat 0 0;
	border: none;
}

.tb-shop .col-sub .box .hd h3 {
	padding-left: 62px;
	color: #FFFFff;
	font-size: 14px;
}

.tb-shop .cat,.tb-shop .cats {
	color: #FFFFff;
	border: none !important;
}

.tb-shop  . .tb-shop .box .bd {
	background: #ffffff;
	border-color: #ccc;
}

.tb-shop .shop-banner .bd,.tb-shop .shop-header,.tb-shop .shop-header .nav
	{
	height: auto;
	background: none;
	padding: 0;
}

/*&#24215;&#25307;&#32972;&#26223;--------------------------*/
.tb-shop .shop-category {
	margin-top: -5px;
}

.tb-shop .shop-category  h4,.tb-shop .shop-category .bd {
	background: none;
	padding: 0;
}

.tb-shop .shop-category  h4 i {
	display: none;
}

.tb-shop .shop-category .cats,.tb-shop .shop-category .cat,.tb-shop .shop-category ul
	{
	width: auto;
	border: none;
	padding: 0;
}

/*&#20998;&#31867;&#32972;&#26223;*/
.tb-shop .shop-category .cat,.tb-shop .shop-category .cat h4,.tb-shop .shop-category .cat_hd,.tb-shop .shop-category  .cat-bd li
	{
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/27480106/T2Tl0zXfXbXXXXXXXX_!!27480106.jpg)
		0 0 no-repeat;
}

/*&#12304;&#25353;&#38144;&#37327; &#25353;&#26032;&#21697; &#25353;&#20215;&#26684; &#25353;&#25910;&#34255;&#12305;&#30340;&#32972;&#26223;*/
.tb-shop .shop-category .cat {
	text-align: center;
	margin-top: 5px;
	background-position: 0 -200px;
}

/*&#26597;&#30475;&#25152;&#26377;&#23453;&#36125;&#30340;&#25991;&#23383;*/
.tb-shop .shop-category .cat a {
	line-height: 60px;
	color: #ffffff;
}

/*&#26597;&#30475;&#25152;&#26377;&#23453;&#36125;&#30340;&#32972;&#26223;*/
.tb-shop .shop-category .cat h4 {
	padding-left: 48px;
	height: 60px;
	text-align: left;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/27480106/T2Tl0zXfXbXXXXXXXX_!!27480106.jpg)
		0 0;
	overflow: hidden;
}

.tb-shop .shop-category .cat h4,.tb-shop .shop-category .cat h4 a {
	line-height: 60px;
	color: #ffffff;
	text-decoration: none;
}

.tb-shop .shop-category .cat h4:hover {
	background-position: 0 0;
}

/*&#20998;&#31867;&#26041;&#26694;&#26694;*/
.tb-shop .shop-category .expand {
	border: 0;
	padding: 0;
}

.tb-shop .shop-category .cat-hd {
	line-height: 60px;
	margin-bottom: 0 !important;
	margin-top: 5px;
}

/*&#22823;&#20998;&#31867;&#32972;&#26223;*/
.tb-shop .shop-category .expand .cat-hd {
	background-position: 0 0;
}

.tb-shop .shop-category .expand h4:hover {
	background-position: 0 0;
}

/*&#65311;&#65311;*/
.tb-shop .shop-category .collapse {
	background-position: 0 0;
}

.tb-shop .shop-category .collapse .cat-hd {
	background-position: 0 0px;
}

.tb-shop .shop-category .collapse h4:hover {
	background-position: 0 0px !important;
}

/*fp*/
.tb-shop .shop-category  .cat-bd {
	margin-left: 0;
}

.tb-shop .shop-category  .cat-bd li {
	height: 40px;
	text-align: left;
	overflow: hidden;
	padding: 0 0 0 56px;
	background-position: 0 -60px;
}

.tb-shop .shop-category  .cat-bd a {
	line-height: 40px;
	color: #ffffff;
	text-decoration: none;
}

.tb-shop .shop-category  .cat-bd li:hover {
	font-weight: bold;
	background-position: 0 -100px;
}

.tb-shop .shop-rank .bd {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.tb-shop .col-main .bd,.tb-shop .shop-rank .rank-panels {
	border: none;
}

.tb-shop .shop-flashshow .bd,.tb-shop .shop-slider .bd,.tb-shop .shop-category .bd,.tb-shop .shop-custom .bd,.tb-shop .shop-rank .bd,.tb-shop .shop-hesper .bd,.tb-shop .shop-search-x .bd
	{
	padding: 0;
	border: 0;
}

.tb-shop .box .bd {
	background: #000314;
	border-color: #ccc;
}

.tb-shop .cat-items {
	background: #000314;
	border: #fea71d;
}