body {
	background-color: #FFFFFF;
	background-repeat: repeat;
}

.tb-shop a {
	color: #FFFFFF;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #FFF;
}

.tb-shop .pic a:hover img {
	height: 96%;
	border: #000000 solid 3.2px;
	padding: 0px;
	z-index: 99;
}

.tb-shop .col-sub .box .bd {
	color: #FFFFFF;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/98466514/T2f2lzXbhbXXXXXXXX_!!98466514.jpg)
		;
}

.tb-shop .col-main .box .bd {
	color: #FFFFFF;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/98466514/T2f2lzXbhbXXXXXXXX_!!98466514.jpg)
		;
}

.tb-shop .col-sub .bd .tab-nav .selected span {
	background-color: #FFFFFF;
}

.tb-shop .col-sub .bd .tab-nav li {
	background-color: #000000;
}

.tb-shop .shop-header .nav {
	height: 32px;
	width: 950px;
	border: 0;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url();
}

.tb-shop .shop-header .nav ul li a em {
	height: 30px;
	color: #FFFFFF;
	text-align: center;
	width: 140px;
	background: none;
	padding: 7px 0px 0px 0px;
}

.tb-shop .shop-header .nav li a {
	background: none;
	text-decoration: none;
}

.tb-shop .shop-header .nav li a:hover em {
	height: 23px;
	color: #A29F9F;
	text-align: center;
	background: url() no-repeat -12px;
	width: 140px;
}

.tb-shop shop-header .nav li.current a em {
	color: #FFFFFF;
}

.tb-shop .col-main .hd {
	height: 43px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/98466514/T229tzXXpaXXXXXXXX_!!98466514.jpg)
		right top no-repeat;
	border: none;
}

.tb-shop .col-main .hd h3 {
	padding-left: 60px;
	padding-top: 2px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: & quot; &#40657; &#20307; & quot;;
	font-weight: 800;
}

.tb-shop .col-sub .hd {
	height: 43px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/98466514/T229tzXXpaXXXXXXXX_!!98466514.jpg)
		right top no-repeat;
	border: none;
}

.tb-shop .col-sub .hd h3 {
	padding-left: 60px;
	padding-top: 5px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: & quot; &#40657; &#20307; & quot;;
	font-weight: 800;
}

.tb-shop .shop-category .bd .cat h4 a {
	padding-left: 25px;
	padding-top: 15px;
	line-height: 14px;
	height: 35px;
	color: #B31C1C;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/98466514/T229tzXXpaXXXXXXXX_!!98466514.jpg)
		no-repeat;
	font-size: 12px;
	width: 165px;
	text-decoration: none;
	display: block;
	font-weigth: 900;
}

.tb-shop .shop-category .bd .cat h4 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.tb-shop .shop-category .bd .cat-bd a {
	padding-left: 20px;
	line-height: 20px;
	height: 20px;
	color: #FFFFFF;
	font: 12px;
	width: 150px;
	background: url() no-repeat;
	display: block;
	text-decoration: none;
}

.tb-shop .shop-category .bd .cat-bd a:hover {
	color: #B31C1C;
	text-decoration: none;
}