.tb-shop .shop-banner .bd,.tb-shop .shop-header,.tb-shop .shop-header .nav
	{
	height: auto;
	background: none;
	padding: 0;
}

.tb-shop .shop-header .shop-regular-hd {
	letter-spacing: 3px;
	margin-left: 100px;
	margin-top: 8px;
}

.tb-shop .shop-header .shop-title h2 {
	padding-left: 225px;
	padding-top: 12px;
	color: #7b2141;
	overflow: hidden;
	font-size: 20px;
	margin-bottom: 4px;
	font-family: & quot; &#24494; &#36719; &#38597; &#40657; ,&#40657;
	&#20307; ,&#23435; &#20307; & quot;;
	display: block;
	font-weight: bold;
}

.tb-shop .shop-header .shop-title h2 a {
	color: #fff;
}

.tb-shop .shop-header .shop-title p {
	padding-left: 225px;
	padding-top: 0px;
	letter-spacing: 2px;
	color: #fff;
	overflow: hidden;
}

.tb-shop .shop-banner .bd {
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/36599414/T2ipxAXhxaXXXXXXXX_!!36599414.gif)
		0 0 no-repeat !important;
	border: 0 !important;
}

.tb-shop a {
	color: #7b2141;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #d3567b;
}

.tb-shop .shop-header .nav li.current a:hover  em {
	color: white;
	font-size: 14px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/36599414/T24FJAXXJaXXXXXXXX_!!36599414.png)
		no-repeat scroll 0 0 transparent;
}

.tb-shop .shop-header .nav li.current a em {
	color: white;
	font-size: 14px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/36599414/T24FJAXXJaXXXXXXXX_!!36599414.png)
		no-repeat scroll 0 0 transparent;
	font-weight: bold;
}

.tb-shop .shop-header .nav li a:hover em {
	color: white;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/36599414/T24FJAXXJaXXXXXXXX_!!36599414.png)
		no-repeat scroll 0 0 transparent;
	font-weight: bold;
}

.tb-shop .shop-header .nav li a em {
	padding-left: 8px;
	line-height: 38px;
	height: 34px;
	text-align: center;
	color: white;
	width: 83px;
	font-size: 14px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/36599414/T24FJAXXJaXXXXXXXX_!!36599414.png)
		no-repeat scroll -86px 0 transparent;
	font-weight: normal;
	padding: 0;
}

.tb-shop .shop-header .nav ul li {
	margin-right: 0px;
	line-height: 34px;
	height: 34px;
	overflow: hidden;
	margin-left: 0px;
	background-image: none;
}

.tb-shop .shop-header .nav li a {
	background: none;
}

.tb-shop .shop-header .nav li,.tb-shop .shop-header .nav li a,.tb-shop .shop-header .nav li a em
	{
	line-height: 34px;
	height: 34px;
	width: 86px;
	display: block;
	float: left;
}

.tb-shop .shop-header .nav {
	position: absolute;
	padding-left: 0px;
	height: 34px;
	width: 950px;
	z-index: 1;
}

.tb-shop .shop-header .nav ul {
	line-height: 34px;
	height: 34px;
	padding: 0;
	float: left;
}

.tb-shop .shop-header .nav li a:hover {
	font-size: 14px;
	text-decoration: none !important;
}

.tb-shop .box .hd,.tb-shop .shopkeeper .box .hd {
	height: 34px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/36599414/T24FJAXXJaXXXXXXXX_!!36599414.png)
		0 -36px repeat-x;
	display: block;
	z-index: 99;
}

.tb-shop .col-main .box .hd h3 {
	line-height: 36px;
	padding-top: 5pt;
	height: 36px;
	text-align: left;
	color: white;
	width: 100px;
	font-size: 14px;
	background-color: none;
	margin-left: 30px !important;
	font-weight: bold;
}

.tb-shop .col-main .box .hd {
	line-height: 36px;
	height: 36px;
	color: #333333;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/36599414/T24FJAXXJaXXXXXXXX_!!36599414.png)
		0 -70px no-repeat;
	z-index: 99;
}

.tb-shop .h3 span {
	border: 1px;
}

.tb-shop .box .hd {
	border: 0px;
}

.tb-shop .box .hd h3 {
	padding-left: 35px;
	padding-top: 5px;
	text-align: left;
	color: white;
	width: 190px;
	font-size: 14px;
	background-color: none;
	margin-left: 0px;
	font-weight: bold;
}

.tb-shop .shop-category .cats .cat {
	border-color: white;
	border-top: none;
}

.tb-shop .shop-category .bd ul h4 a:hover {
	color: white;
	text-decoration: none;
	font-weight: bold;
	background-position: -190px -106px;
}

.tb-shop .shop-category .bd ul h4 a {
	padding-left: 10px;
	line-height: 37px;
	color: white;
	text-align: center;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/36599414/T24FJAXXJaXXXXXXXX_!!36599414.png)
		no-repeat scroll 0 -106px #ffffff;
	font-size: 14px;
	width: 190px;
	display: block;
	font-weight: bold;
	padding-bottom: 0px;
}

.tb-shop .shop-category .bd ul ul a:hover {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	background-position: -190px -143px;
}

.tb-shop .shop-category .bd ul ul a {
	line-height: 28px;
	padding-top: 0px;
	text-align: center;
	color: #fff;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/36599414/T24FJAXXJaXXXXXXXX_!!36599414.png)
		no-repeat scroll 0 -143px transparent;
	width: 190px;
	display: block;
}

.tb-shop .shop-category .bd ul ul {
	padding-left: 0px;
	margin-left: 0 !important;
}

.tb-shop .box .shop-category .cat h4 img {
	width: 864px;
}

.tb-shop .box .shop-category .cat ul img {
	width: 864px;
}

.tb-shop .shop-category .cat h4 {
	padding-left: 0px;
	background: none;
}

.tb-shop .col-sub .box .hd,.tb-shop .col-extra .box .hd h3 {
	padding-top: 0pt;
	text-align: left;
	margin-bottom: 0px;
}

.tb-shop .col-sub .bd {
	background-color: transparent !important;
	padding: 0;
	border: none !important;
}

.tb-shop .col-main .bd {
	background-color: transparent !important;
}

.tb-shop .shop-category .cats {
	width: 190px;
}

.tb-shop .shop-category .cat-bd {
	margin-left: 0 !important;
}

.tb-shop .grid .pic {
	border: 0 !important;
}

.tb-shop .grid .more-items {
	display: none;
}

.tb-shop .col-main .pic a:hover img,.tb-shop .shop-display .pic a:hover img
	{
	max-height: 95%;
	max-width: 95%;
	border: #d3567b solid 2px;
}

.tb-shop .grid .price span {
	color: white;
	background-color: #7b2141;
	padding: 2px;
}

.tb-shop .grid .price strong {
	
}

.tb-shop .shop-bbs .handle a {
	color: #fff;
}

.tb-shop .shop-bbs .handle a:hover {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.tb-shop .shop-bbs tbody tr .discuss-content {
	color: #7b2141;
}

.tb-shop .shop-bbs tbody tr .user a,.tb-shop .shop-bbs tbody tr .detail a
	{
	color: #7b2141;
}

.tb-shop .shop-bbs table dl {
	color: #7b2141;
	width: 100%;
	overflow: hidden;
	background-color: transparent;
	padding: 3px 3px 2px 5.5em;
	border: 0;
}

.tb-shop .shop-bbs .line td {
	border-bottom: 1px dashed white;
}

.tb-shop .shop-bbs .date {
	color: #d3567b !important;
}

.tb-shop .shop-bbs dt {
	color: #7b2141 !important;
	font-weight: bold;
}

.tb-shop .shop-search ul li .button {
	cursor: pointer;
	color: white;
	background-color: #7b2141;
	background-image: none;
}

.tb-shop .shop-search input {
	color: #7b2141;
	border: 1px #7b2141 solid;
}

.tb-shop .shop-search li {
	color: #7b2141;
}

.tb-shop .shop-rank .tab-nav li {
	-moz-border-radius: 0;
	color: #7b2141;
	background-color: transparent;
	border: 0;
}

.tb-shop .shop-rank .tab-nav .selected span {
	color: white;
	background-color: #7b2141;
	font-weight: bold;
}

.tb-shop .shop-rank .pic {
	border: 0;
}

.tb-shop .shop-rank .rank-panel ul li {
	border-bottom: 1px dashed #7b2141;
}

.tb-shop .shop-rank .rank-panels {
	border-top: 1px #7b2141 solid;
}

.tb-shop .shop-rank .price {
	color: #7b2141;
	font-weight: bold;
}

.tb-shop .shop-rank .no-collect,.tb-shop .shop-rank .no-traded {
	display: none;
}

.tb-shop .shop-rank .rank-panel ul {
	margin-bottom: 0px !important;
}

.tb-shop .shop-rank .collecter,.tb-shop .shop-rank .sale {
	color: #7b2141;
}