.tb-shop {
	color: #2e2e2e;
}

.tb-shop a {
	color: #2e2e2e;
}

.tb-shop img {
	vertical-align: bottom;
}

.tb-shop a:hover {
	color: #181818;
	text-decoration: none;
}

.tb-shop .shop-header {
	background: none;
}

.tb-shop .shop-banner .bd {
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T26nVzXoBaXXXXXXXX_!!613184597.gif)
		no-repeat;
}

.tb-shop .shop-banner .shop-summary {
	position: static;
}

.tb-shop .shop-banner h2 {
	padding-left: 75px;
	line-height: 60px;
	height: 60px;
	overflow: hidden;
}

.tb-shop .shop-banner h2 a {
	color: #2e2e2e;
	font-size: 16px;
	font-family: & quot;
	&#24494;
	&#36719;
	&#38597;
	&#40657;
	&
	quot;
	,
	&
	quot;
	&#40657;
	&#20307;
	&
	quot;;
}

.tb-shop .shop-banner h2 a:hover {
	color: #2e2e2e;
}

.tb-shop .shop-header .nav li,.tb-shop .shop-header .nav li a {
	height: 43px;
}

.tb-shop .shop-header .nav {
	height: 53px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/613184597/T2eT0zXolaXXXXXXXX_!!613184597.gif)
		repeat-x;
	width: 950px;
	padding: 0;
}

.tb-shop .shop-header .nav ul {
	height: 53px;
	background: none;
	overflow: hidden;
	padding: 0;
}

.tb-shop .shop-header .nav li {
	margin-right: 0;
	height: 53px;
}

.tb-shop .shop-header .nav li a {
	height: 53px;
	background: none;
	display: block;
	padding: 0;
}

.tb-shop .shop-header .nav li a em {
	padding-left: 25px;
	padding-right: 25px;
	line-height: 43px;
	height: 53px;
	color: #2e2e2e;
	font-size: 12px;
	background: none;
	overflow: hidden;
}

.tb-shop .shop-header .nav li a:hover {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/613184597/T2_n0zXmRaXXXXXXXX_!!613184597.gif)
		repeat-x;
	text-decoration: none;
	border: 0;
}

.tb-shop .shop-header .nav li a:hover em {
	color: #FFF;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/613184597/T2h_4zXmxaXXXXXXXX_!!613184597.gif)
		no-repeat center;
}

.tb-shop .shop-header .nav li.current a {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/613184597/T2_n0zXmRaXXXXXXXX_!!613184597.gif)
		repeat-x;
	text-decoration: none;
}

.tb-shop .shop-header .nav li.current {
	padding: 0;
}

.tb-shop .shop-header .nav li.current a:hover {
	text-decoration: none;
}

.tb-shop .shop-header .nav li.current a em {
	color: #FFF;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/613184597/T2h_4zXmxaXXXXXXXX_!!613184597.gif)
		no-repeat center;
}

.tb-shop .onrai {
	position: fixed !important;
	width: 85px;
	margin-left: 960px;
	z-index: 9999;
}

.tb-shop .oshirase {
	color: #FFF;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T2on8zXklaXXXXXXXX_!!613184597.gif)
		no-repeat;
}

.tb-shop .oshirase a {
	color: #FFF;
}

.tb-shop .oshirase .kojin div {
	padding-left: 10px;
	padding-top: 5px;
	float: left;
}

.tb-shop .oshirase .kojin div a {
	color: #d2d2d2;
}

.tb-shop .oshirase .kojin div a:hover {
	color: #FFF;
}

.tb-shop .oshirase .naiyo {
	height: 180px;
	width: 170px;
	padding: 10px 20px;
}

.tb-shop .oshirase .shusho a {
	text-indent: -9999px;
	height: 26px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/613184597/T2fDVzXa0bXXXXXXXX_!!613184597.gif)
		no-repeat;
	width: 126px;
	display: block;
}

.tb-shop .oshirase .shusho a:hover {
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T2IDRzXbJbXXXXXXXX_!!613184597.gif)
		no-repeat;
}

.tb-shop .supesharu {
	width: 190px;
}

.tb-shop .supesharu table {
	border: 1px solid #2e2e2e;
}

.tb-shop .supesharu .shokai {
	height: 55px;
	overflow: hidden;
	padding: 0 10px;
}

.tb-shop .supesharu a {
	color: #2e2e2e;
}

.tb-shop .supesharu a:hover {
	color: #181818;
}

.tb-shop .supesharu .supesharupic a:hover {
	background: none;
}

.tb-shop .supesharu .supesharupic a:hover img {
	margin-left: 1px;
	margin-top: 2px;
}

.tb-shop .supesharu span {
	text-decoration: line-through;
}

.tb-shop .supesharu strong em {
	color: #db2e2e;
	font-variant: normal;
	font-size: 16px;
}

.tb-shop .kiwaditaitoru {
	line-height: 40px;
	height: 40px;
	text-align: right;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/613184597/T29_RzXbXbXXXXXXXX_!!613184597.gif)
		no-repeat left;
	overflow: hidden;
	width: 730px;
	border: 0px solid #2e2e2e;
	padding: 0 10px;
}

.tb-shop .kiwadoouter {
	
}

.tb-shop .kiwaditaitoru a {
	margin-left: 10px;
}

.tb-shop .migisusume img {
	vertical-align: bottom;
}

.tb-shop .migisusume .hayakupic {
	margin-right: 10px;
	height: 426px;
	float: left;
}

.tb-shop .migisusume .supesharu {
	float: left;
}

.tb-shop .hayakupic {
	position: relative;
	clear: both;
	height: 420px;
	width: 550px;
}

.tb-shop .hayakupic .ueno ul {
	padding: 0;
}

.tb-shop .hayakupic .ueno li {
	height: 182px;
	width: 182px;
	list-style: none;
	padding: 0;
	float: left;
}

.tb-shop .hayakupic .ueno a {
	position: absolute;
	height: 176px;
	font-size: 12px;
	overflow: hidden;
	width: 178px;
	text-decoration: none;
	display: block;
	z-index: 1;
	padding: 2px;
}

.tb-shop .hayakupic .ueno a img {
	height: 178px;
	width: 178px;
}

.tb-shop .hayakupic .ueno a:hover {
	height: 235px;
	background: #FFF;
	width: 178px;
	z-index: 999;
	border: 1px solid #999;
	padding: 1px;
}

.tb-shop .hayakupic .ueno a span {
	height: 20px;
	color: #FFF;
	text-align: center;
	background: #2e2e2e;
	display: block;
	padding: 10px 5px 0 5px;
}

.tb-shop .hayakupic .ueno a strong {
	height: 12px;
	color: #FFF;
	text-align: center;
	background: #2e2e2e;
	display: block;
	padding: 5px;
	padding-bottom: 10px;
}

.tb-shop .hayakupic .haykukey {
	clear: both;
	height: 45px;
	width: 528px;
	margin-top: 1px;
	border: 1px solid #2e2e2e;
	padding: 5px 10px;
}

.tb-shop .hayakupic .haykukey p {
	line-height: 22px;
	height: 22px;
	overflow: hidden;
}

.tb-shop .hidari {
	margin-bottom: 10px;
}

.tb-shop .hidari a {
	color: #2e2e2e;
}

.tb-shop .hidari a:hover {
	color: #181818;
	background: none;
}

.tb-shop .hidari a:hover img {
	margin-left: 1px;
	margin-top: 2px;
}

.tb-shop .hidari strong {
	padding-left: 30px;
	color: #181818;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T2tBdzXjJXXXXXXXXX_!!613184597.gif)
		no-repeat left 50%;
	font-size: 14px;
}

.tb-shop .hidari .hhot strong {
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/613184597/T2GBdzXjlXXXXXXXXX_!!613184597.gif)
		no-repeat left 50%;
}

.tb-shop .hidari .hnew strong {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/613184597/T2zldzXjBXXXXXXXXX_!!613184597.gif)
		no-repeat left 50%;
}

.tb-shop .hidari table {
	height: 268px;
	margin-bottom: 20px;
}

.tb-shop .itsuwarihidari {
	padding-top: 1px;
	padding-bottom: 10px;
}

.tb-shop .michibiki {
	height: 100px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T2Q_RzXbxbXXXXXXXX_!!613184597.gif)
		no-repeat right;
	width: 748px;
	margin-top: 2px !important;
	border: 1px solid #2e2e2e;
}

.tb-shop .michibiki li {
	margin-right: 20px;
	line-height: 33px;
	height: 33px;
	overflow: hidden;
	width: 330px;
	float: left;
}

.tb-shop .michibiki li a {
	margin-right: 10px;
	display: block;
	float: left;
}

.tb-shop .michibiki li a:hover {
	color: #181818;
	text-decoration: underline;
}

.tb-shop .michibiki li strong {
	height: 27px;
	text-align: center;
	background: #dfdfdf;
	width: 63px;
	margin-left: 3px;
	margin-bottom: 3px;
	display: block;
	margin-top: 3px;
}

.tb-shop .michibiki li a:hover strong {
	color: #FFF;
	background: #181818;
}

.tb-shop .subete {
	overflow: hidden;
	width: 190px;
}

.tb-shop .subete a {
	text-indent: -9999px;
	height: 103px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/613184597/T2sDRzXcXbXXXXXXXX_!!613184597.gif)
		no-repeat;
	width: 190px;
	display: block;
	margin-top: 2px;
}

.tb-shop .subete a:hover {
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T2A_RzXb0bXXXXXXXX_!!613184597.gif)
		no-repeat;
}

.tb-shop .hayakusale {
	padding-right: 30px;
	height: 40px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/613184597/T2pUhzXflaXXXXXXXX_!!613184597.gif)
		no-repeat;
	width: 720px;
}

.tb-shop .hayakusale .korekushon {
	height: 43px;
	width: 190px;
	float: left;
}

.tb-shop .hayakusale .korekushon a {
	text-indent: -9999px;
	height: 40px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/613184597/T27VJAXh8XXXXXXXXX_!!613184597.gif)
		no-repeat;
	width: 190px;
	display: block;
}

.tb-shop .hayakusale .korekushon a:hover {
	
}

.tb-shop .hayakusale marquee {
	padding-left: 10px;
	line-height: 40px;
	height: 40px;
	overflow: hidden;
	width: 520px;
	display: block;
	float: left;
}

.tb-shop .hayakufavorite {
	position: fixed !important;
	padding-top: 40px;
	line-height: 25px;
	color: #2e2e2e;
	text-align: center;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T2S_VzXo0aXXXXXXXX_!!613184597.gif)
		no-repeat left top;
	width: 85px;
	margin-left: 960px;
}

.tb-shop .hayakufavorite .hftop {
	border-right: 1px solid #2e2e2e;
	width: 73px;
	border-bottom: 1px solid #2e2e2e;
	padding: 5px;
	border-left: 1px solid #2e2e2e;
}

.tb-shop .hayakufavorite a {
	color: #2e2e2e;
}

.tb-shop .hayakufavorite a:hover {
	color: #111;
}

.tb-shop .hayakufavorite .hfsc {
	margin-top: 20px;
}

.tb-shop .shop-search-x {
	position: absolute;
	overflow: hidden;
	width: 200px;
	margin-left: 789px;
	margin-top: 106px;
	padding: 0;
	z-index: 999;
}

.tb-shop .shop-search-x .search-x {
	width: 130px;
	background: none;
	padding: 0;
}

.tb-shop .shop-search-x .form {
	height: 23px;
	width: 160px;
	background: none;
	border: 1px solid #aeaeae;
}

.tb-shop .shop-search-x .text {
	padding-left: 5px;
	border-right: none;
	padding-right: 0;
	margin-right: 0;
	padding-top: 2px;
	height: 16px;
	color: #afafaf;
	width: 130px;
	background: none;
	border: none;
	padding-bottom: 2px;
}

.tb-shop .shop-search-x .form label {
	color: #afafaf;
}

.tb-shop .shop-search-x .button {
	padding-top: 3px;
	text-indent: -9999px;
	width: 23px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/613184597/T2POhzXkhaXXXXXXXX_!!613184597.gif)
		no-repeat;
	font-weight: bold;
	margin-top: 0;
	border: none;
	padding-bottom: 5px;
}

.tb-shop .hoverbox {
	position: absolute;
	cursor: default;
	width: 950px;
	margin-left: 5px;
	list-style: none;
	margin-top: -205px;
}

.tb-shop .small750 .hoverbox {
	width: 750px;
	margin-left: 10px;
	margin-top: -220px;
}

.tb-shop .hoverbox li {
	height: 136px;
	width: 135px;
	float: left;
}

.tb-shop .small750 .hoverbox li {
	height: 148px;
	width: 148px;
}

.tb-shop .hoverbox a {
	height: 130px;
	width: 130px;
	display: block;
}

.tb-shop .hoverbox .sys a img {
	height: 130px;
	width: 130px;
}

.tb-shop .hoverbox .sys a:hover {
	position: absolute;
	margin-left: -45px;
	display: block;
	margin-top: -45px;
	z-index: auto;
}

.tb-shop .hoverbox .sys a:hover img {
	height: 220px;
	width: 220px;
	padding: 0;
	border: 5px solid #F60;
}

.tb-shop .flashlb {
	height: 395px;
	width: 750px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.tb-shop .renraku {
	margin-bottom: 10px;
}

.tb-shop .renraku .scbtn {
	height: 40px;
	width: 190px;
	float: left;
}

.tb-shop .renraku .kf {
	line-height: 28px;
	height: 28px;
	overflow: hidden;
	width: 548px;
	border: 1px solid #2e2e2e;
	padding: 5px;
	float: left;
}

.tb-shop .zdcx {
	height: 306px;
	width: 950px;
}

.tb-shop .zdcx .dafu {
	position: absolute;
	height: 306px;
	width: 306px;
	overflow: hidden;
	margin-left: 323px;
	margin-top: -306px;
	padding: 0;
	z-index: 100;
}

.tb-shop .zdpicgd {
	background: #feecb5;
	border: 1px solid #d83433;
}

.tb-shop .zdpicgd a img {
	border: 5px solid #fee2a7;
}

.tb-shop .zdpicgd a:hover img {
	border-color: #fa9f22;
}

.tb-shop .topbackground {
	padding-top: 90px;
	height: 60px;
	color: #fbcc55;
	width: 950px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/613184597/T2jM0yXe8aXXXXXXXX_!!613184597.gif)
		no-repeat;
}

.tb-shop .topbackground a {
	color: #fbcc55;
}

.tb-shop .shop-slider {
	
}

.tb-shop .box {
	margin-bottom: 10px;
}

.tb-shop .box .hd {
	height: 40px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/613184597/T2aEXzXiNaXXXXXXXX_!!613184597.gif)
		no-repeat 3px 50%;
	border-bottom: 1px solid #2e2e2e !important;
}

.tb-shop .box .hd h3 {
	height: 40px;
	background: none;
	padding: 0;
}

.tb-shop .box .hd span {
	padding-left: 36px;
	padding-top: 4px;
	color: #2e2e2e;
	font-size: 13px;
	background: none;
	display: block;
	font-weight: normal;
	padding-bottom: 16px;
}

.tb-shop .box .bd {
	border-color: #d83433;
}

.tb-shop .col-sub .hd {
	height: 40px;
	background: #2e2e2e
		url(http://img01.taobaocdn.com/imgextra/i1/613184597/T2TnRzXaVbXXXXXXXX_!!613184597.gif)
		no-repeat 3px 50%;
	border: none;
}

.tb-shop .col-sub .hd span {
	padding-left: 36px;
	padding-top: 4px;
	color: #FFF;
	font-size: 13px;
	background: none;
}

.tb-shop .col-sub .bd {
	border-top: none;
}

.tb-shop .shop-search .bd {
	border: 1px solid #d83433;
}

.tb-shop .box .bd,.tb-shop .shopkeeper .box .hd,.tb-shop .shopkeeper .box .bd
	{
	border-color: #2e2e2e !important;
}

.tb-shop .shop-display .bd {
	border: none;
}

.tb-shop .col-sub .bd,.tb-shop .col-extra .bd {
	padding: 9px 0 9px 0;
}

.tb-shop .tab-nav {
	background: none;
}

.tb-shop .shop-rank .rank-tab .rank-panel .pic {
	border: 1px solid #d0cfcf;
}

.tb-shop .rank-panels {
	border: none;
}

.tb-shop .shop-custom .bd {
	padding-top: 10px;
	border: none;
	padding-bottom: 0;
}

.tb-shop .item .pic {
	border: none;
}

.tb-shop .item .pic a:hover,.tb-shop .picborder a:hover {
	background: #FFF;
}

.tb-shop .item .pic a:hover img,.tb-shop .picborder a:hover img {
	padding-left: 1px;
	padding-top: 2px;
}

.tb-shop .grid .pic {
	height: 174px;
	text-align: center;
	overflow: hidden;
	width: 170px;
}

.tb-shop .big .pic {
	height: 234px;
	text-align: center;
	overflow: hidden;
	width: 230px;
}

.tb-shop .small .pic {
	height: 134px;
	text-align: center;
	overflow: hidden;
	width: 130px;
}

.tb-shop .shop-category .bd {
	padding: 5px 0;
}

.tb-shop .shop-category ul {
	width: 188px;
}

.tb-shop .shop-category .cat {
	border: none;
}

.tb-shop .shop-category .cat a {
	color: #2e2e2e;
}

.tb-shop .shop-category .cat-bd {
	margin-left: 0;
}

.tb-shop .cats .cat {
	line-height: 18px;
	margin-bottom: 5px;
}

.tb-shop .cats .cat h4 {
	height: 14px;
	padding: 10px;
}

/*&#21512;*/
.tb-shop .cat h4.cat-hd {
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T2EVJAXi4XXXXXXXXX_!!613184597.gif)
		no-repeat !important;
}

.tb-shop .shop-category .cats h4.collapse {
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/613184597/T2LpJAXiNXXXXXXXXX_!!613184597.gif)
		no-repeat !important;
}

/*&#26080;*/
.tb-shop .shop-category .cats h4 {
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T2YXJAXilXXXXXXXXX_!!613184597.gif)
		no-repeat;
}

.tb-shop .shop-category .bd {
	border: none;
}

.tb-shop .cats .cat h4 a {
	color: #2e2e2e;
	margin-left: 75px;
	text-decoration: none;
	font-weight: normal;
	padding: 0;
}

.tb-shop .cats .cat h4 a:hover {
	color: #111;
}

.tb-shop .cats .cat .cat-bd li a {
	padding-left: 10px;
	padding-top: 5px;
	height: 19px;
	color: #6e6e6e;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/613184597/T22AlzXa4XXXXXXXXX_!!613184597.gif)
		no-repeat left 50%;
	margin-left: 20px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	padding-bottom: 5px;
}

.tb-shop .cats .cat .cat-bd li a:hover {
	padding-left: 12px;
	color: #333;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T2aQVzXb0aXXXXXXXX_!!613184597.gif)
		no-repeat 2px 50%;
	margin-left: 20px;
}

.tb-shop .col-sub .shop-custom,.tb-shop .col-extra .shop-custom {
	border: 0;
	padding: 10px 0;
}

.tb-shop .grid a {
	color: #2e2e2e;
}

.tb-shop .grid a:hover {
	color: #181818;
	text-decoration: underline;
}

.tb-shop .col-sub .box .shop-rank .bd {
	padding-top: 0px;
}

.tb-shop .shop-rank .tab-nav {
	padding-left: 3px;
	background: #2e2e2e;
}

.tb-shop .shop-rank .tab-nav li {
	color: #FFF;
	background: none;
	border: none;
}

.tb-shop .shop-rank .tab-nav .selected {
	background: #FFF;
	border: 0;
}

.tb-shop .shop-rank .tab-nav .selected span {
	color: #2e2e2e;
}

.tb-shop .search-form input {
	color: #2e2e2e;
	border: 1px solid #2e2e2e;
}

.tb-shop .search-form .submit button {
	color: #FFF;
	background: #2e2e2e;
}

.tb-shop .item .price span {
	display: none;
}

.tb-shop .item .price strong {
	padding-left: 30px;
	color: #181818;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/613184597/T2tBdzXjJXXXXXXXXX_!!613184597.gif)
		no-repeat left 50%;
	font-size: 14px;
}

.tb-shop .grid  a:hover {
	text-decoration: none;
}

.tb-shop .grid li {
	margin-right: 5px;
	height: 268px;
}

.tb-shop .big li {
	padding-left: 10px;
	padding-right: 6px;
	margin-right: 0;
	height: 328px;
	margin-left: 0;
}

.tb-shop .small li {
	padding-left: 8px;
	padding-right: 7px;
	margin-right: 0;
	margin-left: 0;
}

.tb-shop .shop-bbs .handle a {
	color: #2e2e2e;
}

.tb-shop .shop-bbs .handle a:hover {
	color: #181818;
}

.tb-shop .grid .sales-amount {
	clear: both;
}

.tb-shop .col-sub .shop-custom {
	padding-top: 0;
}

.tb-shop .grid .more-items a {
	color: #FFF;
	font-weight: normal;
}

.tb-shop .grid .more-items a:hover {
	text-decoration: none;
}

.tb-shop .cat-items {
	color: #2e2e2e;
	background: #FFF;
	padding: 1px;
	border: 1px solid #2e2e2e;
}

.tb-shop .cat-items .cat-all {
	background: #2e2e2e;
	padding: 10px;
}

.tb-shop .cat-items .cat-all a {
	color: #FFF;
}

.tb-shop .cat-items .cat-all a:hover {
	color: #dbdbdb;
}

.tb-shop .cat-items .bd {
	padding: 10px;
}

.tb-shop .cat-items .bd a {
	color: #2e2e2e;
}

.tb-shop .cat-items .bd a:hover {
	color: #181818;
}

.tb-shop .shop-search-x .bd {
	background: none;
}

.tb-shop .bottomsc {
	background: #feecb5
		url(http://img02.taobaocdn.com/imgextra/i2/613184597/T2z08yXkBaXXXXXXXX_!!613184597.gif)
		no-repeat right bottom;
	width: 928px;
	border: 1px solid #d83433;
	padding: 10px;
}