.tb-shop a {
	color: #ff6194;
	font-size: 12px;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #357900;
}

.tb-shop .shop-header .nav {
	height: 30px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/42331045/T2218yXeJXXXXXXXXX_!!42331045.jpg)
		repeat-x;
}

.tb-shop .shop-header .nav ul {
	line-height: 30px;
	height: 30px;
	padding: 0;
}

.tb-shop .shop-header .nav ul li {
	margin-right: 0;
	line-height: 30px;
	height: 30px;
}

.tb-shop .shop-header .nav li a {
	line-height: 30px;
	height: 30px;
	background: none;
	padding: 0;
}

.tb-shop .shop-header .nav li a:hover {
	text-decoration: none !important;
}

.tb-shop .shop-header .nav li.current a em {
	color: #ff6194;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/42331045/T2yKxyXjJaXXXXXXXX_!!42331045.png)
		no-repeat;
}

.tb-shop .shop-header .nav li a em {
	line-height: 30px;
	height: 30px;
	color: #ffffff;
	text-align: center;
	width: 106px;
	background: none no-repeat center top;
	font-weight: bold;
	padding: 0;
}

.tb-shop .shop-header .nav li a:hover em {
	color: #ff6194;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/42331045/T2yKxyXjJaXXXXXXXX_!!42331045.png)
		no-repeat;
}

.tb-shop .shop-header .shop-summary .shop-title {
	height: 80px;
	width: 870px;
	overflow: hidden;
}

.tb-shop .shop-header .shop-summary .shop-title a {
	padding-left: 350px;
	line-height: 110px;
	color: #f26084;
	font-size: 48px;
	overflow: hidden;
	text-decoration: none;
	font-family: 黑体;
}

.tb-shop .shop-header .shop-summary .shop-title p {
	display: none;
}

.tb-shop .box {
	margin-bottom: 6px;
}

.tb-shop .box .hd {
	height: 40px;
	text-align: left;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/42331045/T2mvXyXd0XXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .box .hd h3 span {
	line-height: 40px;
	color: #ff6194;
	font-size: 14px;
	margin-left: 52px;
	display: inline;
	font-weight: bold;
}

.tb-shop .box .bd {
	background: #ffdbdb;
	border: none;
}

.tb-shop .box .box .bd li a {
	color: #000000;
}

.tb-shop .col-sub .box .hd {
	height: 35px;
	text-align: left;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/42331045/T2LfXyXc8XXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .col-sub .box .hd h3 span {
	line-height: 35px;
	color: #ff6194;
	font-size: 14px;
	margin-left: 52px;
	display: inline;
	font-weight: bold;
}

.tb-shop .scol-sub .box .bd {
	background: #ffdbdb;
	border: none;
}

.tb-shop .sales-amount {
	line-height: 14px;
	height: 14px;
	color: #357900;
	margin-bottom: 13px;
}

.tb-shop .sales-amount em {
	color: #b00001;
}

.tb-shop .price span {
	color: #b00001;
}

.tb-shop .price strong {
	color: #c20000;
}

.tb-shop .shop-display .hd,.tb-shop .shop-recommend .hd {
	height: 35px;
	text-align: left;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/42331045/T2mvXyXd0XXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .shop-display .hd h3 span,.tb-shop .shop-recommend .hd h3 span
	{
	line-height: 35px;
	color: #ff6194;
	font-size: 16px;
	margin-left: 50px;
	display: inline;
	font-weight: bold;
}

.tb-shop .shop-display .bd,.tb-shop .shop-recommend .bd {
	background: #ffdbdb;
	border: none;
}

.tb-shop .pic {
	border: #f35d82;
}

.tb-shop .col-main .pic a:hover img,.tb-shop .shop-display .pic a:hover img
	{
	max-height: 96%;
	max-width: 96%;
	border: #ff6194 dashed 1px;
}

.tb-shop .shop-search .hd {
	height: 35px;
	text-align: left;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/42331045/T2LfXyXc8XXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .shop-search .hd h3 span {
	line-height: 35px;
	color: #ff6194;
	font-size: 16px;
	margin-left: 50px;
	display: inline;
	font-weight: bold;
}

.tb-shop .shop-search .bd {
	background: #ffdbdb;
	border: none;
}

.tb-shop .shop-search .bd .search-form ul li {
	color: #ff6194;
}

.tb-shop .shop-search .search-form .keyword {
	height: 21px;
	color: #ff6194;
}

.tb-shop .shop-search .search-form .price {
	color: #ff6194;
}

.tb-shop .shop-search .submit button,.tb-shop .deletelist {
	height: 21px;
	color: #ffffff;
	background: #ff6194;
	margin-bottom: 3px;
	font-weight: bold;
}

.tb-shop .shop-search input.checkbox {
	color: #b059a9;
}

.tb-shop .shop-search .search-form .hotkeywords {
	color: #ff6194;
	margin-top: 2px;
}

.tb-shop .shop-category .hd {
	height: 35px;
	text-align: left;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/42331045/T2LfXyXc8XXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .shop-category .hd h3 span {
	line-height: 40px;
	color: #ff6194;
	font-size: 16px;
	margin-left: 58px;
	display: inline;
	font-weight: bold;
}

.tb-shop .box .shop-category .bd {
	background: #ffdbdb !important;
	border: none;
	background-image: none !important;
}

.tb-shop .shop-category .bd .cat h4 a {
	padding-left: 20px;
	line-height: 45px;
	height: 45px;
	text-align: center;
	color: #ff6194;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/42331045/T23fVyXilXXXXXXXXX_!!42331045.gif)
		no-repeat;
	font-size: 14px;
	width: 159px;
	text-decoration: none;
	display: block;
}

.tb-shop .shop-category .bd .cat h4 a:hover {
	color: #ffffff;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/42331045/T23fVyXilXXXXXXXXX_!!42331045.gif)
		no-repeat;
	font-weight: bold;
}

.tb-shop .shop-category .bd .cat-bd a {
	padding-left: 45px;
	line-height: 23px;
	height: 26px;
	color: #ff6194;
	font: 12px;
	width: 159px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/42331045/T2kfVyXjBXXXXXXXXX_!!42331045.gif)
		no-repeat 0 0;
	display: block;
	text-decoration: none;
}

.tb-shop .shop-category .bd .cat-bd a:hover {
	color: #ff6194;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/42331045/T2kfVyXjBXXXXXXXXX_!!42331045.gif)
		no-repeat 0 0;
	font-weight: bold;
}

.tb-shop .shop-rank .hd {
	height: 40px;
	text-align: left;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/42331045/T2AqhyXcpaXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .shop-rank .hd h3 span {
	line-height: 40px;
	color: #ff6194;
	font-size: 14px;
	margin-left: 45px;
	display: inline;
	font-weight: bold;
}

.tb-shop .shop-rank .bd {
	background: #ffdbdb;
	border: none;
}

.tb-shop .shop-rank .bd .sale {
	color: #ff0000;
}

.tb-shop .shop-rank .bd .desc a {
	color: #ff6194;
}

.tb-shop .shop-rank .bd .desc a:hover {
	color: #357900;
}

.tb-shop .shop-rank .bd .tab-nav li {
	background: #ff6194;
	border: none;
}

.tb-shop .shop-rank .bd .tab-nav .selected {
	background: #fe9abb;
	border-bottom: #ff0000 solid 1px;
	border: #ff6194 solid 0px;
}

.tb-shop .shop-rank .bd .tab-nav .selected span {
	color: #fc3475;
}

.tb-shop .shop-rank .bd .tab-nav li span {
	color: #ffffff;
}

.tb-shop .shop-rank .rank-panels {
	border-top-style: solid;
	border-top-color: #ff6194;
	text-align: center;
	border-top-width: 0px;
}

.tb-shop .shop-links .hd {
	height: 35px;
	text-align: left;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/42331045/T2LfXyXc8XXXXXXXXX_!!42331045.gif)
		no-repeat;
	border: none;
}

.tb-shop .shop-links .hd h3 span {
	line-height: 40px;
	color: #ff6194;
	font-size: 14px;
	margin-left: 45px;
	display: inline;
	font-weight: bold;
}

.tb-shop .shop-links .bd {
	background: #ffdbdb;
	border: none;
}

.tb-shop .shop-links .bd li a {
	color: #ff6194;
}

.tb-shop .shop-links .bd li a:hover {
	color: #357900;
}