body {
	background-color: #FFFFFF;
	background-repeat: repeat;
	background-position: center 0;
}

#hd {
	background-repeat: repeat-x;
	background-position: center 0;
}

.tb-shop a {
	color: #A60A0F;
	font-size: 12px;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #000000;
}

.tb-shop .box {
	margin-bottom: 5px;
}

.tb-shop .rank-panels .pic {
	border: 0px;
}

.tb-shop .box .bd {
	border-color: #535353 !important;
}

.tb-shop .sale {
	color: #949494;
}

.tb-shop .sale strong {
	color: #ff2a00;
}

.tb-shop .shop-display .shop-list .desc {
	height: 27px;
	margin-top: 0px;
}

.tb-shop .shop-list .desc a {
	text-align: left;
	color: #A60A0F;
}

.tb-shop .shop-list .desc a:hover {
	text-align: left;
	color: #515151;
}

.tb-shop .xp-i-accorid .sfq .neirong {
	display: none;
}

.tb-shop .pic a:hover img {
	height: 96%;
	width: 96%;
	border: #E01820 solid 2px;
}

.tb-shop .lingdu {
	position: absolute;
	z-index: 999;
}

.tb-shop .shop-search .search-form .price text {
	color: #292929;
}

.tb-shop .tubk a img {
	border: 5px solid #ffffff;
}

/* CSS Document */
.tb-shop .box .hd,.tb-shop .shopkeeper .box .hd {
	height: 47px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/47075529/T2o2pwXiRXXXXXXXXX_!!47075529.gif)
		no-repeat;
}

.tb-shop .box .hd h3 {
	padding-left: 45px;
	padding-top: 9px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 45px;
	padding-top: 9px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

.tb-shop .col-main .box .hd {
	height: 47px;
	color: #ffffff;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/47075529/T2o2pwXiRXXXXXXXXX_!!47075529.gif)
		no-repeat;
}

.tb-shop .box .hd {
	border: 0px;
}

.tb-shop .shop-category .cats .cat {
	border-top: none;
}

.tb-shop .shop-category .bd ul h4 a:hover {
	text-decoration: none;
	background-position: left -46px;
}

.tb-shop .shop-category .bd ul h4 a {
	line-height: 46px;
	text-indent: 15px;
	height: 46px;
	color: #E9D6BB;
	width: 155px;
	font-size: 13px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/47075529/T2MSFwXXhXXXXXXXXX_!!47075529.gif)
		no-repeat scroll left top #E9D6BB;
	display: block;
}

.tb-shop .shop-category .bd ul ul a:hover {
	color: #E9D6BB;
	text-decoration: none;
}

.tb-shop .shop-category .bd ul ul a {
	line-height: 26px;
	text-indent: 25px;
	height: 27px;
	color: #4F4F4F;
	width: 155px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/47075529/T2MSFwXXhXXXXXXXXX_!!47075529.gif)
		no-repeat scroll left -93px transparent;
	display: block;
}

.tb-shop .box .shop-category .cat h4 img {
	display: none;
}

.tb-shop .box .shop-category .cat ul img {
	display: none;
}