body {
	background-color: #FFFFFF;
	background-repeat: repeat-y;
	background-position: center 0;
}

#hd {
	background-repeat: repeat-x;
}

.tb-shop .pic a:hover img {
	height: 97%;
	width: 97%;
	border: #afd6f0 3px;
}

.tb-shop .shop-header {
	background-image:
		url(http://img04.taobaocdn.com/imgextra/i4/200082961/T2G18xXfVaXXXXXXXX_!!200082961.gif)
		;
}

.tb-shop .shop-summary .shop-title a {
	padding-left: 30px;
	line-height: 84px;
	color: #3580bb;
	font-size: 35px;
	overflow: hidden;
	text-decoration: none;
}

.tb-shop .shop-summary .shop-title {
	height: 80px;
	width: 520px;
	overflow: hidden;
}

.tb-shop .shop-header .nav ul,.tb-shop .shop-header .nav,.tb-shop .shop-header .nav li,.tb-shop .shop-header .nav li a,.tb-shop .shop-header .nav li a em,.tb-shop .shop-header .nav li.current a,.tb-shop .shop-header .nav .hover
	{
	background: none;
}

.tb-shop .shop-header .nav {
	height: 33px;
}

.tb-shop .shop-header .nav ul {
	height: 33px;
	padding: 0 0 0 10px;
}

.tb-shop .shop-header .nav li {
	margin-right: 2px;
	height: 33px;
	width: 90px;
	margin-left: 2px;
}

.tb-shop .shop-header .nav li a {
	height: 33px;
	margin-top: 0px;
}

.tb-shop .shop-header .nav li a em {
	line-height: 34px;
	height: 35px;
	text-align: center;
	width: 90px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/200082961/T2Le8xXfJaXXXXXXXX_!!200082961.png)
		no-repeat;
	padding: 0;
}

.tb-shop .shop-header .nav li a:hover em {
	color: #ffffff;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/200082961/T2GvtxXedaXXXXXXXX_!!200082961.gif)
		no-repeat;
}

.tb-shop .shop-header .nav li.current a em {
	font-size: 14px;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/200082961/T2GvtxXedaXXXXXXXX_!!200082961.gif)
		no-repeat;
}

.tb-shop .cats .cat h4 a {
	line-height: 55px;
	text-align: center;
	color: #ffffff;
	width: 160px;
	overflow: hidden;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/200082961/T2UopuXnxaXXXXXXXX_!!200082961.gif)
		no-repeat;
	font-size: 18px;
	display: block;
	min-height: 65px;
}

.tb-shop .cats .cat h4 a:hover {
	line-height: 60px;
	text-align: center;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/200082961/T2UopuXnxaXXXXXXXX_!!200082961.gif)
		no-repeat;
	display: block;
	text-decoration: none;
	min-height: 65px;
}

.tb-shop .cats .cat h4 a img {
	position: relative;
}

.tb-shop .cats .cat .cat-bd li a {
	line-height: 30px;
	text-align: center;
	color: #103956;
	width: 160px;
	overflow: hidden;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/200082961/T2zEtuXnxaXXXXXXXX_!!200082961.gif)
		;
	display: block;
	min-height: 32px;
}

.tb-shop .cats .cat .cat-bd li a:hover {
	line-height: 32px;
	text-align: center;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/200082961/T2zEtuXnxaXXXXXXXX_!!200082961.gif)
		;
	display: block;
	text-decoration: none;
	min-height: 32px;
}

.tb-shop .slider-promo .lst-trigger-1 {
	position: absolute;
	line-height: 20px;
	height: 250px;
	color: #ffffff;
	margin-left: 10px;
	margin-top: 255px;
	z-index: 10;
}

.tb-shop .slider-promo .lst-trigger-1 .lunbo {
	margin-right: 5px;
	line-height: inherit;
	height: 20px;
	cursor: pointer;
	color: #ffffff;
	text-align: center;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/200082961/T2aF0vXbtXXXXXXXXX_!!200082961.gif)
		;
	width: 40px;
	font-weight: bold;
	border: 0px;
	float: left;
}

.tb-shop .slider-promo .lst-trigger-1 li {
	margin-right: 5px;
	line-height: inherit;
	height: 20px;
	cursor: pointer;
	color: #181818;
	text-align: center;
	background: #e6f2fa;
	width: 20px;
	font-weight: bold;
	border: 0px;
	float: left;
}

.tb-shop .big li {
	width: 220px;
}

.tb-shop .box .hd,.tb-shop .shopkeeper .box .hd {
	height: 30px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/200082961/T2OwBvXn0XXXXXXXXX_!!200082961.gif)
		no-repeat;
}

.tb-shop .box .hd h3 {
	padding-left: 24px;
	padding-top: 4px;
	color: #0963aa;
	font-size: 14px;
	font-weight: bold;
}

.tb-shop .box .bd {
	border: 1px solid #add6ff;
}

.tb-shop .col-main .box .hd {
	border-bottom-style: none;
	height: 35px;
	color: #ffffff;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/200082961/T2z3BvXoxXXXXXXXXX_!!200082961.gif)
		no-repeat;
	border: 1px solid #add6ff;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 42px;
	padding-top: 4px;
	color: #0963aa;
	font-size: 14px;
	font-weight: bold;
}

.tb-shop .col-sub .box,.tb-shop .col-extra .box {
	margin-bottom: 10px;
}