.tb-shop a {
	color: #b10000;
	text-decoration: none;
}

.tb-shop a:hover {
	color: #FF0000;
}

.tb-shop .shop-header .nav li.current a:hover  em {
	color: #FFFFFF;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/45748670/T2NoBwXf4aXXXXXXXX_!!45748670.png)
		no-repeat scroll center -63px transparent;
	font-size: 14px;
}

.tb-shop .shop-header .nav li.current a em {
	color: #FFFFFF;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/45748670/T2NoBwXf4aXXXXXXXX_!!45748670.png)
		no-repeat scroll center -125px transparent;
	font-size: 14px;
}

.tb-shop .shop-header .nav li a:hover em {
	color: #6f573bF;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/45748670/T2NoBwXf4aXXXXXXXX_!!45748670.png)
		no-repeat scroll center -63px transparent;
}

.tb-shop .shop-header .nav li a em {
	line-height: 32px;
	color: #6f573b;
	text-align: center;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/45748670/T24UFwXblaXXXXXXXX_!!45748670.png)
		no-repeat scroll center top transparent;
	font-size: 14px height : 32px;
	width: 120px;
	font-weight: bold;
	padding: 0;
}

.tb-shop .shop-header .nav ul li {
	line-height: 32px;
	margin-right: 0;
	height: 32px;
	overflow: hidden;
	background-image: none;
}

.tb-shop .shop-header .nav li,.tb-shop .shop-header .nav li a,.tb-shop .shop-header .nav li a em
	{
	height: 32px;
	width: 120px;
	display: block;
	float: left;
}

.tb-shop .shop-header .nav {
	position: absolute;
	height: 32px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/45748670/T2NoBwXf4aXXXXXXXX_!!45748670.png)
		repeat-x scroll 0 0;
	width: 950px;
	z-index: 1;
}

.tb-shop .shop-header .nav ul {
	line-height: 32px;
	height: 32px;
	padding: 0;
}

.tb-shop .shop-header .nav li a:hover {
	font-size: 14px;
	font-weight: bold text-decoration : none !important;
}

.tb-shop .a1 {
	color: #FF0000;
	font-size: 12px;
}

.tb-shop .a1 a {
	color: #FF0000;
	font-size: 12px;
}

.tb-shop .a1 a:hover {
	color: #FF0000;
	font-size: 12px;
	text-decoration: underline;
}

.tb-shop .box .hd,.tb-shop .shopkeeper .box .hd {
	height: 32px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/45748670/T2NhlxXbJaXXXXXXXX_!!45748670.png)
		0 0 repeat-x;
	display: block;
	z-index: 99;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 25px;
	padding-top: 4pt;
	color: #6f573b;
	font-size: 12px;
	font-weight: bold;
}

.tb-shop .col-main .box .hd {
	color: #333333;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/45748670/T26EpwXcNXXXXXXXXX_!!45748670.png)
		0 0 no-repeat;
	z-index: 99;
}

.tb-shop .h3 span {
	border: 1px;
}

.tb-shop .box .hd {
	border: 0px;
}

.tb-shop .box .hd h3 {
	padding-left: 35px;
	padding-top: 4pt;
	color: #6f573b;
	font-size: 12px;
	font-weight: bold;
}

.tb-shop .col-main .box .more-items .button {
	background: no-repeat
		url(http://img04.taobaocdn.com/imgextra/i4/45748670/T2PGdwXaVXXXXXXXXX_!!45748670.png)
		;
}

.tb-shop .col-main .box .more-items a {
	color: #622611;
	text-decoration: none;
	margin-top: 2px;
}

.tb-shop .col-main .box .more-items a:hover {
	color: #622611;
}

.tb-shop .shop-category .cats .cat {
	border-top: none;
}

.tb-shop .shop-category .bd ul h4 a:hover {
	text-decoration: none;
	background-position: leftx;
}

.tb-shop .shop-category .bd ul h4 a {
	line-height: 58px;
	text-align: center;
	color: #6f573b;
	width: 160px;
	font-size: 12px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/45748670/T2G.BwXc4aXXXXXXXX_!!45748670.gif)
		no-repeat scroll left top #ffffff;
	display: block;
}

.tb-shop .shop-category .bd ul ul a:hover {
	color: #da5205;
	text-decoration: none;
}

.tb-shop .shop-category .bd ul ul a {
	line-height: 25px;
	text-indent: 45px;
	color: #6f573b;
	width: 160px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/45748670/T2ooJwXXXaXXXXXXXX_!!45748670.png)
		no-repeat scroll left top transparent;
	display: block;
}

.tb-shop .box .shop-category .cat h4 img {
	width: 160px;
}

.tb-shop .box .shop-category .cat ul img {
	width: 160px;
}

.tb-shop .col-sub .bd,.tb-shop .col-extra .bd {
	border-color: #CCCCCC !important;
	border-width: 1px;
	padding: 9px 0 9px 9px;
}

.tb-shop .shop-custom .bd {
	border-width: 0px !important;
}

.tb-shop .eshop .shop-header {
	border-width: 0 !important;
	padding: 0 !important;
}

.tb-shop .col-main .box .bd {
	border: 1px #dddddd solid;
}

.tb-shop .col-main .shop-banner .bd {
	border-color: #CCCCCC;
	border-width: 0px !important;
	padding: 0;
}

.tb-shop .box .bd,.tb-shop .shopkeeper .box .hd,.tb-shop .shopkeeper .box .bd
	{
	border-color: #cccccc !important;
}

.tb-shop .grid .item.pic a:hover {
	text-decoration: none;
}

.tb-shop .grid .item .pic a:hover {
	height: 156px;
	width: 156px;
	border: #CCCCCC 2px solid;
}

.tb-shop .grid .item .pic a {
	height: 160px;
	width: 160px;
	overflow: hidden;
	display: block;
}

.tb-shop .big .item .pic a:hover {
	height: 216px;
	width: 216px;
	border: #cccccc 2px solid;
}

.tb-shop .big .item .pic a {
	height: 220px;
	overflow: hidden;
	width: 220px;
	display: block;
}

.tb-shop .big .pic {
	border: 1px solid #cccbcb !important;
}