body {
	background-position: center 0;
	background-repeat: repeat-y;
}

#hd {
	background-repeat: repeat-x;
}

.tb-shop .cats .cat h4 a {
	line-height: 53px;
	height: 51px;
	color: #3a570e;
	text-align: center;
	width: 156px;
	overflow: hidden;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/277471818/T2Ba0wXmJXXXXXXXXX_!!277471818.gif)
		no-repeat;
	font-size: 18px;
	display: block;
	font-weight: bold;
}

.tb-shop .cats .cat h4 a:hover {
	line-height: 53px;
	height: 51px;
	color: #5e8227;
	text-align: center;
	width: 156px;
	overflow: hidden;
	font-size: 18px;
	display: block;
	font-weight: bold;
}

.tb-shop .cats .cat h4 a img {
	position: relative;
}

.tb-shop .cats .cat .cat-bd li a {
	line-height: 35px;
	height: 32px;
	color: #4d7019;
	text-align: center;
	width: 155px;
	overflow: hidden;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/277471818/T23WlwXbFbXXXXXXXX_!!277471818.gif)
		;
	font-size: 13px;
	display: block;
}

.tb-shop .cats .cat .cat-bd li a:hover {
	line-height: 35px;
	height: 32px;
	color: #4d7019;
	text-align: center;
	width: 155px;
	overflow: hidden;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/277471818/T23WlwXbFbXXXXXXXX_!!277471818.gif)
		;
	font-size: 13px;
	display: block;
	font-weight: bold;
}

/*box*/
.tb-shop .box {
	overflow: hidden;
}

.tb-shop .box .bd {
	border-color: #daffa5 !important;
}

.tb-shop .col-main .box .hd h3 {
	padding-left: 25px;
	color: #245b00;
	font-size: 14px;
	font-weight: bold;
}

.tb-shop .col-main .bd {
	border-right: 1px solid #daffa5;
	border-bottom: 1px solid #daffa5;
	border-left: 1px solid #daffa5;
}

.tb-shop .box .hd {
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/277471818/T2KFVxXa8bXXXXXXXX_!!277471818.gif)
		0 0 no-repeat;
	border: none;
}

.tb-shop .col-sub .hd,.tb-shop .col-extra .hd {
	height: 38px;
	background-position: 0 -38px;
}

.tb-shop .box .hd h3 {
	padding-left: 25px;
}

.tb-shop .box .hd h3 span {
	line-height: 25px;
	color: #245b00;
	font-size: 14px;
}

.tb-shop .col-main .hd {
	height: 38px;
	background-position: 0 0;
}

.tb-shop .col-main .hd h3 {
	padding-left: 25px;
}

.tb-shop .col-main .hd h3 span {
	line-height: 25px;
	color: #245b00;
	font-size: 14px;
}

.tb-shop .grid-m .col-main .hd {
	background-position: 0 0px;
}

.tb-shop .grid-s5m0e5 .col-main .hd,.tb-shop .grid-s5e5m0 .col-main .hd
	{
	background-position: 0 -114px;
}

.tb-shop .shop-slider .hd,.tb-shop .shop-flashshow .hd {
	display: none;
}

.tb-shop .shop-banner .bd,.tb-shop .shop-flashshow .bd,.tb-shop .shop-slider .bd,.tb-shop .shop-hesper .bd,.tb-shop .shop-search-x .bd
	{
	padding: 0;
	border: none;
}

.tb-shop .col-sub .box {
	padding-bottom: 5px;
}

.tb-shop .col-main .box {
	padding-bottom: 5px;
}

/**/
.tb-shop .shop-rank .tab-nav li {
	height: 26px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	margin-left: 5px;
	background-color: #2c2c2c;
	border: 1px solid #daffa5;
	float: left;
}

.tb-shop .shop-rank .rank-panels {
	text-align: center;
	border-top: 1px solid #daffa5;
}

.tb-shop .shop-rank .tab-nav span {
	padding-right: 4px;
	line-height: 22px;
	padding-top: 3px;
	cursor: pointer;
	color: #414141;
	background-color: #daffa5;
	border-bottom: solid 1px #daffa5;
	display: block;
	background-repeat: no-repeat;
}

.tb-shop .shop-rank .tab-nav .selected span {
	padding-right: 2px;
	padding-top: 3px;
	line-height: 23px;
	cursor: pointer;
	background-attachment: scroll;
	color: #5e8227;
	border-bottom: solid 1px #ffffff;
	background-color: #ffffff;
	display: block;
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.tb-shop .handle a {
	line-height: 10px;
	color: #414141;
	background: #daffa5;
	padding: 5px 4px 0px 4px;
}

.tb-shop a {
	color: #74b942;
}

/**/
.tb-shop .shop-header {
	background-image:
		url(http://img03.taobaocdn.com/imgextra/i3/277471818/T2cQFxXhJXXXXXXXXX_!!277471818.gif)
		;
}

.tb-shop .shop-header .shop-title h2 {
	margin-left: 230px;
	margin-bottom: 10px;
	font-weight: normal;
	margin-top: 20px;
}

.tb-shop .shop-header .shop-title h2 a {
	line-height: 20px;
	color: #3e8613;
	font-size: 35px;
	font-weight: bold;
}

.tb-shop .shop-header .shop-title p {
	color: #3e8613;
	margin-left: 330px;
	margin-bottom: 20px;
	font-weight: normal;
}