.tb-shop .cats .cat h4 a {
	padding-left: 22px;
	padding-top: 13px;
	line-height: 52px;
	color: #FFFFFF;
	width: 140px;
	font-size: 14px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/33250620/T2Zd8xXoBXXXXXXXXX_!!33250620.gif)
		;
	display: block;
}

.tb-shop .cats .cat h4 a:hover {
	line-height: 52px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/33250620/T2Bd8xXXBaXXXXXXXX_!!33250620.jpg)
		;
	display: block;
	text-decoration: none;
}

.tb-shop .cats .cat h4 a img {
	margin-left: -20px;
}

.tb-shop .cats .cat .cat-bd li a {
	padding-left: 20px;
	line-height: 30px;
	color: #FFFFFF;
	width: 140px;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/33250620/T2xVXwXgRXXXXXXXXX_!!33250620.gif)
		;
	display: block;
}

.tb-shop .cats .cat .cat-bd li a:hover {
	line-height: 30px;
	color: #FFFFFF;
	background:
		url(http://img02.taobaocdn.com/imgextra/i2/33250620/T2dE4vXmhXXXXXXXXX_!!33250620.jpg)
		;
	text-decoration: none;
	display: block;
}

.tb-shop .box {
	margin-bottom: 5px;
}

.tb-shop .box .hd {
	height: 30px;
	color: #ffffff;
	background: #ededed
		url(http://img02.taobaocdn.com/imgextra/i2/33250620/T24ppwXbBaXXXXXXXX_!!33250620.gif)
		no-repeat;
	border: 0px;
}

.tb-shop .box .hd h3,.tb-shop .col-main .box .hd h3 {
	padding-left: 37px;
	padding-top: 3px;
	color: #ffffff;
}

.tb-shop .col-main .box .bd {
	background: #FFFFFF;
	border: solid 1px #CC0000 !important;
}

.tb-shop .box .bd {
	background: #FFFFFF;
	border: solid 1px #CC0000 !important;
}

.tb-shop .grid .pic {
	border: solid 1px #FFFFFF;
}

.tb-shop .pic a:hover img {
	background: #FFFFFF;
	display: block;
}

.tb-shop .shop-list .desc a {
	color: #CC0000;
}

.tb-shop .desc a {
	color: #CC0000;
}

.tb-shop .price span {
	padding-left: 2px;
	padding-right: 2px;
	color: #FFF;
	background: #CC0000;
	display: inline;
}

.tb-shop .price strong {
	padding-right: 2px;
	padding-left: 2px;
	color: #FFF;
	background: #CC0000;
}

.tb-shop .shop-links .bd a {
	color: #CC0000;
}