.tb-shop .shop-search {
	color: #D58E06;
}

.tb-shop .grid .price strong {
	color: #C56619;
	font-weight: 700;
}

.tb-shop body {
	background-color: #fff;
	background-position: center 0;
	background-repeat: repeat;
}

.tb-shop a {
	color: #E7D2AC;
	text-decoration: none;
}

.tb-shop .col-main .box .hd,.tb-shop .col-main .box .hd h3,.tb-shop .col-main .box .hd h3 span
	{
	padding-left: 102px;
	line-height: 40px;
	height: 38px;
	color: #F8E7BD;
	background: none;
}

.tb-shop .col-main .box .hd {
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/82595315/T2capyXaXaXXXXXXXX_!!82595315.gif)
		no-repeat;
	border: none;
}

.tb-shop .box .hd span {
	color: #F8E7BD;
	font-size: 16px;
	display: block;
	font-weight: bold;
}

.tb-shop .col-sub .box .hd,.tb-shop .col-sub .box .hd h3,.tb-shop .col-sub .box .hd h3 span
	{
	padding-left: 5px;
	line-height: 40px;
	height: 38px;
	background: none;
}

.tb-shop .col-sub .box .hd {
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/82595315/T2ZqlyXaRaXXXXXXXX_!!82595315.gif)
		no-repeat;
	border: none;
}

.tb-shop .col-sub .box .hd h3 {
	padding-left: 18px;
	color: #FFF;
	font-size: 14px;
}

/*FL*/
.tb-shop .shop-category .bd .cat a {
	height: 14px;
	color: #F8E7BD;
	width: 46px;
	background: none;
	overflow: hidden;
	text-decoration: none;
}

.tb-shop .shop-category .bd .cat a:hover {
	font-weight: bold;
}

.tb-shop .shop-category .bd .cat h4 {
	font-weight: 600;
}

.tb-shop .shop-category .bd .cat h4 a:hover {
	color: #DC8622;
	background: url(http :// img03.taobaocdn.com/ imgextra/ i3/ 82595315/
		T2HWNyXdXXXXXXXXXX_ !! 82595315 . gif no-repeat;
}

.tb-shop .shop-category .bd .cat h4 a {
	line-height: 55px;
	padding-top: 5px;
	height: 65px;
	color: #F5E4BF;
	text-align: center;
	width: 159px;
	font-size: 15px;
	background:
		url(http://img03.taobaocdn.com/imgextra/i3/82595315/T2HWNyXdXXXXXXXXXX_!!82595315.gif)
		no-repeat;
	display: block;
	text-decoration: none;
	font-weigth: 900;
}

.tb-shop .shop-category .bd .cat-bd a {
	line-height: 38px;
	padding-top: 5px;
	height: 38px;
	text-align: center;
	color: #F8E5CA;
	font: 12px;
	background:
		url(http://img04.taobaocdn.com/imgextra/i4/82595315/T2bpRzXlFaXXXXXXXX_!!82595315.gif)
		no-repeat;
	width: 161px;
	text-decoration: none;
	display: block;
	text-lign: right;
}

.tb-shop .shop-category .cats h4.collapse,.tb-shop .cats .expand .cat-hd,.tb-shop .cats .cat h4
	{
	background: #000 url(none) repeat;
}

.tb-shop .box .bd {
	background: #000 url(none) repeat;
}

.tb-shop .col-extra .box .bd {
	border-top: medium none;
}

.tb-shop .col-sub .box .bd {
	border: medium none;
}

.tb-shop .shop-rank .rank-tab .rank-panel .collecter,.tb-shop .shop-rank .rank-tab .rank-panel .sale
	{
	color: #EDCA88;
}

/*ph*/
.tb-shop .shop-rank .tab-nav li {
	height: 26px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	margin-left: 4x;
	border: 1px solid #7D2B0B;
	float: left;
}

.tb-shop .shop-rank .rank-panels {
	text-align: center;
	border-top: 1px solid #946411;
}

.tb-shop .shop-rank .tab-nav span {
	padding-right: 4px;
	padding-top: 3px;
	cursor: pointer;
	color: #7D2B0B;
	border-bottom: solid 1px #7D2B0B;
	background-color: #fff;
	display: block;
	background-repeat: no-repeat;
}

.tb-shop .shop-rank .tab-nav .selected span {
	padding-right: 2px;
	padding-top: 3px;
	cursor: pointer;
	background-attachment: scroll;
	color: #7D2B0B;
	border-bottom: solid 1px #946411;
	background-color: #E0BC7E;
	display: block;
	background-repeat: no-repeat;
	background-position: 100% 0;
}

/*ss*/
.tb-shop .shop-search .submit button {
	color: #555;
	background:
		url(http://img01.taobaocdn.com/imgextra/i1/82595315/T26TdxXe0aXXXXXXXX_!!82595315.gif)
		no-repeat;
}