#xintaoBar a {
	color: #444;
	text-decoration: none;
}

#xintaoBar a:hover {
	color: #f60;
	text-decoration: underline;
}

#checkPID { /* overlay is hidden before loading */
	display: none;
	/* standard decorations */
	width: 800px;
	/* for modern browsers use semi-transparent color on the border. nice! */
	border: 10px solid #FFAE4A;
	/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#checkPID div {
	padding: 10px;
	border: 1px solid #3B5998;
	background-color: #fff;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif
}

#checkPID strong {
	color: red;
}

#checkPID h2 {
	margin: -11px;
	margin-bottom: 0px;
	color: #fff;
	background-color: #6D84B4;
	padding: 5px 10px;
	border: 1px solid #3B5998;
	font-size: 20px;
}

#container2 {
	margin: 0 auto;
	width: 572px;
	font-size: 12px;
}

#containerUl2 li {
	float: left;
}

#txt_mall2 input.keyword {
	background: url(http://img.alimama.cn/cms/images/1269492989187.png)
		no-repeat;
	border: 0;
	float: left;
	height: 24px;
	line-height: 24px;
	margin-left: 5px;
	padding: 8px;
	width: 330px;
}

#search_btn button {
	border: 0;
	background: url(http://img.alimama.cn/cms/images/1269408846342.png)
		no-repeat;
	height: 40px;
	margin: 0;
	padding: 0;
	width: 90px;
	cursor: pointer;
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td
	{
	margin: 0px;
	padding: 0px;
}

ul,ol {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Tahoma, SimSun, Arial;
}

div,ul,dl {
	zoom: 1
}

/**覆盖jquery ui**/
#rssDialog {
	padding: 0px;
	margin: 0px;
	border: 8px solid #FFAE4A;
	border-top-left-radius: 2px 2px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
	background: #FCF9E6;
	border: 8px solid #FFAE4A;
	position: absolute;
	top: 20px;
	z-Index: 10000;
	width: 120px;
	height: 300px;
	display: none;
}

#rssUl {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#rssUl li {
	margin: 5px;
}

.ui-button-text {
	font-size: 12px;
}

.h,.H {
	color: #FF2900 !important;
	position: static;
}

img {
	border: 0px none;
}

div {
	border-style: none;
}

.middle-1 {
	width: 950px;
	max-width: 950px;
}

.left-1-3-1 {
	width: 185px;
	max-width: 185px;
}

.middle-1-3-1 {
	width: 570px;
	max-width: 570px;
}

.right-1-3-1 {
	width: 185px;
	max-width: 185px;
}

.left-1-3 {
	width: 235px;
	max-width: 235px;
}

.right-1-3 {
	width: 710px;
	max-width: 710px;
}

.left-1-1 {
	width: 472px;
	max-width: 472px;
}

.right-1-1 {
	width: 473px;
	max-width: 473px;
}

.left-1-1-1 {
	width: 313px;
	max-width: 313px;
}

.middle-1-1-1 {
	width: 313px;
	max-width: 313px;
}

.right-1-1-1 {
	width: 314px;
	max-width: 314px;
}

.ui-selecting {
	background: #FECA40;
}

.ui-selected {
	background: #F39814;
	color: white;
}

.title,.title a { /*font-family: 宋体, Verdana;*/
	font-size: 10pt;
}

.price-desc { /*font-family: 宋体, Verdana;*/
	font-size: 12px;
	font-weight: bold;
	color: #999999;
}

.price { /*font-family: 宋体, Verdana;*/
	font-size: 12px;
	font-weight: bold;
}

.ui-designer-body {
	width: 955px;
	margin: 0 auto;
	zoom: 1;
}

.ui-designer-loading {
	width: 100%;
	height: 100%;
	position: absolute;
	font: bold 12px Arial, Helvetica, sans-serif;
	/**border: 1px solid #666;
	-moz-box-shadow: 0 0 10px 5px #000;
	-webkit-box-shadow: 0 0 10px #000;**/
}

.ui-designer-loading img {
	position: relative;
	top: .2em;
}

.ui-designer-desc {
	font-size: 11pt;
}

.ui-designer-container {
	border: 1px none #808080;
	float: left;
	margin-bottom: 5px;
	min-height: 90px;
	padding-bottom: 5px;
	position: relative;
	display: inline; /* ie double margin bugfix */
}

.ui-designer-header {
	width: 943px;
	height: 120px;
	position: relative;
}

.ui-designer-header-tabs {
	position: absolute;
	bottom: 5px;
	left: 10px;
	height: 30px;
}

.ui-designer-header-tabs-handle {
	height: 7px;
	width: 100px;
	position: absolute;
	cursor: move;
	z-Index: 1;
	display: none;
	top: 0px;
	left: 0px;
}

.ui-designer-header-tabs ul {
	margin: 0;
	list-style: none;
}

.ui-designer-header-tabs ul {
	margin: 0;
	list-style: none;
	width: auto;
}

.ui-designer-header-tabs li {
	float: left;
	margin-right: 2px;
	max-width: 200px;
	max-height: 24px;
	overflow: hidden;
	white-space: nowrap;
	display: inline
}

.ui-designer-header-tabs a {
	float: left;
	padding-right: 5px;
	position: relative;
	z-Index: 1;
	text-decoration: none;
	cursor: pointer;
	max-width: 200px;
	overflow: hidden;
	max-height: 24px;
}

.ui-designer-header-tabs a h2 {
	float: left;
	display: block;
	padding: 5px 10px 5px 15px;
	cursor: pointer;
	font-weight: normal;
	color: white;
	max-width: 200px;
	overflow: hidden;
	max-height: 24px;
}

.ui-designer-header-tabs a:hover h2 {
	font-weight: bold;
	color: #666666;
}

.ui-designer-content {
	width: 950px;
	height: 100%;
	margin-bottom: 5px;
	padding: 0px;
	overflow: visible;
	clear: both;
}

.ui-designer-space {
	width: 100%;
	height: 10px;
}

.ui-designer-widget-header {
	height: 21px;
	padding-left: 5px;
	padding-top: 4px;
	position: relative;
}

.ui-designer-widget-header .widget-title {
	font-size: 11pt;
}

.ui-designer-groups {
	display: none;
}

/**组件相关**/ /**全局**/
.item-commission {
	display: none;
	text-decoration: none;
	color: black;
}

.ui-designer-widget-more,.ui-designer-widget-shops-more {
	position: absolute;
	right: 5px;
	top: 5px;
	/**font-weight: bold;**/
	font-size: 10pt;
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

.ui-designer-widget {
	height: auto;
	float: left;
	display: inline;
	margin-bottom: 5px;
	position: relative;
	margin-left: 0px;
	padding-left: 0px;
}

.ui-designer-widget .ui-widget-header {
	cursor: move;
}

.a-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center; *
	display: block;
}

/**
*店铺列表组件
*/
.widget-shopslistview-shops {
	min-height: 180px;
	display: none;
	list-style: none;
	border: 1px inset #DDD;
	/*list-style: decimal-leading-zero;*/
	margin: 0px;
	padding: 0px;
	border-top: 0px;
	width: 99.5%;
	text-align: left;
}

.widget-shopslistview-shops li {
	height: 30px;
	line-height: 29px;
	margin-left: 5px;
	text-align: left;
	white-space: nowrap;
	position: relative;
}

.widget-shopslistview-shops .title {
	float: left;
	cursor: pointer;
}

.widget-shopslistview-shops .credit {
	float: right;
	margin-right: 5px;
	display: inline;
	line-height: 29px;
}

.widget-shopslistview-shops .credit img {
	VERTICAL-ALIGN: middle
}

/**文字列表**/
.widget-tisul {
	margin: 0px;
	padding: 5px;
	list-style: none;
}

/**文字链接组件**/
.widget-itemslinkview-items,.widget-ucblog {
	min-height: 100px;
	_height: 100px;
}

.widget-itemslinkview-items dt,.widget-ucblog dt {
	background: url(/assets/min/images/linkview-li_img.gif) no-repeat 8px
		12px;
	height: 30px;
	border-bottom: 1px solid #EBEBEB;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	_padding-left: 20px;
	line-height: 29px;
	overflow-x: hidden;
	white-space: nowrap;
	text-align: left;
	width: 99%;
}

.widget-itemslinkview-items dt a,.widget-ucblog dt a {
	color: #333;
	font-size: 12px;
	line-height: 29px;
	width: auto;
	cursor: pointer;
	text-decoration: none;
	padding-left: 20px;
	_margin-left: 20px;
	margin-right: 5px;
	_margin-right: 5px;
	overflow-x: hidden;
	white-space: nowrap;
	text-align: middle;
	margin-right: 5px;
}

.widget-itemslinkview-items dt a span,.widget-ucblog dt a span {
	width: auto;
}

.widget-itemslinkview-items dt a:hover,.widget-ucblog dt a:hover {
	color: #A10000;
	text-decoration: underline;
}

/**图形图片组件**/
.widget-itemsthumbview-items {
	height: 260px;
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.widget-itemsthumbview-items li {
	border: 0px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 240px;
	width: 160px;
	display: inline;
}

.widget-itemsthumbview-items .item {
	width: 162px;
}

.widget-itemsthumbview-items li .pic {
	border: 1px solid #CCC;
	vertical-align: middle;
	width: 160px;
	height: 160px;
}

.widget-itemsthumbview-items li .pic .a-cell {
	height: 160px; *
	font-size: 140px;
	width: 160px;
}

.widget-itemsthumbview-items li img {
	vertical-align: middle;
	max-height: 160px;
	max-width: 160px;
}

.widget-itemsthumbview-items .title {
	align: center;
	height: 60px;
}

/**图形列表组件**/
.widget-itemslistview-items {
	height: 520px;
}

.widget-itemslistview-items li {
	border-bottom: 1px solid gray;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 120px;
	list-style: none;
	width: 95%;
}

.widget-itemslistview-items .item {
	width: 98%;
}

.widget-itemslistview-items li .pic {
	width: 110px;
	height: 100px;
	padding-top: 5px;
	float: left;
	display: inline;
}

.widget-itemslistview-items li .pic .a-cell {
	height: 100px; *
	font-size: 87px;
	width: 100px;
}

.widget-itemslistview-items li .pic img {
	vertical-align: middle;
	max-height: 100px;
	max-width: 100px;
}

.widget-itemslistview-items .title {
	align: center;
	height: 60px;
	margin-top: 30px;
	padding-right: 10px;
	float: left;
	display: inline;
	width: 40%;
}

.widget-itemslistview-items .price-div {
	float: left;
	margin-top: 30px;
	width: 25%;
	display: inline;
}

.widget-itemslistview-items .buy-button {
	margin-top: 30px;
	float: left;
	display: inline;
}

/**右侧五小图组件**/
.widget-itemsrotatorview-items {
	padding: 0px;
}

.widget-itemsrotatorview-items .main_image {
	float: left;
	width: 56%;
	height: 100%;
	position: relative;
	color: #fff;
	overflow: hidden;
	display: inline;
}

.widget-itemsrotatorview-items .main_image .a-cell {
	height: 310px;
	width: 310px; *
	font-size: 271px;
	border: 2px solid #DDD;
}

.widget-itemsrotatorview-items .main_image .main_img {
	vertical-align: middle;
	max-height: 310px;
	max-width: 310px;
}

.widget-itemsrotatorview-items .main_image .desc {
	bottom: 0;
	width: 310px;
	display: none;
	height: 80px;
}

.widget-itemsrotatorview-items .image_thumb {
	float: left;
	min-height: 100%;
	margin-right: 5px;
	background: #f0f0f0;
	width: 41%;
	border-right: 1px solid #fff;
	display: inline;
	overflow: hidden;
}

.widget-itemsrotatorview-items .image_thumb ul {
	margin: 0;
	padding: 0;
	padding-right: 10px;
	list-style: none;
}

.widget-itemsrotatorview-items .image_thumb ul li {
	margin: 0;
	padding: 2px 10px;
	background: #f0f0f0 url(../images/nav_a.gif) repeat-x;
	float: left;
	height: 58px;
	width: 100%;
	border: 1px solid #ccc;
	display: inline;
}

.widget-itemsrotatorview-items .image_thumb .div-cell {
	height: 40px;
	width: 40px;
	float: left;
	margin-left: 7px;
	padding: 0px;
	background: #fff;
	border: 1px solid #ccc;
	display: inline;
}

.widget-itemsrotatorview-items .image_thumb .a-cell {
	height: 40px;
	width: 40px; *
	font-size: 35px;
}

.widget-itemsrotatorview-items .image_thumb ul li.hover {
	background: #ddd;
	cursor: pointer;
}

.widget-itemsrotatorview-items .image_thumb ul li.active {
	background: #fff;
	cursor: default;
}

.widget-itemsrotatorview-items .image_thumb ul li .title {
	padding-top: 5px;
}

.widget-itemsrotatorview-items .image_thumb ul img {
	vertical-align: middle;
	max-width: 40px;
	max-height: 40px;
}

.widget-itemsrotatorview-items .image_thumb ul .desc {
	overflow: hidden;
	font-size: 10pt;
	color: #36C;
}

.widget-itemszoomview-items {
	padding-bottom: 10px;
}

.widget-itemszoomview-items .thumb {
	float: left;
	margin: 0;
	padding: 10px;
	min-width: 360px;
	list-style: none;
	display: inline;
	overflow: hidden;
}

.widget-itemszoomview-items .thumb li {
	margin: 0;
	padding: 5px;
	float: left;
	width: 100px;
	height: 100px;
	display: inline;
}

.widget-itemszoomview-items .thumb li div {
	width: 100px;
	height: 100px;
	background: #f0f0f0;
	position: relative;
}

.widget-itemszoomview-items .thumb li .div-cell {
	height: 100px;
	width: 100px;
	background: white;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
	border: 1px solid #CCC;
}

.widget-itemszoomview-items li a.a-cell {
	height: 100px; *
	font-size: 87px;
	width: 100px;
}

.widget-itemszoomview-items li img {
	vertical-align: middle;
	max-height: 100px;
	max-width: 100px;
}

.widget-itemszoomview-items li a.hover {
	background: url(../images/thumb_bg.png) no-repeat center center;
	position: absolute;
}

.widget-itemszoomview-items li a.hover img {
	margin-top: 30px;
	vertical-align: middle;
}

.widget-itemszoomview-items .main-view {
	float: left;
	width: 310px;
	height: 355px;
	margin-left: -5px;
	margin-top: 10px;
	display: inline;
	overflow: hidden;
}

.widget-itemszoomview-items .a-cell {
	height: 310px;
	width: 310px; *
	font-size: 271px;
}

.widget-itemszoomview-items .main-view img {
	vertical-align: middle;
}

.widget-itemsappleview-items { /* CSS3 Box Shadow */
	-moz-box-shadow: 0 0 3px #AAAAAA;
	-webkit-box-shadow: 0 0 3px #AAAAAA;
	box-shadow: 0 0 3px #AAAAAA;
	/* CSS3 Rounded Corners */
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 1px solid white;
	background: url(../images/apple_panel.jpg) repeat-x bottom center
		#ffffff;
	/* The width of the gallery */
	overflow: hidden;
	-moz-box-shadow: 0 0 3px #AAAAAA;
}

.widget-itemsappleview-items .slides { /* This is the slide area */
	height: 352px;
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	overflow: hidden;
}

.widget-itemsappleview-items .slides .slide {
	float: left;
	height: 352px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: inline;
	overflow: hidden;
}

.widget-itemsappleview-items .slides .slide .a-cell {
	height: 300px;
	width: 300px; *
	font-size: 263px;
	margin: 0px;
	padding: 0px;
}

.widget-itemsappleview-items .slides .slide img {
	vertical-align: middle;
	max-height: 310px;
	max-width: 310px;
}

.widget-itemsappleview-items .menu {
	height: 80px;
	padding-left: 50px;
	padding-right: 50px;
}

.widget-itemsappleview-items .menu table {
	margin: 0px;
	padding: 0px;
}

.widget-itemsappleview-items .menu td {
	width: 80px;
	height: 80px;
	display: block;
	overflow: hidden;
	float: left;
}

.widget-itemsappleview-items .menu td .a-cell {
	width: 80px;
	height: 80px; *
	font-size: 70px;
}

.widget-itemsappleview-items .menu td img {
	cursor: pointer;
	vertical-align: middle;
	height: 60px;
	max-width: 60px;
	max-height: 60px;
}

.widget-itemsappleview-items .menu td.inact:hover {
	background: url(../images/apple_pic_bg.png) repeat;
}

.widget-itemsappleview-items .menu td.act,.widget-itemsappleview-items .menu td.act:hover
	{
	background: url(../images/apple_active_bg.png) no-repeat;
}

.widget-richeditor {
	height: 100px;
}

.widget-itemscycleview-items {
	width: 180px;
	height: 250px;
	margin-top: 5px;
}

.widget-itemscycleview-items .pics {
	width: 160px;
	height: 160px;
	border: 1px solid #ccc;
}

.widget-itemscycleview-items .pics .pic {
	width: 160px;
	height: 160px;
}

.widget-itemscycleview-items .pics .pic img {
	margin: auto;
	vertical-align: middle;
	max-height: 160px;
	max-width: 160px;
}

.widget-netlinkview {
	list-style: none;
	min-height: 30px;
}

.widget-netlinkview li {
	float: left;
	padding: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.widget-flashview {
	padding: 0px;
	margin: 0px;
	width: 100%;
	min-height: 50px;
}

.widget-channelview {
	min-height: 800px;
	height: 800px;
	overflow: visible;
}

.widget-topicview {
	min-height: 260px;
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.widget-topicview li {
	position: relative;
	height: 240px;
	width: 200px;
	display: inline;
	float: left;
	padding: 0px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.widget-topicview .a-cell {
	height: 200px;
	vertical-align: middle;
	width: 200px; *
	font-size: 175px;
}

.widget-topicview .a-cell img {
	border: 1px sold #DDD;
}

.widget-topicview div.title {
	height: 34px;
}

.widget-topicview .title a {
	color: #0065FF;
	font-size: 14px;
	font-weight: bold;
}

.t_r_tms {
	background-image:
		url(http://img.alimama.cn/cms/images/1246267133375.gif);
	background-position: 0% 0%;
	height: 33px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 33px;
}

.widget-itemssmartadsflashview-items {
	padding: 0px;
	height: 100px;
	margin: 0px;
}

.widget-itemsfixedsmartadsflashview-items {
	padding: 0px;
	margin: 0px;
	height: 100px;
}

.widget-itemsshopwindowview-items {
	height: 400px;
}

/**滚动**/
.widget-itemsscrollableview-items {
	display: none;
	padding: 0px;
	overflow: hidden;
	width: 100%;
}

.widget-itemsscrollableview-items {
	position: relative;
	overflow: hidden;
	height: 200px;
	border: 1px solid #ccc;
	width: 100%;
}

.widget-itemsscrollableview-items .items {
	width: 20000em;
	left: 0px;
	position: absolute;
	clear: both;
}

.widget-itemsscrollableview-items .items div.item {
	float: left;
	width: 100%;
}

.widget-itemsscrollableview-items .d-a-i {
	float: left;
	margin: 10px 4px 15px 4px;
	_margin: 10px 3px 15px 3px;
	background-color: #fff;
	padding: 2px;
	_padding: 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	vertical-align: middle;
	width: 160px;
	height: 160px;
	float: left;
	vertical-align: middle;
	border: 1px solid #ccc;
}

.widget-itemsscrollableview-items .d-a-i a {
	background-color: #F7F7F7;
	width: 160px;
	height: 160px; *
	font-size: 140px;
}

.widget-itemsscrollableview-items .d-a-i img {
	vertical-align: middle;
	border: 0px; #
	margin-top: -2px; /*IE7*/
}

.navi {
	position: absolute;
	right: 70px;
	top: 7px;
}

.navi a {
	width: 8px;
	height: 8px;
	float: left;
	margin: 3px;
	background: url(/assets/images/navigator.png) 0 0 no-repeat;
	display: block;
	font-size: 1px;
}

.navi a:hover {
	background-position: 0 -8px;
}

.navi a.active {
	background-position: 0 -16px;
}

#scrollTip {
	display: none;
	background: transparent url(../images/scrollable_black_arrow.png);
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px;
	color: #fff;
	position: absolute;
	bottom: 0px;
	left: -50px;
	z-Index: 1000000;
}

/* the overlayed element */
.simple_overlay {
	display: none;
	z-index: 10000;
	background-color: #333;
	min-width: 500px;
	min-height: 200px;
	border: 1px solid #666;
	-moz-box-shadow: 0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image: url(../images/scrollable_close.png);
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

/* the large image. we use a gray border around it */
.simple_overlay img {
	border: 1px solid #666;
}

/* "next image" and "prev image" links */
.simple_overlay .next,.simple_overlay  .prev {
	/* absolute positioning relative to the overlay */
	position: absolute;
	top: 40%;
	border: 1px solid #666;
	cursor: pointer;
	display: block;
	padding: 10px 20px;
	color: #fff;
	font-size: 11px;
	/* upcoming CSS3 features */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.simple_overlay .prev {
	left: 0;
	border-left: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
}

.simple_overlay .next {
	right: 0;
	border-right: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-top-right-radius: 0;
}

.simple_overlay .next:hover,.simple_overlay .prev:hover {
	text-decoration: underline;
	background-color: #000;
}

/* when there is no next or previous link available this class is added */
.simple_overlay .disabled {
	visibility: hidden;
}

/* the "information box" */
.simple_overlay .info {
	color: #fff;
	font-size: 11px;
	border-top: 1px solid #666;
	padding: 10px 15px;
}

.simple_overlay .info strong {
	display: block;
}

/* progress indicator (animated gif). should be initially hidden */
.simple_overlay .progress {
	position: absolute;
	top: 45%;
	left: 50%;
	display: none;
}

/* everybody should know about RGBA colors. */
.simple_overlay .next,.simple_overlay .prev,.simple_overlay .info {
	background: #333 !important;
	background: rgba(0, 0, 0, 0.6) url(../images/scrollable_h80.png)
		repeat-x;
}

.widget-catslistview-cats {
	margin-top: 5px;
	padding: 0px;
	margin-bottom: 5px;
	min-height: 60px;
	width: 100%;
}

.widget-catslistview-cats li {
	list-style: none;
	float: left;
	top: 1px;
	margin: 5px;
	height: 15px;
	border-bottom: 0 !important;
	white-space: nowrap;
	float: left;
	overflow: hidden;
	color: #0073EA;
	cursor: pointer;
	line-height: 15px;
	border-right: 1px solid #CCC;
	padding-right: 5px;
	display: inline;
}

.widget-searchbox {
	height: 80px;
	background: #FFFFFF;
	padding-top: 0px;
}

.clear {
	clear: both;
	font-size: 0px;
	height: 0px;
	border-top: 0px;
	margin-top: -1px !important;
	visibility: hidden;
}