<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="sessionFactory">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">windsite</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/windsite?characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">windsite</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!-- 配置c3p0-->
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- 最大连接数 -->
		<property name="hibernate.c3p0.max_size">20</property>
		<!-- 最小连接数 -->
		<property name="hibernate.c3p0.min_size">5</property>
		<!-- 获得连接的超时时间,如果超过这个时间,会抛出异常，单位毫秒 -->
		<property name="hibernate.c3p0.timeout">1800</property>
		<!-- 最大的PreparedStatement的数量 -->
		<property name="hibernate.c3p0.max_statements">100</property>
		<!-- 空闲时间，单位是秒-->
		<property name="hibernate.c3p0.max_idle_time">24000</property>
		<!-- 每隔2小时检查连接池里的空闲连接，单位是秒-->
		<property name="hibernate.c3p0.idle_test_period">7200</property>
		<!-- 当连接池里面的连接用完的时候，C3P0一下获取的新的连接数 -->
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.c3p0.validate">true</property>
		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="hibernate.search.analyzer">org.apache.lucene.analysis.cjk.CJKAnalyzer</property>
		<!-- 本地索引 -->
		<!-- <property name="hibernate.search.default.indexBase">E:\\project\\wind\\aws\\lucene\\indexes</property> -->
		<!-- 服务器索引 -->
		<property name="hibernate.search.default.indexBase">/usr/local/lucene/indexes</property>
	</session-factory>
</hibernate-configuration>
