.layout .clear {
	margin-bottom: 10px;
	padding: 5px 5px 0 5px;
	border: 1px solid #ABD1FF;
	background-color: #D5E7FF;
}

.layout b,.layout i,.add-layout {
	position: relative;
	z-index: 1;
	display: block;
	height: 20px;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #ABD1FE;
	background-color: #E4F0FE;
	line-height: 20px;
	font-weight: 400;
}

.layout b:hover {
	background-color: #fff;
}

.layout b span {
	display: block;
	width: 86%;
	overflow: hidden;
	white-space: nowrap;
}

.layout b a {
	position: absolute;
	z-index: 1;
	top: 5px;
	font-family: 'Comic Sans MS', 'inherit';
	font-weight: 700;
	cursor: pointer;
}

.layout b a.ui-icon-circle-close {
	right: 10px;
}

.layout b a.ui-icon-info {
	right: 58px;
}

.layout b a.ui-icon-circle-arrow-n {
	right: 42px;
}

.layout b a.ui-icon-circle-arrow-s {
	right: 26px;
}

.layout i {
	padding: 0;
	height: auto;
	font-style: normal;
}

.layout i a {
	display: block;
	padding: 5px;
	border: 1px solid #D1EAFF;
	background-color: #fff;
	color: #000;
}

.layout .cl {
	opacity: .2;
	width: 40px;
	padding: 5px;
	border: 1px solid #ABD1FE;
	background-color: #E4F0FE;
	position: absolute;
	left: 0px;
	top: -32px;
	filter: alpha(opacity =                                                   20)
		;
	top: -32px;
}

.grid-m b {
	width: 925px;
}

.grid i {
	width: 930px;
}

.grid-s5m0 .col-main b,.grid-m0s5 .col-main b {
	width: 720px;
}

.grid-s5m0 .col-main i,.grid-m0s5 .col-main i {
	width: 730px;
}

.grid-s5e5m0 .col-main b,.grid-m0s5e5 .col-main b,.grid-s5m0e5 .col-main b
	{
	width: 520px;
}

.grid-s5e5m0 .col-main i,.grid-m0s5e5 .col-main i,.grid-s5m0e5 .col-main i
	{
	width: 530px;
}

.grid-s310m0e310 .col-main b {
	width: 300px;
}

.grid-s310m0e310 .col-main i {
	width: 300px;
}

.page-edit .layout:hover .cl,.page-edit .hover .cl,.page-edit .layout:hover .cl i
	{
	opacity: 1;
	filter: alpha(opacity =                                                   100)
		;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.layout .cl i {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	border-width: 0;
	vertical-align: middle;
	cursor: pointer;
	color: #f60;
	background: url(images/T1SN8GXjJIXXXXXXXX-54-18.png) no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

.layout .cl .move {
	cursor: move;
}

.layout .cl .edit {
	background-position: -19px 0;
}

.layout .cl .del {
	background-position: -36px 0;
}

.grid-m0 .cl .edit,.grid-m .cl .edit {
	display: none;
}

.add-layout {
	margin-bottom: 10px;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
}

#ds-sub-title {
	height: 60px;
	font: 26px/ 60px 'microsoft yahei', 'simhei', tahoma;
}

.page-edit .no-move,.page-edit .no-move:hover {
	color: #A7A5A6;
	text-align: center;
	background-color: #eee;
}

.e-foot {
	height: 40px;
	margin-right: 100px;
	line-height: 40px;
}

.page-edit form {
	margin-top: 20px;
}

.page-edit form button {
	background: none repeat scroll 0 0 #0187D0 !important;
	color: #FFF !important;
	padding: 3px 10px;
	margin-right: 10px;
	-moz-border-radius: 4px 4px 4px 4px;
	border: 0 none;
	cursor: pointer;
	line-height: 1.2;
}

.layout-list {
	position: relative;
	z-index: 1;
	padding: 10px;
}

.layout-list .extra {
	position: absolute;
	z-index: 1;
	right: 12px;
	top: 8px;
}

.layout-list a {
	background: url(images/T1o9toXe8gXXXXXXXX-308-141.png) no-repeat 1px 1px
		;
	border: 1px solid #FFF;
	display: inline-block;
	height: 41px;
	margin-right: 20px;
	padding: 1px;
	width: 151px;
	cursor: pointer;
}

.layout-list a:hover,.layout-list a.selected {
	border-color: #ffc500;
}

.layout-list .l-grid-s5m0 {
	background-position: 1px -48px;
}

.layout-list .l-grid-m0s5 {
	background-position: -156px -48px;
}

.layout-list .l-grid-s5m0e5 {
	background-position: 1px -99px;
}

.layout-list .l-grid-m0s5e5 {
	background-position: -156px -99px;
}

.layout-list .l-grid-s5e5m0 {
	background-position: -156px 1px;
}

.l-sm bd a,.l-sme bd a {
	display: none;
}

.l-sm .l-grid-s5m0,.l-sm .l-grid-m0s5,.l-sme .l-grid-s5m0e5,.l-sme .l-grid-m0s5e5,.l-sme .l-grid-s5e5m0
	{
	display: inline-block;
}

div.ui-dd {
	cursor: default;
}

.page-edit .dd-temp {
	border: 1px dashed #f00;
	background: #fff;
}

.dd-temp * {
	visibility: hidden;
}

.ui-dialog-mask {
	background-color: #000;
	opacity: .3;
	filter: alpha(opacity =                                                   30)
		;
}

.mods-list {
	padding-left: 155px;
	background-color: #EFEFEF;
	zoom: 1;
}

.mods-list .dialog-nav {
	margin-left: -155px;
}

.mods-list .dialog-panel {
	height: 365px;
	padding: 10px;
	overflow: auto;
	background-color: #fff;
}

.mods-list .dialog-panel li {
	padding: 5px 0;
	zoom: 1;
}

.mods-list .dialog-panel li:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}

.mods-list .dialog-panel li img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border: 1px solid #ccc;
}

.mods-list .dialog-panel li p {
	float: left;
	width: 290px;
	_width: 280px;
}

.mods-list .dialog-panel .tips {
	float: none;
	width: 400px;
	padding: 5px 0 5px 10px;
	border: 1px solid #FFCC7F;
	background-color: #FFFFE5;
}

.mods-list .dialog-panel .btn-ok {
	float: left;
	margin: 10px 0 0 20px;
}

.mods-list .dialog-panel strong {
	display: block;
	margin-bottom: 3px;
	font-weight: 700;
	line-height: 1.2;
}

.subbar-switch {
	width: 400px;
	height: 350px;
	position: absolute;
	top: 135px;
	left: 650px;
}

.subbar-switch strong {
	display: block;
	margin-bottom: 5px;
	font-weight: 700;
}

.subbar-switch .display {
	float: left;
	width: 100px;
	margin-right: 5px;
	position: relative;
	z-index: 1;
}

.subbar-switch .sub {
	display: block;
	width: 50px;
	height: 50px;
	border: solid 1px #BBCBDA;
	padding: 2px;
	margin-bottom: 5px;
}

.subbar-switch .sub span {
	float: left;
	width: 44px;
	height: 44px;
	display: block;
	border: solid 1px #BBCBDA;
	padding: 2px;
	margin-bottom: 5px;
}

.subbar-switch .display .sub-min {
	width: 10px;
}

.subbar-switch .display .main-min {
	float: right;
	width: 26px;
}

.subbar-switch .preview {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	left: -300px;
	top: 0;
	width: 286px;
	height: 320px;
}

.subbar-switch .display:hover .preview,.subbar-switch .hover .preview {
	visibility: visible;
}

#content .page-edit .layout {
	position: relative;
	margin-top: 40px;
}

.layout-bar {
	position: absolute;
	top: 0px;
	right: -95px;
	overflow: visible;
	z-Index: 998;
	height: 30px;
	width: 100px;
}

.layout-bar a {
	display: inline-block;
	padding: 2px 8px;
	margin: .3em;
	background-color: #000;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}

.layout-bar-up,.layout-bar-down {
	background: url(images/T1H10SXl0dXXXXXXXX.png) no-repeat;
	vertical-align: middle;
	padding: 10px;
	width: 4px;
	height: 18px;
	_margin-top: -1px !important;
}

.layout-bar-up {
	background-position: -67px -84px;
}

.layout-bar-down {
	background-position: -85px -84px;
}

.layout-bar-up span,.layout-bar-down span {
	display: none;
}